Repository OpenModelica/OpenModelica, pull requests merged in 2020-09, with the labels that each got.

#6721 disabled omc C- API library in cpp runtime build
  OMCompiler/SimulationRuntime/OMSICpp/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/src/OMC.cpp
  OMCompiler/SimulationRuntime/cpp/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/Ranking.cpp
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/ReduceDAESettings.cpp
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/ReduceDAESettings.xml
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/Reduction.cpp
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/com/ModelicaCompiler.cpp
  OMCompiler/SimulationRuntime/cpp/Core/ReduceDAE/com/OMCTest.cpp
  OMCompiler/SimulationRuntime/cpp/Makefile.omdev.mingw
  OMCompiler/SimulationRuntime/cpp/omcCAPI/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/omcCAPI/include/OMC.h
  OMCompiler/SimulationRuntime/cpp/omcCAPI/include/OMCAPI.h
  OMCompiler/SimulationRuntime/cpp/omcCAPI/include/OMCFunctions.h
  OMCompiler/SimulationRuntime/cpp/omcCAPI/readme.md
  OMCompiler/SimulationRuntime/cpp/omcCAPI/src/OMC.cpp
  OMCompiler/SimulationRuntime/cpp/omcCAPI/src/OMCTest.cpp
Labels: CI/Build MINGW, CI/Build OSX

#6738 [omsicpp] Merge zeromq extensions for the cpp runtime and the omc c a…
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenOMSICpp.tpl
  OMCompiler/SimulationRuntime/OMSICpp/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/Makefile.omdev.mingw
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/include/OMC.h
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/src/OMC.cpp
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcZeroMQ/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcZeroMQ/include/omcZeromqTask.h
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcZeroMQ/src/omc.cpp
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcZeroMQ/src/omcZeromqTask.cpp
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/SimController/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/SimController/SimController.cpp
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/SimController/threading/Communicator.cpp
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/SimController/threading/SimulationThread.cpp
  OMCompiler/SimulationRuntime/cpp/CMakeLists.txt
Labels: CI/Build MINGW

#6752 more support for replaceable #2079
  .gitignore
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/ReferenceFiles/Makefile
Labels: CI/Build MINGW, CI/Build OSX

#6755 [SimRT] Clarify the defines needed to use GC.
  OMCompiler/Compiler/runtime/Makefile.in
  OMCompiler/Compiler/runtime/Makefile.omdev.mingw
  OMCompiler/SimulationRuntime/c/gc/omc_gc.h
Labels: CI/Build MINGW, CI/Build OSX

#6757 [FMI] Catch asserts in fmi2GetXXX
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
Labels: FMI
