Repository OpenModelica/OpenModelica, pull requests merged in 2021-08, with the labels that each got.

#7728 [janitor] Fix tearing
  OMCompiler/Compiler/BackEnd/Tearing.mo
Labels: COMP/Backend

#7730 Fix redundant debug messages
  OMCompiler/Compiler/BackEnd/BackendDump.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
Labels: COMP/Backend

#7739 Use cmake3 on CentOS7 builds.
  Jenkinsfile
Labels: CI/Build CentOS

#7749 Retain the toggle state of plot curve when re-simulating or updating
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#7727 Only skip tearing if target has sparse solver
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/Backend

#7754 Move configured headers to OMCompiler/
  OMCompiler/.gitignore
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Compiler/runtime/Makefile.common
  OMCompiler/Compiler/runtime/Makefile.in
  OMCompiler/Compiler/runtime/Makefile.omdev.mingw
  OMCompiler/Makefile.in
  OMCompiler/Parser/Makefile.common
  OMCompiler/Parser/Makefile.omdev.mingw
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/Makefile.in
  OMCompiler/configure-post.sh
  OMCompiler/configure.ac
  OMCompiler/omc_config.h
  OMCompiler/omc_config.unix.h.in
  OMCompiler/revision.h.in
Labels: CI/Build MINGW, CI/Build CentOS

#7759 Use the simple grid as default instead of detailed
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMPlot/OMPlot/OMPlotGUI/PlotApplication.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotGrid.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/main.cpp
Labels: COMP/OMEdit

#7751 Always choose der(state) as tearing variable
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/simulation/modelica/tearing/tearingSelect-celMC3.mos
Labels: COMP/Backend

#7771 [BE] fix jacobian array differentiation
  OMCompiler/Compiler/BackEnd/Differentiate.mo
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
Labels: bug, COMP/Backend

#7783 Improve handling of conditional components
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Condition7.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7782 Link to libOpenModelicaRuntimeC
  OMPlot/OMPlot/OMPlotGUI/OMPlotGUI.config.in
  OMPlot/OMPlot/OMPlotGUI/OMPlotGUI.pro
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/main.cpp
Labels: CI/Build MINGW

#7798 Improve handling of deleted connections
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
Labels: COMP/New Instantiation

#7797 Update build section in READMEs to use contrib
  OMCompiler/README-OMDev-MINGW.md
  OMCompiler/README-Windows-WSL.md
  OMCompiler/README.Linux.md
Labels: COMP/Documentation

#7810 Use #C9C9C9 for plot grid lines
  OMPlot/OMPlot/OMPlotGUI/PlotGrid.h
Labels: COMP/OMEdit

#7821 Open the model in Modeling perspective on ctrl + double click
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7822 Use the correct column number when line wrapping is on
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
Labels: COMP/OMEdit

#7823 Improve conditional array type handling
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/IfExpression10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7827 Fix type of virtual component in expandable connector
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7829 Handle nested conditional array types better
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
Labels: COMP/New Instantiation

#7830 Clean up some imports
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/New Instantiation

#7831 Fix Type.sizeOf for complex types
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/New Instantiation
