Repository OpenModelica/OpenModelica, pull requests merged in 2021-06, with the labels that each got.

#7516 Fix #7512
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  testsuite/omsimulator/DualMassOscillator.mos
  testsuite/omsimulator/DualMassOscillator_cs.mos
  testsuite/omsimulator/DualMassOscillator_me.mos
  testsuite/omsimulator/Makefile
  testsuite/omsimulator/Modelica.Mechanics.MultiBody.Examples.Elementary.Pendulum.mos
  testsuite/omsimulator/enumeration.mos
  testsuite/omsimulator/enumeration2.mos
  testsuite/omsimulator/enumeration3.mos
  testsuite/omsimulator/initialization.mos
  testsuite/omsimulator/initialization2.mos
  testsuite/omsimulator/initialization2_omc.mos
  testsuite/omsimulator/initialization_omc.mos
  testsuite/omsimulator/outputState.mos
  testsuite/omsimulator/outputState_omc.mos
  testsuite/omsimulator/reset.mos
  testsuite/omsimulator/resetWithLoops.mos
  testsuite/omsimulator/reset_omc.mos
  testsuite/omsimulator/test03.mos
  testsuite/omsimulator/testDirectionalDerivatives.mos
Labels: COMP/New Instantiation

#7518 Fix function evaluation in the backend with the NF
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/xml/XmlDumpComment.mos
Labels: COMP/FMI, COMP/New Instantiation

#7520 Fill in startOrigin in DAE.VariableAttributes
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
Labels: COMP/New Instantiation

#7523 Change component to element in inner/outer errors
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterMissing1.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterMissing7.mo
Labels: COMP/New Instantiation

#7513 Change relations macro to function
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
Labels: COMP/Runtime

#7527 Fix the rendering on bitmap
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7528 Added a cancel button to add library dialog
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/OMEdit

#7529 Check for null pointer
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/OMEdit

#7510 Change error to warning in spatialDistribution
  OMCompiler/SimulationRuntime/c/simulation/solver/spatialDistribution.c
Labels: COMP/Runtime

#7531 Relax type attribute variability check
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/New Instantiation

#7532 Change outer error to warning when checking model
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/New Instantiation

#7543 Improve simplification of array constructors
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization3.mo
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
Labels: COMP/New Instantiation

#7555 Fix for ticket #6205
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/Codegen, bug

#7557 Show a popup when the global settings are changed
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7558 Save only the selected models on exit
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/OMEdit

#7559 Improve error for name lookup in partial class
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/PartialLookup2.mo
Labels: COMP/New Instantiation

#7546 Generalize use of add_array_scalar in Cpp runtime
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
  OMCompiler/Compiler/Template/CodegenCppCommonOld.tpl
Labels: bug

#7563 Use the round numbers relative to grid
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/OMEdit

#7542 Reject last step in nls homotopy
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  testsuite/simulation/modelica/nonlinear_system/bug_2841.mos
  testsuite/simulation/modelica/start_value_selection/ticket5807.mos
Labels: COMP/Runtime, bug

#7567 Frontend support for function inverses
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFClockKind.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionInverse.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/Template/AbsynToJuliaTV.mo
  OMCompiler/Compiler/Template/DAEDumpTV.mo
  OMCompiler/Compiler/Template/DAEDumpTpl.tpl
  OMCompiler/Compiler/Util/Error.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/flattening/modelica/scodeinst/FunctionInverse1.mo
  testsuite/flattening/modelica/scodeinst/FunctionInverse2.mo
  testsuite/flattening/modelica/scodeinst/FunctionInverseInvalid1.mo
  testsuite/flattening/modelica/scodeinst/FunctionInverseInvalid2.mo
  testsuite/flattening/modelica/scodeinst/FunctionInverseInvalid3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7571 Handle mutually dependent function inverses
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionInverse.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
Labels: COMP/New Instantiation

#7573 Allow partial calls in removed bindings
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/PartialFunction2.mo
Labels: COMP/New Instantiation

#7574 Add support for pre of arrays to Cpp runtime
  OMCompiler/Compiler/Template/CodegenCppCommonOld.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
  OMCompiler/SimulationRuntime/cpp/Core/System/SimVars.cpp
  OMCompiler/SimulationRuntime/cpp/Include/Core/Math/Array.h
  OMCompiler/SimulationRuntime/cpp/Include/Core/System/DiscreteEvents.h
  OMCompiler/SimulationRuntime/cpp/Include/Core/System/ISimVars.h
  OMCompiler/SimulationRuntime/cpp/Include/Core/System/SimVars.h
  OMCompiler/SimulationRuntime/cpp/Include/SimCoreFactory/Policies/FactoryConfig.h
  testsuite/openmodelica/cppruntime/Makefile
  testsuite/openmodelica/cppruntime/distributionsTest.mos
Labels: COMP/New Instantiation, COMP/Runtime, bug

#7576 Fix partial check in record constructors
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/New Instantiation

#7587 Add $cpuTime variable to the variables list if cpu time flag is set
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#7595 Fix #5991
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/CevalRecordArray6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7603 Make the case insensitive comparison for auto completion
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7604 Fix ConvertDAE.makeTypeRecordVar
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/New Instantiation

#7606 Fallback to ASUB if applying subs gets complicated
  OMCompiler/Compiler/FrontEnd/Expression.mo
Labels: bug, enhancement

#7608 Improve handling of conditional components
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/New Instantiation

#7617 Avoid use of StatArray for function results with unknown dimension
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
  testsuite/openmodelica/cppruntime/arrayOperationsTest.mos
  testsuite/openmodelica/cppruntime/mslDistributionsTest.mos
Labels: COMP/Runtime, bug

#7622 Remove the debug message that a variable is not found
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#7618 fix #7534 add --linkType=dynamic|static
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/scripts/Compile.bat
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  doc/UsersGuide/source/omedit.rst
Labels: COMP/Interactive Environment

#7620 Implement METARECORDCALL in Cpp runtime
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
Labels: COMP/Backend, COMP/Runtime, bug

#7625 Fix adding dummy states in index reduction
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/IndexReduction.mo
Labels: COMP/Backend

#7634 Added graphical support for ellipse closure attribute
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/OMEdit

#7636 OpenSuse installs in lib64, fix the copy
  OMCompiler/Compiler/runtime/Makefile.in
  OMCompiler/Compiler/runtime/Makefile.omdev.mingw
  OMCompiler/Makefile.common
Labels: CI/Build MINGW, bug
