Repository OpenModelica/OpenModelica, pull requests merged in 2021-09, with the labels that each got.

#7841 Show the display unit in the diagram layer with the parameter value
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/OMEdit

#7843 Fix typing of assignments
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/IfExpression11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7844 Improve handling of conditional components
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Condition8.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7819 Invent nominal values for derivatives
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/openmodelica/cppruntime/fmu/modelExchange/2.0/testDrumBoiler.mos
  testsuite/openmodelica/cruntime/optimization/benchmark/runDrumBoiler.mos
  testsuite/openmodelica/cruntime/optimization/benchmark/runReduceDrumBoiler.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_01.mos
Labels: enhancement, COMP/SimCode

#7850 Divide the pixmap size with device pixel ratio for labels size
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/OMEdit

#7851 More conditional array type fixes
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
Labels: COMP/New Instantiation

#7855 Improve handling of deleted components
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
Labels: COMP/New Instantiation

#7859 Fix segmentation fault when using KINSOL with LAPACK as linear solver.
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
Labels: COMP/Runtime

#7853 [BE] fix iterator handling in algorithms
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
Labels: bug, COMP/Backend

#7863 Fix expansion of unary minus and not
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/OperationLogicalUnary2.mo
  testsuite/flattening/modelica/scodeinst/OperationUnary2.mo
Labels: COMP/New Instantiation

#7870 Use the hide result value from model_init.xml file
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#7876 Revert "Improve handling of noEvent (#7871)"
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NoEvent3.mo
Labels: COMP/New Instantiation

#7875 [BE] follow up for PR #7853
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
Labels: bug, COMP/Backend

#7877 Load the .mol if is specified to load at startup via settings
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/OMEdit

#7879 Show checkbox to plot for array variables
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: bug, COMP/OMEdit

#7883 Show the library version information in the documentation view
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: enhancement, COMP/OMEdit

#7886 Do not show a checkbox to plot a protected array
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/OMEdit

#7891 Fix DynamicSelect for nfAPI
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/openmodelica/interactive-API/Ticket6167.mos
Labels: COMP/New Instantiation, COMP/Interactive Environment

#7901 Round the connection start and end values
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: bug, COMP/OMSimulator, COMP/OMEdit

#7902 Fix lookup in generated inner components
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
Labels: COMP/New Instantiation

#7905 Implement getInheritedClasses in NFApi.
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Stubs/NFApi.mo
Labels: COMP/Interactive Environment

#7897 Added GUI support for data reconciliation
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOptions.h
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.cpp
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.h
  doc/UsersGuide/source/omedit.rst
Labels: enhancement, COMP/OMEdit

#7906 Speed up OMCProxy::getMessagesStringInternal
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/OMEdit

#7907 Improve #7906
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/OMEdit

#7908 Convert display symbol back to unit
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/OMEdit

#7910 Set C++17 for OMEdit
  OMEdit/OMEdit.pro
Labels: CI/Build MINGW, COMP/OMEdit

#7924 Fix evaluation of String(r, format)
  .CI/compliance-newinst.failures
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  testsuite/flattening/modelica/scodeinst/CevalString1.mo
  testsuite/flattening/modelica/scodeinst/FuncString.mo
Labels: COMP/New Instantiation

#7926 Use icons in the plot window toolbar.
  OMEdit/OMEditLIB/Resources/icons/auto_scale.svg
  OMEdit/OMEditLIB/resource_omedit.qrc
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/Resources/icons/auto_scale.svg
  OMPlot/OMPlot/OMPlotGUI/Resources/icons/fit-to-diagram.svg
  OMPlot/OMPlot/OMPlotGUI/Resources/icons/options.svg
  OMPlot/OMPlot/OMPlotGUI/Resources/icons/print.svg
  OMPlot/OMPlot/OMPlotGUI/Resources/icons/save.svg
  OMPlot/OMPlot/OMPlotGUI/resource_omplot.qrc
Labels: enhancement, COMP/OMEdit

#7927 Added support for co-simulation solver option
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: enhancement, COMP/OMEdit

#7856 Fix issue #7848
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  testsuite/openmodelica/cruntime/simoptions/nlssMinSize.mos
  testsuite/simulation/libraries/msl32/Makefile
  testsuite/simulation/modelica/daemode/testDAEScaling.mos
  testsuite/simulation/modelica/nonlinear_system/problem6_symjac.mos
  testsuite/simulation/modelica/solver/problem1-symSolverImp.mos
  testsuite/simulation/modelica/solver/problem1-symSolverImpSsc.mos
Labels: bug, COMP/Runtime

#7915 Added msvc19 to the build targets
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/OMEdit

#7940 Remove "using namespace std" in OMEdit header
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.h
  OMEdit/OMEditLIB/Debugger/Parser/GDBMIOutput.g
  OMEdit/OMEditLIB/Debugger/Parser/GDBMIParser.cpp
  OMEdit/OMEditLIB/Debugger/Parser/GDBMIParser.h
Labels: CI/Build MINGW, COMP/OMEdit

#7947 Minor formatting for sundials recipe.
  OMCompiler/Makefile.common
Labels: CI/Build MINGW

#7946 Improve handling of DynamicSelect in OMEdit
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
  OMEdit/OMEditLIB/FlatModelica/ExpressionFuncs.cpp
  OMEdit/OMEditLIB/FlatModelica/ExpressionFuncs.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  testsuite/openmodelica/interactive-API/Ticket6167.mos
Labels: COMP/New Instantiation, COMP/OMEdit

#7952 Improve DynamicSelect handling in OMEdit
  OMCompiler/Compiler/FrontEnd/Static.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
  testsuite/openmodelica/interactive-API/Ticket6167.mos
  testsuite/openmodelica/interactive-API/getIconAnnotation.mos
  testsuite/openmodelica/interactive-API/interactive_api_annotations.mos
Labels: COMP/OMEdit

#7954 Exposed Settings.getHomeDir as API function getHomeDirectoryPath
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
Labels: COMP/Interactive Environment

#7955 Add more tests of the Expression class
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/Testsuite/Expression/ExpressionTest.cpp
  OMEdit/Testsuite/Expression/ExpressionTest.h
Labels: COMP/OMEdit
