Repository OpenModelica/OpenModelica, pull requests merged in 2021-04, with the labels that each got.

#7346 Fix DAE conversion of record fields
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
Labels: COMP/New Instantiation

#7347 Fix flattening of conditional expressions
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/New Instantiation

#7350 Tweak handling of binding expressions
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7237 Interactive simulation for SSP models
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.h
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.h
Labels: COMP/OMEdit, COMP/OMSimulator

#7361 Improve variability check
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/New Instantiation

#7363 Do not collapse the variables browser
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
Labels: COMP/OMEdit

#7366 Fix class extends of short class definition
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/ClassExtends9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7367 Add SourceInfo to external sections
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
  testsuite/flattening/modelica/scodeinst/ExtendInherited1.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionInvalidSection1.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections4.mo
Labels: COMP/New Instantiation

#7373 Allow parametric plot of multiple variables against one variable
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMPlot/OMPlot/OMPlotGUI/Legend.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7370 [BE] update array entries in old jacobian
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  testsuite/simulation/modelica/functions_eval/Makefile
  testsuite/simulation/modelica/functions_eval/ReferenceFiles/functionArray.mat
  testsuite/simulation/modelica/functions_eval/functionArray.mos
Labels: COMP/Backend, bug

#7377 Various minor NF fixes
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/FunctionRecordArg3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/xml/XmlDumpComment.mos
Labels: COMP/New Instantiation

#7372 Remove double negation
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/SimCode, bug

#7381 Do not call update of model directly instead use a timer
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/OMEdit

#7382 Handle the path names starting with dot
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/OMEdit

#7383 Partially revert dde0e4c9
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  testsuite/openmodelica/xml/XmlDumpComment.mos
Labels: COMP/New Instantiation

#7284 fix UTF-8 detection in parser
  OMCompiler/Parser/BaseModelica_Lexer.g
Labels: bug

#7386 Remove the footer the hint
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
Labels: COMP/OMEdit

#7387 Improve typing of function calls
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/FuncDefaultArg3.mo
  testsuite/flattening/modelica/scodeinst/FuncDefaultArg4.mo
  testsuite/flattening/modelica/scodeinst/FuncDefaultArg5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7391 Handle empty sections in Sections.toFlatStream
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
Labels: COMP/New Instantiation

#7390 [FE,BE,SimCode] updates array parameter handling
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/Backend, COMP/SimCode, bug

#7397 Automatically pick the right prefix value for axes values
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/runtime/unitparser.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMPlot/OMPlot/OMPlotGUI/OMPlot.h
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotMainWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotMainWindow.h
  OMPlot/OMPlot/OMPlotGUI/PlotPanner.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindowContainer.h
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7398 Fix subscripting of arrays
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/Subscript7.mo
Labels: COMP/New Instantiation

#7405 Ticket 5447
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/PlotZoomer.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7408 Record constructor improvements
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFRestriction.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Util/Error.mo
  testsuite/simulation/modelica/records/Makefile
  testsuite/simulation/modelica/records/RecordConstructor1.mos
Labels: COMP/New Instantiation

#7410 Fixed display of greek micro symbol
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
Labels: COMP/OMEdit

#7414 Try default font for greek-mu
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: COMP/OMEdit

#7418 Use the greek omega instead of Ohm
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7424 Update the plot layout when auto scale is off
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/OMEdit

#7426 Improve ceval of record fields
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding5.mo
  testsuite/flattening/modelica/scodeinst/CevalRecord7.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation
