Repository OpenModelica/OpenModelica, pull requests merged in 2021-12, with the labels that each got.

#8251 Improve saveTotalModelDebug
  OMCompiler/Compiler/Script/TotalModelDebug.mo
Labels: COMP/Interactive Environment

#8252 Rename OMEdit's omc_config.h to omedit_config.h
  OMEdit/.gitignore
  OMEdit/Makefile.omdev.mingw
  OMEdit/Makefile.unix.in
  OMEdit/OMEditLIB/CrashReport/CrashReportDialog.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMEditApplication.h
  OMEdit/configure.ac
  OMEdit/omedit_config.h.in
Labels: COMP/OMEdit

#8250 Fix platforms for FMU export
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#8255 Fix class redeclaration issue
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareClass2.mo
Labels: COMP/New Instantiation

#8259 Don't treat Clock as a reserved name
  OMCompiler/Compiler/FFrontEnd/FBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/flattening/modelica/scodeinst/Clock1.mo
  testsuite/flattening/modelica/scodeinst/Clock2.mo
  testsuite/flattening/modelica/scodeinst/Clock3.mo
  testsuite/flattening/modelica/scodeinst/Clock4.mo
  testsuite/flattening/modelica/scodeinst/Clock5.mo
  testsuite/flattening/modelica/scodeinst/Clock6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8260 ParModelica fixes for the new frontend
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Template/DAEDumpTV.mo
  OMCompiler/Compiler/Template/DAEDumpTpl.tpl
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/ParModelicaBuiltin.mo
Labels: COMP/New Instantiation

#8261 Fix Clock for the old frontend
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/flattening/modelica/scodeinst/Clock2.mo
Labels: COMP/New Instantiation

#8263 Added documentation for install and convert library interfaces
  doc/UsersGuide/source/media/omedit_convert_library.png
  doc/UsersGuide/source/media/omedit_install_library.png
  doc/UsersGuide/source/omedit.rst
Labels: COMP/Documentation

#8264 Fix initial environment when changing frontend
  OMCompiler/Compiler/FrontEnd/Builtin.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  testsuite/flattening/modelica/scodeinst/Clock2.mo
Labels: COMP/New Instantiation, COMP/Interactive Environment

#8265 Add CMake support libs-for-testing.
  CMakeLists.txt
  OMCompiler/Compiler/CMakeLists.txt
  testsuite/CMakeLists.txt
  testsuite/libraries-for-testing/CMakeLists.txt
Labels: COMP/Build System

#8266 Missing file from last commit
  doc/UsersGuide/source/packagemanager.rst
Labels: COMP/Documentation

#8269 Add the new sub elements like FMU, tables etc. at the cursor position
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.h
Labels: COMP/OMSimulator, COMP/OMEdit

#8270 Remove debug printing and report installed libs.
  testsuite/libraries-for-testing/CMakeLists.txt
  testsuite/libraries-for-testing/index.mos
Labels: COMP/Library Testing

#8274 Fix typing of already typed binary expressions
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/IfExpression12.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8276 Use the cursor position also when adding system and connector
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.h
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
Labels: COMP/OMSimulator, COMP/OMEdit

#8257 Added a new interface for data reconciliation
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOptions.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/OMEdit

#8277 Add support for omc-diff and reference files.
  OMPlot/qwt/src/CMakeLists.txt
  testsuite/CMakeLists.txt
  testsuite/ReferenceFiles/CMakeLists.txt
  testsuite/difftool/CMakeLists.txt
  testsuite/libraries-for-testing/Makefile
Labels: COMP/Build System

#8278 Evaluate subscripts in actualStream/inStream
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  testsuite/flattening/modelica/scodeinst/ActualStreamVariability2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8288 Fix handling of function parameters of record type
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/New Instantiation

#8287 Rotate ringBuffer when step size zero
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
Labels: COMP/Runtime

#8289 Fix generation of slice arrays in records.
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/Codegen

#8290 Fix handling of default function arguments
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/FuncDefaultArg6.mo
  testsuite/flattening/modelica/scodeinst/FuncDefaultArg7.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8298 Improve constraining modifiers on classes
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/ConstrainingClassFunc2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8300 Implement pure() operator
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPure1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPure2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8302 Handle function partial application in EvalFunction
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Util/List.mo
Labels: COMP/New Instantiation

#8308 Handle array constructors in Call.unboxArgs
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinEdge2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8301 Improve handling of previous() operator
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPrevious1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPrevious2.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPrevious3.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPrevious4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8314 Adding noClock to NF getSpecialReturnType
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/New Instantiation

#8311 Improve handling of functional arguments
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFPackage.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/FunctionalArg3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/PartialApplication2.mo
Labels: COMP/New Instantiation

#8315 [cmake] Add the testsuite-depends target.
  .CI/common.groovy
  testsuite/CMakeLists.txt
Labels: COMP/Build System

#8322 Improve --dumpFlatModel
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/flattening/modelica/scodeinst/DumpFlatModel1.mo
Labels: COMP/New Instantiation

#8267 Vectorize bindings when using -d=-nfScalarize
  OMCompiler/Compiler/FrontEnd/Static.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NoScalarize2.mo
  testsuite/flattening/modelica/scodeinst/VectorTest.mo
  testsuite/openmodelica/cppruntime/testArrayEquations.mos
  testsuite/openmodelica/cppruntime/testVectorizedBlocks.mos
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
Labels: COMP/New Instantiation

#8326 [NF] fix nested algorithm vectorization
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: bug, COMP/New Instantiation

#8329 Simplify typing of builtin functions
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/CardinalityInvalidArg2.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinBackSample1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinHold1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinNoClock1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPrevious4.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinShiftSample1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSubSample1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSubSample2.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSuperSample1.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSuperSample2.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSymmetric2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8328 Cleanup codegen cref handling
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/Codegen

#8334 Clean up test cases
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecursiveExtends2.mo
  testsuite/flattening/modelica/scodeinst/cond3.mo
  testsuite/flattening/modelica/scodeinst/loop4.mo
  testsuite/flattening/modelica/scodeinst/sts.mo
  testsuite/flattening/modelica/scodeinst/sts.mos
Labels: COMP/New Instantiation

#8337 Fix some uninitialized variable accesses
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#8338 Remove bad guard for synchronous operators
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
Labels: COMP/New Instantiation

#8339 Change sliced crefs to array constructors
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/SlicedCref1.mo
  testsuite/flattening/modelica/scodeinst/SlicedCref2.mo
  testsuite/flattening/modelica/scodeinst/SlicedCref3.mo
Labels: COMP/New Instantiation

#8354 add QStackedWidget for data Reconciliation Algorithm
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOptions.h
Labels: COMP/OMEdit

#8356 Do not expand slices in NF if targeting CPP runtime.
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/New Instantiation, COMP/C++

#8364 interpolate inputs with input_real_derivatives
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  testsuite/omsimulator/Makefile
  testsuite/omsimulator/fmi_interpolate_cs.mos
Labels: COMP/FMI, COMP/OMSimulator

#8367 Remove unused code and unused target.
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/Makefile.common
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/ocl_offcomp.c
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/ocl_offcomp.cpp
Labels: bug, COMP/Runtime

#8368 validate dataReconciliation GUI
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit

#8372 Compile sundials as position independent code.
  OMCompiler/Makefile.common
Labels: COMP/Runtime

#8375 check epsilon greater than 0 for dataReconciliation
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit
