Repository OpenModelica/OpenModelica, pull requests merged in 2021-03, with the labels that each got.

#7246 More fixes for MacOS
  .CI/common.groovy
  Jenkinsfile
  OMCompiler/Makefile.common
Labels: CI/Build OSX

#7247 fix OMParser/Makefile for macOS
  OMParser/Makefile
Labels: CI/Build OSX

#7248 fix build on Ubuntu, use find to copy the sundials libs
  OMCompiler/Makefile.common
Labels: CI/Build OSX

#7258 Improve flattening of bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/New Instantiation

#7262 fix ticket #6403
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
Labels: CI/Build OSX

#7257 Integrated Modelica models simulation output in Messages Browser
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/OMEditLIB/OMEditApplication.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/ArchivedSimulationsWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationProcessThread.cpp
  OMEdit/OMEditLIB/Simulation/SimulationProcessThread.h
  OMEdit/OMEditLIB/Util/OutputPlainTextEdit.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/Testsuite/Homotopy/HomotopyTest.cpp
  OMEdit/Testsuite/Homotopy/HomotopyTest.h
Labels: COMP/OMEdit

#7263 Use monospaced font for structured simulation output
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/OMEdit

#7264 Make the tabs movable
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/OMEdit

#7253 [BE] update max mixed index dump
  OMCompiler/Compiler/BackEnd/DAEMode.mo
  OMCompiler/Compiler/BackEnd/DataReconciliation.mo
  OMCompiler/Compiler/BackEnd/Initialization.mo
  OMCompiler/Compiler/BackEnd/Matching.mo
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/Backend

#7268 Make the Del key work on nested classes
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7269 Just read the old setting when exiting the settings with cancel button
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/OMEdit

#7270 Ask before clearing the recent files list
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/OMEdit

#7276 Don't flatten equations in discarded if-branches
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/IfEquationEval4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7279 Add scroll bars to MSL version selection dialog
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
Labels: COMP/OMEdit

#7266 Adding simple double ended list to C runtime util
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/Makefile.objs
  OMCompiler/SimulationRuntime/c/util/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/util/doubleEndedList.c
  OMCompiler/SimulationRuntime/c/util/doubleEndedList.h
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_15.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug2764.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug3049.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDisableDep.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDiscreteStructe.mos
Labels: COMP/Runtime

#7283 fix the msvc build of SimulationRuntime/c
  OMCompiler/SimulationRuntime/c/util/CMakeLists.txt
Labels: CI/Build MINGW

#7287 Add equationIndex to function_storeDelayed
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/SimCode

#7289 Reset the inherited classes before fetching the new ones
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#7282 Do not allow to run second simulation of the same model
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit

#7291 Do not force maximize OMEdit window
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/OMEdit

#7288 Stop hybrid solver when it failed multiple times.
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
Labels: COMP/Runtime

#7298 Preserve the last node to skip the unnecessary lookups
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/OMEdit

#7286 Documentation and asserts for rational.c
  OMCompiler/SimulationRuntime/c/util/rational.c
  OMCompiler/SimulationRuntime/c/util/rational.h
Labels: COMP/Runtime

#7295 Terminal process need a flag for new console
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7292 [BE] add fallback case for time differentiation
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/BackendEquation.mo
  OMCompiler/Compiler/BackEnd/Differentiate.mo
Labels: COMP/Backend

#7300 Toggle the sign of plotted curve
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/OMEdit

#7296 Adding code documentation to synchronous and log flag
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.h
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/omc_error.h
Labels: COMP/Runtime

#7299 Adding spatialDistribution to Backend and C runtime
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/Makefile.objs
  OMCompiler/SimulationRuntime/c/RuntimeSources.mo.cmake
  OMCompiler/SimulationRuntime/c/RuntimeSources.mo.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation/solver/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/simulation/solver/epsilon.h
  OMCompiler/SimulationRuntime/c/simulation/solver/initialization/initialization.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_qss_simulation.c.inc
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
  OMCompiler/SimulationRuntime/c/simulation/solver/spatialDistribution.c
  OMCompiler/SimulationRuntime/c/simulation/solver/spatialDistribution.h
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/omc_error.h
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  testsuite/Makefile
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_15.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug2764.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug3049.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDisableDep.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDiscreteStructe.mos
  testsuite/simulation/modelica/spatialDistribution/Makefile
  testsuite/simulation/modelica/spatialDistribution/TestSpatialDiscretization.mo
  testsuite/simulation/modelica/spatialDistribution/bigSteps.mos
  testsuite/simulation/modelica/spatialDistribution/helloSpatialDistribution.mos
  testsuite/simulation/modelica/spatialDistribution/initSpatialDistribution.mos
  testsuite/simulation/modelica/spatialDistribution/mixedVelocity.mos
  testsuite/simulation/modelica/spatialDistribution/negativeVelocity.mos
  testsuite/simulation/modelica/spatialDistribution/pulseInput.mos
  testsuite/simulation/modelica/spatialDistribution/test1.mos
  testsuite/simulation/modelica/spatialDistribution/test2.mos
  testsuite/simulation/modelica/spatialDistribution/test3.mos
Labels: COMP/Backend, COMP/Runtime, COMP/SimCode

#7302 Use dark orange instead of yellow color for plot curve
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
Labels: COMP/OMEdit

#7311 Added a context menu item for toggle sign
  OMPlot/OMPlot/OMPlotGUI/Legend.cpp
  OMPlot/OMPlot/OMPlotGUI/Legend.h
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7313 Fix unassigned variable in NFCall
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/FuncUnknownDim3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7315 Use QHash instead of QList when reading result variables
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/OMEdit

#7316 Improve formatting of exit codes
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/TLM/FetchInterfaceDataThread.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationThread.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7317 Use Qt's builtin json functionality if possible
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7322 Read the variables from model_init.xml file
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit

#7323 Implement support for implicit iteration ranges
  .CI/compliance-newinst.failures
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeAlg1.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeAlg2.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeEq1.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeEq2.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeEq3.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeExp1.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeExp2.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeInvalid1.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeInvalid2.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeInvalid3.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeType1.mo
  testsuite/flattening/modelica/scodeinst/ImplicitRangeType2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7325 Fix memory leak in solveNewton
  OMCompiler/SimulationRuntime/c/simulation/solver/newtonIteration.c
  OMCompiler/SimulationRuntime/c/simulation/solver/newtonIteration.h
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverNewton.c
Labels: COMP/Runtime, bug

#7329 Fix performance of transformational debugger
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7336 Use the right values for rectangle to render the view
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7337 Use the right values for rectangle to render the view (#7336)
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7339 Fix OMEdit csv export
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/OMEdit

#7340 Fix OMEdit csv export (#7339)
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/OMEdit

#7342 Improve handling of binding expression.
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute21.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding1.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding2.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding3.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding4.mo
  testsuite/flattening/modelica/scodeinst/ClassExtendsMod2.mo
  testsuite/flattening/modelica/scodeinst/ClassMod6.mo
  testsuite/flattening/modelica/scodeinst/Each5.mo
  testsuite/flattening/modelica/scodeinst/Each6.mo
  testsuite/flattening/modelica/scodeinst/InStreamArray.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/xml/XmlDumpComment.mos
  testsuite/simulation/modelica/jacobian/reuseConstantPartsJac1.mos
Labels: COMP/New Instantiation

#7341 Adding try-catch blocks around non-linear solver
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
Labels: COMP/Runtime

#7344 Improve handling of invalid class sections
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections1.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections2.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections3.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections4.mo
  testsuite/flattening/modelica/scodeinst/FunctionSections5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation
