Repository OpenModelica/OpenModelica, pull requests merged in 2021-07, with the labels that each got.

#7638 Fix unlifting of array types in ffi runtime
  OMCompiler/Compiler/runtime/ffi_omc.c
Labels: COMP/New Instantiation

#7626 Flattening fixes
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/New Instantiation

#7642 Expand calls with multiple iterators
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinReduction.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization2.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization5.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorizationBuiltin.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorizationMap1.mo
Labels: COMP/New Instantiation

#7644 Simplify min/max reductions more
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinReduction.mo
Labels: COMP/New Instantiation

#7641 Implement product operator and DIV_SCALAR_ARRAY in Cpp runtime
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
  OMCompiler/SimulationRuntime/cpp/Core/Math/ArrayOperations.cpp
  OMCompiler/SimulationRuntime/cpp/Include/Core/Math/ArrayOperations.h
  testsuite/openmodelica/cppruntime/arrayOperationsTest.mos
Labels: COMP/Runtime, bug

#7647 Implement const element access in DynArrayDim3
  OMCompiler/SimulationRuntime/cpp/Include/Core/Math/Array.h
Labels: COMP/Runtime, bug

#7648 Fix Cpp writeLhsCref to not use ArraySliceConst on lhs
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
Labels: COMP/Runtime, bug

#7643 Don't dump equations into Cpp FMU sources
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
Labels: COMP/Runtime, enhancement

#7653 Initial CheckModel implementation for the NF
  OMCompiler/Compiler/NFFrontEnd/NFCheckModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/New Instantiation

#7656 Only add the prefix if the variable has a unit
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/OMEdit

#7663 Do not allow plotting variables that do not exist in the result file
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/OMEdit

#7664 Avoid declaration of StatArray with unknown dimension
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
Labels: COMP/Runtime, bug

#7658 Extend Cpp template expTypeFromExpFlag according to C version
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
Labels: COMP/Runtime, bug

#7670 Fix editing of legend titles
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: COMP/OMEdit

#7668 Clean up SimCode a bit
  OMCompiler/Compiler/BackEnd/HpcOmMemory.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/SimCode

#7673 attempt to fix perl hangs and print some info
  .CI/common.groovy
  testsuite/partest/runtests.pl
Labels: CI/Build MINGW

#7695 Change selection logic of sparse solvers
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  testsuite/simulation/libraries/msl32/Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder.mos
  testsuite/simulation/libraries/msl32/Modelica.Mechanics.MultiBody.Examples.Loops.EngineV6.mos
  testsuite/simulation/modelica/linear_system/EngineV6_partlintorn.mos
  testsuite/simulation/modelica/linear_system/NPendulum.mos
  testsuite/simulation/modelica/linear_system/NPendulum40.mos
  testsuite/simulation/modelica/others/EngineV6_output.mos
  testsuite/simulation/modelica/tearing/Tearing12-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing7-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing8-minimal.mos
Labels: COMP/Runtime

#7724 Fix freeMemory in fmi export
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
Labels: COMP/FMI

#7721 Return EXIT(1) for invalid runtime flags
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
Labels: COMP/Runtime

#7726 Use size_t to avoid overflow for large int values
  OMCompiler/SimulationRuntime/c/gc/memory_pool.c
Labels: COMP/FMI, COMP/Runtime

#7729 Check if the co-ordinate value is 0.0
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.cpp
Labels: COMP/OMEdit
