Repository OpenModelica/OpenModelica, pull requests merged in 2021-02, with the labels that each got.

#7112 Highlight the active LibraryTreeItem
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7090 Updated code to get rid of deprecated warnings
  OMCompiler/Compiler/Template/GenerateAPIFunctionsTpl.tpl
  OMEdit/OMEditGUI/OMEditGUI.pro
  OMEdit/OMEditLIB/Animation/GLWidget.h
  OMEdit/OMEditLIB/Animation/OpenGLWidget.h
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.h
  OMEdit/OMEditLIB/Animation/Visualizer.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Debugger/GDB/CommandFactory.cpp
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Editors/CEditor.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Editors/HTMLEditor.cpp
  OMEdit/OMEditLIB/Editors/MetaModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/OMSimulatorEditor.cpp
  OMEdit/OMEditLIB/Editors/TextEditor.cpp
  OMEdit/OMEditLIB/Element/CornerItem.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.h
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.h
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/OpcUaClient.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationDialog.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/diff_match_patch.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7129 Increase the timeout for OMEdit homotopy simulation test
  OMEdit/Testsuite/Homotopy/HomotopyTest.cpp
Labels: COMP/OMEdit

#7136 Refactor argument mapping in EvalFunction
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
Labels: New Instantiation

#7137 Fix evaluation of external LAPACK functions
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
Labels: COMP/New Instantiation

#7118 Enable the rename context menu item
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMS/ElementPropertiesDialog.cpp
Labels: COMP/OMEdit, COMP/OMSimulator

#7142 Simplify external function call arguments
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/Ticket5821.mo
Labels: COMP/New Instantiation

#7157 Fix #7156
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  testsuite/flattening/modelica/scodeinst/Inline2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7152 Use the model name instead of fully qualified path
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationProcessThread.cpp
Labels: COMP/OMEdit

#7135 Run the SSP model simulation as separate process
  OMCompiler/Makefile.common
  OMEdit/OMEditGUI/OMEditGUI.unix.config.pri.in
  OMEdit/OMEditGUI/OMEditGUI.win.config.pri
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.h
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationProcessThread.cpp
  OMEdit/OMEditLIB/Simulation/SimulationProcessThread.h
  OMEdit/OMEditLIB/TLM/FetchInterfaceDataDialog.cpp
  OMEdit/OMEditLIB/TLM/FetchInterfaceDataDialog.h
  OMEdit/OMEditLIB/TLM/FetchInterfaceDataThread.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationOutputWidget.h
  OMEdit/OMEditLIB/TLM/TLMCoSimulationThread.cpp
  OMEdit/OMEditLIB/Util/OutputPlainTextEdit.cpp
  OMEdit/OMEditLIB/Util/OutputPlainTextEdit.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: CI/Build CentOS, CI/Build MINGW, COMP/OMEdit, COMP/OMSimulator

#7141 Free synchronus data again
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.h
Labels: COMP/Runtime

#7172 Allow collapsing the Libraries Browser
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/OMEdit

#7179 Pass the command line options to simulation server
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
Labels: COMP/OMEdit, COMP/OMSimulator

#7189 Do not force the simulation log file name to be fully qualified
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/Testsuite/Homotopy/HomotopyTest.cpp
Labels: COMP/OMEdit

#7190 Close the result file when the VariablesTreeItem is removed
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/OMEdit

#7191 Quote simulation options
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/OMEdit, COMP/OMSimulator

#7198 Added a new button "Fit to Diagram"
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Resources/icons/fit-to-diagram.svg
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  OMEdit/OMEditLIB/resource_omedit.qrc
Labels: COMP/OMEdit

#7178 Implement external function evaluation with libffi
  .CI/common.groovy
  Makefile.in
  OMCompiler/Compiler/GenerateOMCHeader.mos
  OMCompiler/Compiler/Makefile.in
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Util/Error.mo
  OMCompiler/Compiler/Util/FFI.mo
  OMCompiler/Compiler/Util/System.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  OMCompiler/Compiler/boot/Makefile.common
  OMCompiler/Compiler/boot/Makefile.omdev.mingw
  OMCompiler/Compiler/boot/tarball-include/OpenModelicaBootstrappingHeader.h
  OMCompiler/Compiler/runtime/Makefile.common
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/Compiler/runtime/ffi_omc.c
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Makefile.common
  OMCompiler/configure.ac
  testsuite/Makefile
  testsuite/flattening/modelica/ffi/ArrayResult1.mos
  testsuite/flattening/modelica/ffi/Boolean1.mos
  testsuite/flattening/modelica/ffi/Boolean2.mos
  testsuite/flattening/modelica/ffi/Enum1.mos
  testsuite/flattening/modelica/ffi/Enum2.mos
  testsuite/flattening/modelica/ffi/Enum3.mos
  testsuite/flattening/modelica/ffi/FFITest/Resources/BuildProjects/gcc/Makefile
  testsuite/flattening/modelica/ffi/FFITest/Resources/C-Sources/FFITestLib.c
  testsuite/flattening/modelica/ffi/FFITest/package.mo
  testsuite/flattening/modelica/ffi/Integer1.mos
  testsuite/flattening/modelica/ffi/Integer2.mos
  testsuite/flattening/modelica/ffi/Makefile
  testsuite/flattening/modelica/ffi/MissingFunction1.mos
  testsuite/flattening/modelica/ffi/ModelicaIO_readRealMatrix.mos
  testsuite/flattening/modelica/ffi/ModelicaInternal_countLines.mos
  testsuite/flattening/modelica/ffi/ModelicaStrings_scanInteger.mos
  testsuite/flattening/modelica/ffi/ModelicaStrings_scanReal.mos
  testsuite/flattening/modelica/ffi/ModelicaStrings_scanString.mos
  testsuite/flattening/modelica/ffi/OpenModelica_regex.mos
  testsuite/flattening/modelica/ffi/Real1.mos
  testsuite/flattening/modelica/ffi/Real2.mos
  testsuite/flattening/modelica/ffi/Real3.mos
  testsuite/flattening/modelica/ffi/RealArray1.mos
  testsuite/flattening/modelica/ffi/Record1.mos
  testsuite/flattening/modelica/ffi/Record2.mos
  testsuite/flattening/modelica/ffi/Record3.mos
  testsuite/flattening/modelica/ffi/Record4.mos
  testsuite/flattening/modelica/ffi/Record5.mos
  testsuite/flattening/modelica/ffi/String1.mos
  testsuite/flattening/modelica/ffi/String2.mos
  testsuite/flattening/modelica/ffi/StringArray1.mos
  testsuite/flattening/modelica/ffi/matrix.mat
Labels: COMP/New Instantiation

#7203 Improve the behavior of "Fit to Diagram" button
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/OMEdit

#7155 Add synchronous features to C FMUs
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.h
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  testsuite/omsimulator/Makefile
  testsuite/omsimulator/testSynchronousFMU_01.mos
  testsuite/omsimulator/testSynchronousFMU_02.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/BooleanNetwork1.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/BouncingBall.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/BouncingBallSourceFMU.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/BouncingBall_me_FMU.mo
  testsuite/openmodelica/fmi/ModelExchange/1.0/CoupledClutches.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/EnumerationTest.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/HelloFMIWorld.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/InOutTest.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/IntegerNetwork1.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/JuliansBib.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/Makefile
  testsuite/openmodelica/fmi/ModelExchange/1.0/Modelica.Blocks.Sources.BooleanPulse.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/Modelica.Electrical.Analog.Examples.ChuaCircuit.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/Modelica_Mechanics_MultiBody_Examples_Elementary_DoublePendulum.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/Modelica_Mechanics_MultiBody_Examples_Elementary_Pendulum.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/Pendulum.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/SampleExample.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/StringParameters.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/TanksConnectedPI.mo
  testsuite/openmodelica/fmi/ModelExchange/1.0/TanksConnectedPI.mos
  testsuite/openmodelica/fmi/ModelExchange/1.0/testAssert.mos
Labels: COMP/FMI, COMP/Runtime

#7206 Fix reading the SSP model simulation progress
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.h
Labels: COMP/OMEdit, COMP/OMSimulator

#7207 fix for ticket #6348
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/SimulationRuntime/c/util/base_array.c
Labels: CI/Build MINGW

#7199 Remove the 'old' signal filter
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.h
Labels: COMP/OMEdit, COMP/OMSimulator

#7208 Improve flattening of complex bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/New Instantiation

#7183 partial handling of ticket #5827
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
Labels: CI/Build MINGW

#7209 Make FFI less crashy
  OMCompiler/Compiler/runtime/ffi_omc.c
Labels: COMP/New Instantiation

#7214 Do not use hard coded center values
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#7211 Ask the user which version of MSL to load and save that settings
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
Labels: COMP/OMEdit

#7215 Keep the NFApi settings
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit

#7218 Set the nfapi on startup
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/OMEdit

#7220 Improve merging of modifiers with constraining type
  .CI/compliance-newinst.failures
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
Labels: COMP/New Instantiation

#7223 Remove obsolete api cancelSimulation_asynchronous
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptOMSimulator.mo
  OMCompiler/Compiler/Util/OMSimulator.mo
  OMCompiler/Compiler/runtime/OMSimulator_omc.c
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
Labels: COMP/OMEdit, COMP/OMSimulator

#7221 fixes for #5827 and ffi
  Makefile.omdev.mingw
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/runtime/omc_config.h
  testsuite/flattening/modelica/ffi/FFITest/Resources/BuildProjects/gcc/Makefile
Labels: CI/Build MINGW

#7219 Prepare for 117 beta2
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
  OMCompiler/SimulationRuntime/c/util/base_array.c
Labels: CI/Build MINGW

#7224 Integrate the SSP models simulation output in Messages Browser
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationDialog.h
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.h
  OMEdit/OMEditLIB/Simulation/ArchivedSimulationsWidget.cpp
  OMEdit/OMEditLIB/Simulation/ArchivedSimulationsWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit, COMP/OMSimulator

#7226 fix ticket #6396
  .CI/common.groovy
  OMCompiler/Compiler/boot/Makefile.omdev.mingw
  OMCompiler/Compiler/runtime/systemimpl.c
Labels: CI/Build MINGW

#7231 Round the numbers to grid size
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#7230 Check array length in collapseArrayExpressions
  OMCompiler/Compiler/BackEnd/BackendDAETransform.mo
Labels: COMP/Backend

#7233 Better integration of creation and opening of SSP models in menu
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit

#7234 Utilize the vertical space
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
Labels: COMP/OMEdit

#7235 Set the focus on name when adding sub models
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
Labels: COMP/OMEdit
