Repository OpenModelica/OpenModelica, pull requests merged in 2021-10, with the labels that each got.

#7956 Downgrade OMEditLIB to c++14
  OMEdit/OMEdit.pro
  OMEdit/OMEditLIB/OMEditLIB.pro
Labels: COMP/OMEdit, CI/Skip CMake Build

#7963 Document Expression and fix some design issues
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
  OMEdit/OMEditLIB/FlatModelica/ExpressionFuncs.cpp
Labels: COMP/OMEdit

#7964 Fix GDBMIParser
  OMEdit/OMEditLIB/Debugger/Parser/GDBMIParser.cpp
Labels: COMP/OMEdit

#7967 Strip DynamicSelect where not yet supported
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/OMEdit

#7968 Improve Expression class in OMEdit
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
  OMEdit/Testsuite/Expression/ExpressionTest.cpp
Labels: COMP/OMEdit

#7976 Fix constant evaluation in annotations
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/Interactive Environment

#7903 New balance initialization
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendEquation.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/Initialization.mo
  OMCompiler/Compiler/BackEnd/Sorting.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/openmodelica/cruntime/optimization/basic/TFC6.mos
  testsuite/openmodelica/cruntime/optimization/basic/testAlgLoop6.mos
  testsuite/openmodelica/debugDumps/optdaedump.mos
  testsuite/simulation/libraries/3rdParty/PlanarMechanics/PlanarMechanicsForTesting.Examples.TestIdealWheel.mos
  testsuite/simulation/libraries/msl31/Modelica.Mechanics.MultiBody.Examples.Loops.Fourbar2.mos
  testsuite/simulation/modelica/algorithms_functions/InverseAlgorithm4.mos
  testsuite/simulation/modelica/indexreduction/ASSC.mo
  testsuite/simulation/modelica/indexreduction/ASSC.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Electrical.Test3PhaseSystemsFullInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipeLumpedPressureInitialization.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipesSeriesLargeNSteadyStateInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipesSeriesSteadyStateInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.TwoVolumesEquationsFullSteadyStateMassAndEnergy.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.TwoVolumesEquationsFullSteadyStatePressureAndTemperature.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.TwoVolumesFullSteadyStatePressureAndTemperature.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Mechanical.TwoMassesFullInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Mechanical.TwoMassesFullInitialInconsistent.mos
  testsuite/simulation/modelica/initialization/SingularInitial.mos
  testsuite/simulation/modelica/initialization/bug_2263.mos
  testsuite/simulation/modelica/initialization/bug_2566.mos
  testsuite/simulation/modelica/initialization/bug_2583.mos
  testsuite/simulation/modelica/msl22/Test3PhaseInitOver.mos
  testsuite/simulation/modelica/start_value_selection/UnevaluateableFixedAttribute.mos
  testsuite/simulation/modelica/synchronous/TestClockParameterEvaluation.mos
Labels: enhancement, COMP/Backend

#7981 Fix memory leaks
  OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.h
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_error.c
Labels: bug, COMP/Runtime

#7993 Return the element annotations for Access level icon
  OMCompiler/Compiler/Script/Interactive.mo
Labels: bug, COMP/Interactive Environment

#7995 Fix unary expression in FlatModelica::Expression
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/Testsuite/Expression/ExpressionTest.cpp
Labels: COMP/OMEdit

#8028 Fix behaviour of StringHandler::getStrings
  OMEdit/OMEditLIB/Util/StringHandler.cpp
Labels: COMP/OMEdit

#8049 Never select CSE var as iteration var
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
Labels: COMP/Backend
