Repository OpenModelica/OpenModelica, pull requests merged in 2021-05, with the labels that each got.

#7430 Fix #7428
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/ConstrainingClassFunc1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7431 Validate the Modelica text when toolbar button is pressed
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#7434 Fix possible use of unassigned variable
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/New Instantiation

#7435 Fix #7432
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
Labels: COMP/New Instantiation

#7404 Add test for OpenModelica/OMSimulator#1011
  testsuite/omsimulator/Makefile
  testsuite/omsimulator/enumeration3.mos
Labels: COMP/OMSimulator

#7437 Enable high dpi scaling
  OMEdit/OMEditGUI/main.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/OMEdit

#7438 Handle the *.lnk file links
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#7452 Highlight that evaluate all parameters does not work with old frontend
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.cpp
Labels: COMP/OMEdit

#7453 Update the derived component when the base component is updated
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/OMEdit

#7459 Added context menu item for copy path
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
Labels: COMP/OMEdit

#7461 Ask user to switch to new frontend on startup
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/OMEdit

#7463 Only setup Kinsol solver once
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
Labels: COMP/Runtime

#7464 Fix memory leak of model info xml data
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
Labels: COMP/Runtime

#7470 Push the resize element change of OMS models on the undo stack
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/OMEdit, COMP/OMSimulator

#7471 Fix for "Fix memory leak of model info xml data" #7464
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c
Labels: COMP/Runtime

#7478 Use annotation __OpenModelica_commandLineOptions in buildModelFMU
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_01.mos
Labels: COMP/FMI

#7479 Do not log all the OMC commands by default
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/OMEdit, enhancement

#7481 Use high dpi pixmaps flag
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/OMEdit

#7483 Timeout the model update timer after 0.5 secs
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/OMEdit, bug

#7496 Fix #7486
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/IfExpression8.mo
  testsuite/flattening/modelica/scodeinst/IfExpression9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7454 [BE] reactivate resolveLoops/reshuffleLoops
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/debugDumps/lateInline.mos
  testsuite/openmodelica/debugDumps/optdaedump.mos
  testsuite/simulation/libraries/msl32/Modelica.Electrical.Machines.Examples.AsynchronousInductionMachines.AIMC_DOL.mos
  testsuite/simulation/modelica/indexreduction/ASSC.mos
  testsuite/simulation/modelica/linear_system/linSymSol.mos
  testsuite/simulation/modelica/resolveLoops/Circuit1x.mos
  testsuite/simulation/modelica/resolveLoops/Circuit2x.mos
  testsuite/simulation/modelica/resolveLoops/Circuit4x.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit1.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit2.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit3.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit4.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit5.mos
  testsuite/simulation/modelica/resolveLoops/ElectricalCircuit6.mos
  testsuite/simulation/modelica/start_value_selection/asmaFlow.mos
  testsuite/simulation/modelica/tearing/Tearing10-cel.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC11.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC12.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC13.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC21.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC22.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC23.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC231.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC3.mos
  testsuite/simulation/modelica/tearing/Tearing10-celMC4.mos
  testsuite/simulation/modelica/tearing/Tearing10-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing10-omc.mos
  testsuite/simulation/modelica/tearing/Tearing6-cel.mos
  testsuite/simulation/modelica/tearing/Tearing6-celMC3.mos
  testsuite/simulation/modelica/tearing/Tearing6-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing6-omc.mos
  testsuite/simulation/modelica/tearing/Tearing7-omc.mos
Labels: COMP/Backend

#7497 Allow creating a connector when making a connection
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/OMEdit, enhancement

#7498 Fix purity handling in typing of fill
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFPrefixes.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinFill3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#7499 Hide the empty tab in the parameters window
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/OMEdit

#7504 Fix #6188
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareMod8.mo
Labels: COMP/New Instantiation

#7505 Fix #6221
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
Labels: COMP/New Instantiation
