Repository OpenModelica/OpenModelica, pull requests merged in 2021-11, with the labels that each got.

#8071 Escape the string when editing the text annotation
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
Labels: COMP/OMEdit

#8072 Set current directory for license file when parsing encrypted library
  OMCompiler/Compiler/Script/CevalScript.mo
Labels: COMP/Interactive Environment

#8074 Fix #7835
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/CevalRecordArray9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8078 Make it possible to set value in display unit
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/OMEdit

#8083 Fix evaluation of split and/or expressions
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  testsuite/flattening/modelica/scodeinst/CevalRecordArray10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8089 Skip linking `-lm` for the detected lapack
  OMCompiler/m4/lapack.m4
Labels: CI/Skip CMake Build

#8095 Fix #8094
  OMCompiler/Compiler/NFFrontEnd/NFConnection.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFPrefixes.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector6.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector7.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector8.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8096 Implement -d=printStructuralParameters for NF
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/New Instantiation

#8100 Update the Libraries Browser with CLI commands
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/OMEdit

#8107 Use output path for nonlinear solver homotopy csv logging
  OMCompiler/SimulationRuntime/c/simulation/solver/initialization/initialization.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
Labels: CI/Skip CMake Build

#8103 Implement obfuscation feature for saveTotalModel
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  OMCompiler/Compiler/Util/StringUtil.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation1.mos
Labels: COMP/Interactive Environment

#8101 Never select CSE vars in minimalTearing
  OMCompiler/Compiler/BackEnd/Tearing.mo
  testsuite/simulation/modelica/tearing/Tearing15-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing16-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing18-minimal.mos
Labels: COMP/Backend

#8110 Created a separate dialog for saveTotalModel api options
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/OMEdit

#8117 Simplify for-statements more
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  testsuite/flattening/modelica/scodeinst/ForStatement3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8126 Implement new API function saveTotalModelDebug
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/TotalModelDebug.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/Interactive Environment

#7933 Let each nonlinear system select its own solver
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_error.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  testsuite/openmodelica/cruntime/simoptions/nlssMinSize.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/simulation/libraries/msl32/Makefile
  testsuite/simulation/libraries/msl32/Modelica.Electrical.QuasiStationary.Machines.Examples.TransformerTestbench.mos
  testsuite/simulation/libraries/msl32/Modelica.Fluid.Examples.BranchingDynamicPipes.mos
  testsuite/simulation/modelica/daemode/testDAEScaling.mos
  testsuite/simulation/modelica/hpcom/Modelica.Fluid.Examples.BranchingDynamicPipes.mos
  testsuite/simulation/modelica/nonlinear_system/problem6_symjac.mos
  testsuite/simulation/modelica/solver/Makefile
  testsuite/simulation/modelica/solver/problem1-symSolverImp.mos
  testsuite/simulation/modelica/solver/problem1-symSolverImpSsc.mos
  testsuite/simulation/modelica/solver/problem2-cvode.mos
Labels: bug, COMP/Runtime

#8112 Fix convertPackage signature
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
Labels: CI/Skip CMake Build

#8134 Fix #8132
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts2.mo
Labels: COMP/New Instantiation

#8142 Fix #8141
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinVector.mo
Labels: COMP/New Instantiation

#8136 Use KLU for nlsLS if Kinsol is selected
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/simulation/libraries/msl32/Makefile
Labels: COMP/Runtime

#8135 Reduce -nlsMinSize default to 1000
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  testsuite/simulation/libraries/msl32/Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder.mos
  testsuite/simulation/libraries/msl32/Modelica.Mechanics.MultiBody.Examples.Loops.EngineV6.mos
  testsuite/simulation/modelica/linear_system/EngineV6_partlintorn.mos
  testsuite/simulation/modelica/others/EngineV6_output.mos
  testsuite/simulation/modelica/tearing/Tearing12-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing7-minimal.mos
  testsuite/simulation/modelica/tearing/Tearing8-minimal.mos
Labels: COMP/Runtime

#8145 Fix #8130
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8139 Update the root package text with uses annotation
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#8140 Fix #8120
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/EmptyArray2.mo
  testsuite/flattening/modelica/scodeinst/EmptyArray3.mo
  testsuite/flattening/modelica/scodeinst/ForStatement3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8151 Add format string to generated infoStreamPrint
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/Codegen

#8156 Added documentation about FMI options
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.cpp
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/OMEdit, documentation

#8169 Improve conversion script API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/PackageManagement.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/mosfiles/EnzMMTotal.mo
  testsuite/openmodelica/conversion/ConvertClass1.mos
  testsuite/openmodelica/conversion/ConvertClass2.mos
  testsuite/openmodelica/conversion/ConvertClass3.mos
  testsuite/openmodelica/conversion/ConvertClass4.mos
  testsuite/openmodelica/conversion/ConvertClass5.mos
  testsuite/openmodelica/conversion/ConvertClass6.mos
  testsuite/openmodelica/conversion/ConvertClass7.mos
  testsuite/openmodelica/conversion/ConvertClass8.mos
  testsuite/openmodelica/conversion/ConvertClassVectorize1.mos
  testsuite/openmodelica/conversion/ConvertClassVectorize2.mos
  testsuite/openmodelica/conversion/ConvertClassVectorize3.mos
  testsuite/openmodelica/conversion/ConvertElement1.mos
  testsuite/openmodelica/conversion/ConvertElement2.mos
  testsuite/openmodelica/conversion/ConvertModifiers1.mos
  testsuite/openmodelica/conversion/ConvertModifiers2.mos
  testsuite/openmodelica/conversion/ConvertModifiers3.mos
  testsuite/openmodelica/conversion/ConvertModifiers4.mos
  testsuite/openmodelica/conversion/ConvertModifiersMissingValue1.mos
  testsuite/openmodelica/conversion/ConvertPackage1.mos
  testsuite/openmodelica/conversion/ConvertPackage2.mos
  testsuite/openmodelica/conversion/ConvertPackageMissingUses.mos
  testsuite/openmodelica/conversion/Makefile
  testsuite/openmodelica/conversion/libs/testlib 2.0.0/Resources/conversion_1_0_0_to_1_0_1.mos
  testsuite/openmodelica/conversion/libs/testlib 2.0.0/Resources/conversion_1_0_1_to_1_0_2.mos
  testsuite/openmodelica/conversion/libs/testlib 2.0.0/Resources/conversion_1_0_2_to_2_0_0.mos
  testsuite/openmodelica/conversion/libs/testlib 2.0.0/package.mo
  testsuite/openmodelica/interactive-API/ConversionVersions.mos
  testsuite/simulation/modelica/msl22/First.mos
  testsuite/simulation/modelica/msl22/IdealGear.mos
  testsuite/simulation/modelica/msl22/IdealGearBrake.mos
Labels: COMP/Interactive Environment

#8189 [Template] better indexing
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/Codegen

#8191 Fix type attributes in functions
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute22.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/xml/XmlDumpComment.mos
Labels: COMP/New Instantiation

#8203 Improve evaluation in ranges
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
Labels: COMP/New Instantiation

#8205 Add a DAE structure for initial for equations
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/DAEDump.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/Template/DAEDumpTV.mo
  OMCompiler/Compiler/Template/DAEDumpTpl.tpl
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NoScalarize1.mo
Labels: COMP/New Instantiation

#8204 Add flag --dumpFlatModel
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/InstVar.mo
  OMCompiler/Compiler/FrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/flattening/modelica/scodeinst/DumpFlatModel1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/bootstrapping/LoadCompilerSources.mos
Labels: COMP/New Instantiation

#8207 Fix updating the element name
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
Labels: COMP/OMEdit

#8212 Convert the parameters to base unit when exporting to csv
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/OMEdit

#8214 Improve flattening without scalarization
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect3.mo
  testsuite/flattening/modelica/scodeinst/PrintRecordTypes1.mo
Labels: COMP/New Instantiation

#8216 Quote for-equation iterator in Flat Modelica
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
Labels: COMP/Flat Modelica

#8218 Improve sorting of local function variables
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/FunctionCompOrder4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8224 Make subscripting functions for -f optional
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  testsuite/openmodelica/flatmodelica/DoublePendulum.mos
  testsuite/openmodelica/flatmodelica/Makefile
  testsuite/openmodelica/flatmodelica/SD.mo
  testsuite/openmodelica/flatmodelica/Tables.mos
Labels: COMP/Flat Modelica

#8225 Add CMake build support for qwt and OMPlot.
  CMakeLists.txt
  OMPlot/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/qwt/CMakeLists.txt
  OMPlot/qwt/src/CMakeLists.txt
Labels: COMP/Build System

#8231 Improve Flat Modelica output
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/openmodelica/flatmodelica/SD.mo
Labels: COMP/Flat Modelica

#8232 Output comments/annotations in Flat Modelica
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModelicaUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/openmodelica/flatmodelica/Comments.mo
  testsuite/openmodelica/flatmodelica/Makefile
Labels: COMP/Flat Modelica

#8226 Issue 8061
  OMEdit/OMEditLIB/CrashReport/CrashReportDialog.cpp
  OMEdit/OMEditLIB/CrashReport/CrashReportDialog.h
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  doc/UsersGuide/source/introduction.rst
  doc/UsersGuide/source/packagemanager.rst
Labels: COMP/OMEdit

#8237 Always use visible = true until #2081 is fixed
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/OMEdit

#8249 Redeclare improvements
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/flattening/modelica/scodeinst/ConstrainingClass3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation
