Repository OpenModelica/OpenModelica, pull requests merged in 2022-03, with the labels that each got.

#8621 [janitor] cleanup NSimCode
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/HashTableSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimCodeUtil.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/slice_for.mos
Labels: COMP/New Backend

#8623 Handle the inheritance when animating using DynamicSelect annotation
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Element/CornerItem.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
  OMEdit/OMEditLIB/Plotting/DiagramWindow.h
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#8622 Fix some issues with Connections.uniqueRootIndices
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
Labels: COMP/Frontend

#8629 [NB] use function derivative annotation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/eventSystem.mos
  testsuite/simulation/modelica/NBackend/functions/Makefile
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/partitioning.mos
  testsuite/simulation/modelica/NBackend/simpleNonlinearLoop.mos
Labels: COMP/New Backend

#8643 [NB] Fix derivatives of some builtin functions
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/New Backend

#8645 Update the connection when start and end belong to the same element
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Element/CornerItem.cpp
Labels: COMP/OMEdit

#8644 [NB] add function and algorithm differentiation
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/simulation/modelica/NBackend/functions/Makefile
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/New Backend

#8650 Add assert check for event sub-clocks
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  testsuite/simulation/modelica/synchronous/EventSubClock.mo
  testsuite/simulation/modelica/synchronous/EventSubClock.mos
  testsuite/simulation/modelica/synchronous/Makefile
Labels: COMP/Runtime

#8657 [janitor] Fix CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
Labels: COMP/Codegen

#8651 [NB] proper adjacency matrix types + janitor
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
Labels: COMP/New Backend

#8660 Use the callback function to see which libraries are auto loaded
  OMCompiler/Compiler/runtime/systemimpl.c
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/OMEdit

#8663 Removed the prompt for switching to OF if translation fails
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/OMEdit

#8664 Fixed reinit in DAE
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
Labels: bug, COMP/Backend, COMP/Runtime

#8668 Don't overwrite inner/outer for derived types
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/InnerOuter10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/Frontend

#8669 Use "Level of support by OpenModelica" instead of "Support Levels"
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
Labels: COMP/OMEdit

#8672 [NB] update initialization
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  testsuite/simulation/modelica/NBackend/event_handling/eventSystem.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
  testsuite/simulation/modelica/NBackend/underdetermined_init.mos
Labels: COMP/New Backend

#8678 Explicitly specify the current directory to cover <> includes.
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/FMI

#8654 Fix bug with hash sets
  OMCompiler/Compiler/NFFrontEnd/NFAlgorithm.mo
Labels: COMP/Frontend, COMP/New Backend

#8673 Only apply the prefix if unit is one of prefixable unit
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMPlot/OMPlot/OMPlotGUI/OMPlot.h
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: COMP/OMEdit

#8688 Add initial testcases for automatic parallelization.
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  testsuite/Makefile
  testsuite/simulation/modelica/parmodauto/Makefile
  testsuite/simulation/modelica/parmodauto/Modelica.Electrical.Analog.Examples.CauerLowPassSC.mos
  testsuite/simulation/modelica/parmodauto/Modelica.Fluid.Examples.BranchingDynamicPipes.mos
Labels: COMP/Parallelization

#8689 Fix and generalize dependency analysis for algorithms.
  OMCompiler/Compiler/SimCode/SerializeTaskSystemInfo.mo
Labels: COMP/Parallelization

#8681 [NB] Fix differentiation of functions
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/New Backend

#8694 [NB] add pseudo array sparsity patterns
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/minimalTearing.mos
  testsuite/simulation/modelica/NBackend/partitioning.mos
  testsuite/simulation/modelica/NBackend/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/underdetermined_init.mos
Labels: COMP/New Backend

#8696 set start values attributes until initialization mode
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  testsuite/omsimulator/Issue_FMU_update_vars.mos
  testsuite/omsimulator/Makefile
Labels: COMP/FMI

#8680 improved resolveLoops
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/HpcOmTaskGraph.mo
  OMCompiler/Compiler/BackEnd/Matching.mo
  OMCompiler/Compiler/BackEnd/ResolveLoops.mo
Labels: COMP/Backend

#8708 [NB] update jacobians
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBRemoveSimpleEquations.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
  testsuite/simulation/modelica/NBackend/minimalTearing.mos
  testsuite/simulation/modelica/NBackend/simpleNonlinearLoop.mos
Labels: COMP/New Backend

#8711 [NB] implement sparsity coloring
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/minimalTearing.mos
  testsuite/simulation/modelica/NBackend/simpleNonlinearLoop.mos
Labels: COMP/New Backend

#8714 [NB] switch back to numeric jacobian default
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/New Backend

#8715 [NB] coloring small fix
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
Labels: COMP/New Backend

#8720 Improve handling of MSL
  OMCompiler/Compiler/runtime/settingsimpl.c
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/OMEdit

#8721 Pass all flags from the bat file to the executable.
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/Interactive Environment

#8724 Changed Upgrade installed libraries to Update installed libraries
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: enhancement, COMP/OMEdit

#8722 Delay processing the loadModel callback using QTimer
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
Labels: COMP/OMEdit

#8725 Fix build for clang 3.8 on debian stretch.
  OMCompiler/SimulationRuntime/ParModelica/auto/json.hpp
Labels: COMP/Build System, COMP/Parallelization

#8727 Improve dumping of flat types
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/flatmodelica/Makefile
  testsuite/openmodelica/flatmodelica/SimpleCoolingCycle.mo
Labels: COMP/Flat Modelica, COMP/Frontend

#8730 Use the correct heading
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/OMEdit

#8732 Save and close the documentation editing when focus is on text view
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.h
Labels: COMP/OMEdit

#8734 Prevent addition of duplicate expanded variables.
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/Backend

#8737 Do not allow to convert the system library
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#8728 Disable fmi import tests
  testsuite/openmodelica/fmi/ModelExchange/2.0/Makefile
Labels: COMP/FMI

#8740 Always load OpenModelica as is needed for auto completion
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/OMEdit

#8741 Do not write "install" or "not install" in the text
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/OMEdit

#8742 Only update the part of the documentation annotation
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
Labels: COMP/OMEdit

#8745 Updated package manager documentation
  doc/UsersGuide/source/media/omedit_convert_library.png
  doc/UsersGuide/source/media/omedit_install_library.png
  doc/UsersGuide/source/omedit.rst
  doc/UsersGuide/source/packagemanager.rst
Labels: COMP/Documentation

#8749 Fix DAEUtil.getStartAttr for the new frontend
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/FrontEnd/Types.mo
  testsuite/simulation/modelica/initialization/parameters.mos
Labels: COMP/OMC/Frontend

#8750 More fixes for the cross references
  doc/UsersGuide/source/packagemanager.rst
  doc/UsersGuide/source/plotting.rst
Labels: COMP/Documentation

#8753 partial fix for #7598 and #8507
  OMCompiler/Compiler/runtime/settingsimpl.c
Labels: COMP/OMC/Interactive Environment, COMP/OMC/Runtime

#8754 [NB] add fileNamePrefix
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/New Backend

#8649 Revert "Check bindings for initialization" for Cpp runtime
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/openmodelica/cppruntime/genDebugSymbols/Modelica.Fluid.Examples.BranchingDynamicPipes_genDebugSymbols.mos
  testsuite/sanity-check/testSanity.mos
Labels: COMP/FMI, COMP/SimRT/C++

#8682 For angular speeds add rpm in addition to standard rad/s unit
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#8755 Do not use variable length arrays.
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Compiler/runtime/zeromqimpl.c
Labels: COMP/OMC/Runtime

#8759 Handle paths with more than one trailing slashes.
  OMCompiler/Compiler/runtime/TaskGraphResultsCmp.h
  OMCompiler/Compiler/runtime/TaskGraphResults_omc.cpp
  OMCompiler/Compiler/runtime/systemimpl.c
Labels: COMP/OMC/Runtime

#8760 Fix passing of C array to a function.
  OMCompiler/Compiler/runtime/System_omc.c
Labels: COMP/OMC/Runtime

#8762 Refactor System_launchParallelTasks.
  OMCompiler/Compiler/runtime/System_omc.c
Labels: CI/Build MINGW, COMP/OMC/Runtime

#8767 Fix compile definition specifications.
  OMCompiler/SimulationRuntime/ModelicaExternalC/CMakeLists.txt
  OMCompiler/SimulationRuntime/ModelicaExternalC/MEC_standalone_2.8.cmake
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
  OMCompiler/SimulationRuntime/c/cmake_3.14.cmake
  OMCompiler/SimulationRuntime/cpp/Core/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/FMU/cmake_3.14.cmake
  OMCompiler/SimulationRuntime/cpp/Solver/CMakeLists.txt
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: COMP/Build System

#8774 Improve `-d=mergeComponents`
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MergeComponents8.mo
Labels: COMP/OMC/Frontend

#8764 If the library required is already loaded with some other version
  .openmodelica.aspell
  OMCompiler/Compiler/Util/Error.mo
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  testsuite/flattening/libraries/biochem/BiochemModels.mos
  testsuite/openmodelica/interactive-API/UsesAnnotation2.mos
Labels: COMP/GUI/OMEdit

#8779 Improve package manager GUI
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#8785 Use the online user's guide
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#8786 Fixes for CMake MacOS build.
  CMakeLists.txt
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/ModelicaMatIO.h
  OMEdit/OMEditGUI/CMakeLists.txt
  OMNotebook/OMNotebook/OMNotebookGUI/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/CMakeLists.txt
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
Labels: COMP/Build System

#8789 Handle for-loops with connects when vectorizing.
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/Flat Modelica

#8793 Update SEMLA link
  doc/UsersGuide/source/encryption.rst
Labels: COMP/Documentation

#8794 Fix regression from #8788
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding8.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend
