Repository OpenModelica/OpenModelica, pull requests merged in 2022-12, with the labels that each got.

#9824 Fetch the extends modifiers recursively
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#9820 [NB] update array adjacency matrix entries
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
Labels: COMP/OMC/New Backend

#9826 Parse points for Line and Polygon
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#9828 Read $error in the instance api
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#9829 Better way to handle icon and diagram map
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#9830 Define OPENMODELICA_H_ for external includes of libraries
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/Codegen

#9831 Improve unknown dimension deduction
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown10.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9832 [NB] add record children support
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/New Backend

#9836 Build and upload productbuild packages.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
  cmake/omc_git_revision.cmake
  cmake/packaging/productbuild.cmake
Labels: COMP/Build System

#9838 Change cref traversal to always traverse whole cref
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
Labels: COMP/OMC/Frontend

#9841 Prefer macports libraries when building on macOS.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
  Jenkinsfile
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9846 [NewAPI] Enable/disable parameter based on the Dialog enable attribute
  OMEdit/OMEditLIB/Annotations/StringAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/StringAnnotation.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#9849 Explicitly specify compilers on macOS.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
  Jenkinsfile
Labels: COMP/Build System

#9850 Create a symbolic link to the latest uploaded package.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
Labels: COMP/Build System

#9852 Disable Fortran and Ipopt for the nightly build.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
Labels: COMP/Build System

#9840 Only simplify builtin call when scalarizing
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents5.mo
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
Labels: COMP/OMC/Frontend

#9860 Add initial CMake support for OMEdit Testsuite.
  OMEdit/CMakeLists.txt
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/Testsuite/CMakeLists.txt
  OMEdit/Testsuite/Makefile.unix.in
  OMEdit/Testsuite/RunOMEditTest.sh
  OMEdit/Testsuite/RunOMEditTestsuite.sh
  README.cmake.md
Labels: COMP/GUI/OMEdit, COMP/Documentation, COMP/Build System

#9862 Improve instance API Expression handling
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/Testsuite/Expression/ExpressionTest.cpp
  doc/instanceAPI/expression.schema.json
Labels: COMP/GUI/InstBased Interface

#9859 [NF] propagate hide result to primitive types
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend

#9865 Pass the tmp dir to use as argument to the test runner.
  OMEdit/Testsuite/CMakeLists.txt
  OMEdit/Testsuite/RunOMEditTest.sh
  OMEdit/Testsuite/RunOMEditTestsuite.sh
Labels: COMP/GUI/OMEdit, COMP/Build System

#9867 Preserve dimensions when augmenting expandable connector
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9871 Try to evaluate all parameters in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#9872 Use temp directory if we fail to create our own path
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#9877 Add constrainedby info to getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Modeling/Model.cpp
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9883 Handle array operators in Operator.priority
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  testsuite/openmodelica/flatmodelica/Expression1.mo
  testsuite/openmodelica/flatmodelica/Makefile
Labels: COMP/OMC/Frontend

#9880 Obfuscate comments when flag is set to encrypted
  OMCompiler/Compiler/Template/CodegenUtil.tpl
Labels: COMP/GUI/OMEdit

#9875 Output libOpenModelicaCompiler in a 'bin' or 'lib' directory.
  OMCompiler/Compiler/CMakeLists.txt
Labels: COMP/Build System, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW

#9890 Improve typing of unknown dimensions
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown12.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9895 Propagate relaxedFrontend flag to the NF
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/OMC/Frontend

#9896 Fix getInstantiatedParametersAndValues API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/Ticket4674.mo
Labels: COMP/OMC/Interactive Environment

#9888 Minor documentation fixes.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
  README.cmake.md
Labels: COMP/Documentation

#9904 Use the default font
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#9861 New backend records
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/for_exp.mos
Labels: COMP/OMC/New Backend

#9902 Adjust configuration and use of OMEncryption libraries.
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/boot/Makefile.in
  OMCompiler/Compiler/boot/Makefile.omdev.mingw
  OMCompiler/Makefile.common
Labels: COMP/Build System

#9906 Add cmake config for building with encryption support
  CMakeLists.txt
  OMCompiler/Parser/CMakeLists.txt
  README.cmake.md
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9907 Improve handling of array connections
  OMCompiler/Compiler/FrontEnd/CheckModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnector.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect4.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/cppruntime/Makefile
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
Labels: COMP/OMC/Frontend

#9905 Copy RunOMEditTest to the bin folder.
  OMEdit/Testsuite/Makefile.omdev.mingw
Labels: COMP/GUI/OMEdit, COMP/Build System

#9908 Change behaviour of arrayConnect flag
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect1.mo
  testsuite/openmodelica/flatmodelica/SD.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#9916 Fix Call.toArrayConstructor
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#9932 Handle redeclared classes in InstNode.isUserdefinedClass
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
Labels: COMP/OMC/Frontend

#9939 Build qwt as a static library.
  OMPlot/OMPlot/OMPlotGUI/CMakeLists.txt
  OMPlot/qwt/CMakeLists.txt
  OMPlot/qwt/src/CMakeLists.txt
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9936 Don't print C-comments when obfuscating
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/CodegenOMSI_common.tpl
  OMCompiler/Compiler/Template/CodegenUtil.tpl
  OMCompiler/Compiler/Template/CodegenUtilSimulation.tpl
Labels: COMP/OMC/Codegen

#9941 Improve simplification of subscripted expressions
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/Util/Array.mo
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#9929 [NB] update iterator lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#9947 [NB] apply merge subscripts to scope
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#9956 Fix Windows CMake build.
  OMPlot/qwt/src/CMakeLists.txt
Labels: COMP/Build System, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW

#9957 Add execStat for NB processing in the NF
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#9958 [NB] nested when in for support
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/New Backend

#9960 Work around non-scalarized connector lookup issue
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
Labels: COMP/OMC/Frontend

#9967 [NB] update state select lowering
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
Labels: COMP/OMC/New Backend

#9976 allow stateEstimation to run from GUI
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/GUI/OMEdit
