Repository OpenModelica/OpenModelica, pull requests merged in 2022-07, with the labels that each got.

#9172 Improve extends in getModelInstance
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#9181 Fix dumping of modifiers in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
Labels: COMP/OMC/Interactive Environment

#9187 Improve SCode modifiers in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9196 Skip partial class check in redeclared contexts
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareMod11.mo
Labels: COMP/OMC/Frontend

#9209 Relax more partial checks in redeclared contexts
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareMod12.mo
Labels: COMP/OMC/Frontend

#9211 Implement `--obfuscate` flag
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#9217 Improve handling of potentialRoot
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinPotentialRoot1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9218 Fix dumping of connect equations in NFEquation
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
Labels: COMP/OMC/Frontend

#9215 Fixed control flags in the test files of GBODE
  OMCompiler/SimulationRuntime/c/simulation/solver/epsilon.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_conf.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_conf.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_ctrl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_step.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_tableau.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.h
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  testsuite/simulation/modelica/solver/gbode/IRKGaussian_01.mos
  testsuite/simulation/modelica/solver/gbode/IRK_01.mos
  testsuite/simulation/modelica/solver/gbode/RK_01.mos
  testsuite/simulation/modelica/solver/gbode/multiRate_01.mos
Labels: CI/Build MINGW

#9223 Fixed retry logic of kinsol for gbode
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
Labels: COMP/SimRT/C

#9226 [NB] Create discrete start equations for non-reals
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
Labels: COMP/OMC/New Backend

#9231 [janitor] Refactor ring buffer
  OMCompiler/SimulationRuntime/c/optimization/DataManagement/InitialGuess.c
  OMCompiler/SimulationRuntime/c/simulation/solver/delay.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
  OMCompiler/SimulationRuntime/c/util/ringbuffer.c
  OMCompiler/SimulationRuntime/c/util/ringbuffer.h
Labels: COMP/SimRT/C

#9233 [janitor] Fix memory leak in findRoots
  OMCompiler/SimulationRuntime/c/simulation/solver/events.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_events.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/list.c
  OMCompiler/SimulationRuntime/c/util/list.h
Labels: COMP/SimRT/C

#9243 Fix list traversal with removed head
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearValuesList.c
Labels: bug, COMP/SimRT/C

#9244 Only update constant record component bindings at lowering
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/FrontEnd/Types.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  testsuite/simulation/modelica/records/Makefile
  testsuite/simulation/modelica/records/constVar2.mos
  testsuite/simulation/modelica/records/constVar3.mos
Labels: COMP/OMC/Backend
