Repository OpenModelica/OpenModelica, pull requests merged in 2022-02, with the labels that each got.

#8490 Implement automatic component merging
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/Util/Util.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MergeComponents1.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents2.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents3.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents4.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents5.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents6.mo
Labels: COMP/New Instantiation

#8491 Install some missing headers needed for source code FMUs
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
Labels: COMP/FMI, COMP/Build System

#8493 Install the configure script as executable.
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt
Labels: COMP/FMI, COMP/Build System

#8494 [CMake] do not build in each dir anymore. No need.
  .CI/common.groovy
Labels: COMP/Build System

#8495 Improve typing of crefs
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MergeComponents7.mo
Labels: COMP/New Instantiation

#8496 Install the required runtime dlls on MinGW.
  OMEdit/CMakeLists.txt
  OMEdit/OMEditGUI/CMakeLists.txt
Labels: COMP/OMEdit, COMP/Build System

#8498 Fix Testsuite.friendly2 for cmake build
  OMCompiler/Compiler/Util/Testsuite.mo
Labels: COMP/Build System

#8502 Fix import location of libOMSimulator.
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/SimCoreFactory/CMakeLists.txt
  omsimulator.cmake
Labels: COMP/Build System

#8503 Make the installation dir of OMSimulator consistent
  omsimulator.cmake
Labels: COMP/OMSimulator, COMP/Build System

#8505 Add dumping of name map for mergeComponents
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
Labels: COMP/New Instantiation

#8504 Check rational arithmetic for overflow
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  OMCompiler/SimulationRuntime/c/util/rational.c
  OMCompiler/SimulationRuntime/c/util/rational.h
Labels: COMP/Runtime

#8514 Fix detection of discrete array variables
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
Labels: bug, COMP/Backend

#8518 Give an error for invalid unit expressions
  OMCompiler/Compiler/NFFrontEnd/NFUnit.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/simulation/modelica/unitcheck/Makefile
  testsuite/simulation/modelica/unitcheck/UnitCheck20.mos
Labels: COMP/New Instantiation

#8519 [FE] update unboxing for metamodelica
  OMCompiler/Compiler/FrontEnd/Absyn.mo
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/Static.mo
Labels: bug, enhancement, COMP/MetaModelica

#8529 Refactor typing of builtin Connections.* functions
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
Labels: COMP/Frontend

#8530 Improve evaluation of component references
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding6.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding7.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/Frontend

#8531 libfmi shared and static. libOpenModelicaFMIRuntime static.
  OMCompiler/Makefile.common
  OMCompiler/Makefile.omdev.mingw
  OMCompiler/configure.ac
Labels: COMP/Runtime, COMP/Build System

#8533 Remove no longer needed linkage of ModelicaExternalC libs.
  OMEdit/OMEditGUI/OMEditGUI.win.config.pri
  OMNotebook/OMNotebook/OMNotebookGUI/OMNotebook.config.in
  OMNotebook/OMNotebook/OMNotebookGUI/OMNotebookGUI.pro
  OMShell/OMShell/OMShellGUI/OMShell.config.in
  OMShell/OMShell/OMShellGUI/OMShellGUI.pro
  OMShell/mosh/src/Makefile.in
Labels: COMP/OMEdit, COMP/Runtime, COMP/Build System

#8536 Find value of NEED_CMINPACK in configure
  OMCompiler/SimulationRuntime/fmi/export/buildproject/configure.ac
  testsuite/omsimulator/recompileFMU.mos
Labels: COMP/FMI

#8537 Fix zero crossing detection
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
Labels: bug, COMP/Backend

#8543 Improve typing of dimensions
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/DimSize5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/Frontend

#8547 Reorganize some NFExpression records
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnector.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunctionExt.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/boot/tarball-include/OpenModelicaBootstrappingHeader.h
  OMCompiler/Compiler/runtime/ffi_omc.c
Labels: COMP/Frontend

#8552 Update PATH with library dirs before system calls.
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/Runtime, COMP/Interactive Environment

#8556 Improve checking of protected modifications
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/ProtectedMod1.mo
  testsuite/flattening/modelica/scodeinst/ProtectedMod3.mo
  testsuite/flattening/modelica/scodeinst/ProtectedMod6.mo
  testsuite/flattening/modelica/scodeinst/ProtectedMod8.mo
Labels: COMP/Frontend

#8559 Fix simplification of `array or array`
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/OperationLogicalBinary2.mo
Labels: COMP/Frontend

#8562 Check bindings for initialization
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/openmodelica/cppruntime/fmu/modelExchange/2.0/testDrumBoiler.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_17.mos
Labels: COMP/FMI, COMP/Backend

#8563 Populate the library and version drop-down based on filters
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.h
Labels: COMP/OMEdit

#8570 Implement array expression using arrays
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnector.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunctionExt.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  OMCompiler/Compiler/Util/Array.mo
  OMCompiler/Compiler/Util/List.mo
  OMCompiler/Compiler/boot/tarball-include/OpenModelicaBootstrappingHeader.h
  OMCompiler/Compiler/runtime/ffi_omc.c
Labels: COMP/Frontend

#8573 Improve flattening performance
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/Frontend

#8572 Generate a batch script on Windows (launches exe)
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCodeFunctionUtil.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
Labels: CI/Build MINGW, COMP/OMEdit, COMP/SimCode, COMP/Interactive Environment

#8580 Improve function evaluation
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/CevalFuncArray5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/Frontend

#8579 Fix --fmiFilter=protected
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/FMI

#8583 Declare equationIndexes to null if missing the info needed.
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/SimCode, COMP/Codegen

#8582 More array improvements
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Util/Array.mo
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/Frontend

#8585 Use --fmiFilter=protected by default
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/omsimulator/Modelica.Mechanics.MultiBody.Examples.Elementary.Pendulum.mos
  testsuite/openmodelica/cppruntime/fmu/modelExchange/2.0/testDrumBoiler.mos
  testsuite/openmodelica/fmi/CoSimulation/2.0/ExportCvodeFmu_dynamic.mos
  testsuite/openmodelica/fmi/CoSimulation/2.0/ExportCvodeFmu_static.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/Makefile
Labels: COMP/FMI

#8586 Fix function evaluation for HelmholtzMedia
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
Labels: COMP/Frontend

#8594 Sync with compiler default for --fmiFilter
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/OMEdit

#8598 Better representation of derivatives of arrays
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/OMEdit

#8599 Remove DAE.STMT_FOR index and DAE.CREF_ITER
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendVarTransform.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/Differentiate.mo
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/BackEnd/HpcOmMemory.mo
  OMCompiler/Compiler/BackEnd/RemoveSimpleEquations.mo
  OMCompiler/Compiler/FrontEnd/Algorithm.mo
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/DAEDump.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/FrontEnd/Inline.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/Patternm.mo
  OMCompiler/Compiler/FrontEnd/PrefixUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/SimCode/ReduceDAE.mo
  OMCompiler/Compiler/Template/ExpressionDumpTV.mo
  OMCompiler/Compiler/Template/ExpressionDumpTpl.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/Compiler/Template/VisualXMLTplTV.mo
  OMCompiler/Compiler/Util/VarTransform.mo
Labels: COMP/Frontend

#8602 Add the mingw directories to the FFI search paths.
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
Labels: COMP/Frontend, COMP/Runtime

#8606 Corrected counting of solvers statistcs
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
Labels: COMP/Runtime

#8605 Preserve the DynamicSelect when the graphical primitives are updated
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/OMEdit

#8611 Fix computation of directional derivatives
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
Labels: COMP/FMI

#8612 Update --fmiFilter description
  OMCompiler/Compiler/Util/Flags.mo
Labels: COMP/FMI

#8616 Jacobian Update for the new Backend
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBDAEMode.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSolve.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NSimCode/HashTableSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/Util/BaseHashTable.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/simulation/modelica/NBackend/RSE2.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
  testsuite/simulation/modelica/NBackend/eventSystem.mos
  testsuite/simulation/modelica/NBackend/helloWorld.mos
  testsuite/simulation/modelica/NBackend/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/minimalTearing.mos
  testsuite/simulation/modelica/NBackend/partitioning.mos
  testsuite/simulation/modelica/NBackend/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/underdetermined_init.mos
Labels: COMP/New Backend
