Repository OpenModelica/OpenModelica, pull requests merged in 2022-06, with the labels that each got.

#9048 Fix ComponentRef.crefStripSubsExceptModelSubs
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
Labels: COMP/OMC/Frontend

#9050 Normalize paths of files in the source code FMU list
  OMCompiler/SimulationRuntime/c/Makefile.objs
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_15.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug2764.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug3049.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDisableDep.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDiscreteStructe.mos
Labels: COMP/FMI

#9051 Improve dumping of annotations in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
Labels: COMP/OMC/Interactive Environment

#9055 Improve simulation code flags and options.
  OMCompiler/Compiler/runtime/CMakeLists.txt
Labels: COMP/SimRT/C, COMP/Build System

#9061 Fix uninitialized variable in EvalConstants
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
Labels: COMP/OMC/Frontend

#9062 Fix uninitialized variable in EvalConstants
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
Labels: COMP/OMC/Frontend

#9060 Refactor `simplifyAddJoinTerms`
  OMCompiler/Compiler/FrontEnd/ExpressionSimplify.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/openmodelica/bootstrapping/LoadCompilerSources.mos
Labels: enhancement, COMP/OMC/Frontend

#9068 avoid duplicate boost headers for windows
  OMCompiler/Makefile.in
  OMCompiler/Makefile.omdev.mingw
  OMCompiler/Makefile.omsi.common
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/Modelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/Modelica/CMakeLists.txt
Labels: CI/Build MINGW

#9073 [BE] fix array binding vars (#8981)
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/Initialization.mo
  testsuite/openmodelica/cruntime/optimization/basic/testAlgLoop6.mos
  testsuite/openmodelica/cruntime/xmlFiles/testxmlInfoAllEqnsCorrectOrder.mos
  testsuite/openmodelica/debugDumps/dumpSparsePatternLin.mos
  testsuite/openmodelica/debugDumps/lateInline.mos
  testsuite/openmodelica/debugDumps/optSimpleSolveDAEdump.mos
  testsuite/openmodelica/debugDumps/optdaedump.mos
  testsuite/openmodelica/omsi/omsic/Makefile
  testsuite/openmodelica/omsi/omsic/simpleNonLinLoop.mos
  testsuite/simulation/libraries/3rdParty/MathematicalAspects/10_Test3PhaseSystemsDummyInit.mos
  testsuite/simulation/libraries/3rdParty/PlanarMechanics/PlanarMechanicsForTesting.Examples.TestIdealWheel.mos
  testsuite/simulation/libraries/3rdParty/ThermoSysPro/ThermoSysPro.Examples.SimpleExamples.TestDynamicWaterHeating.mos
  testsuite/simulation/libraries/3rdParty/ThermoSysPro/ThermoSysPro.Examples.SimpleExamples.TestDynamicWaterWaterExchanger.mos
  testsuite/simulation/libraries/msl31/Modelica.Mechanics.MultiBody.Examples.Elementary.RollingWheel.mos
  testsuite/simulation/libraries/msl31/Modelica.Mechanics.MultiBody.Examples.Loops.Fourbar2.mos
  testsuite/simulation/libraries/msl32/Modelica.Electrical.Spice3.Examples.Spice3BenchmarkFourBitBinaryAdder.mos
  testsuite/simulation/libraries/msl32/Modelica.Mechanics.MultiBody.Examples.Constraints.PrismaticConstraint.mos
  testsuite/simulation/libraries/msl32/Modelica.Mechanics.MultiBody.Examples.Loops.EngineV6.mos
  testsuite/simulation/modelica/algorithms_functions/InverseAlgorithm4.mos
  testsuite/simulation/modelica/algorithms_functions/algorithms.mos
  testsuite/simulation/modelica/commonSubExp/cse1.mos
  testsuite/simulation/modelica/commonSubExp/cseFunctionCall8.mos
  testsuite/simulation/modelica/daemode/testDAE10.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Electrical.Test3PhaseSystemsFullInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipeLumpedPressureInitialization.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipesSeriesLargeNSteadyStateInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.DynamicPipesSeriesSteadyStateInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Fluid.TwoVolumesEquationsFullSteadyStateMassAndEnergy.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Mechanical.TwoMassesFullInitial.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Mechanical.TwoMassesFullInitialInconsistent.mos
  testsuite/simulation/modelica/initialization/OverdeterminedInitialization.Mechanical.TwoMassesFullSteadyState.mos
  testsuite/simulation/modelica/initialization/autoFixed.mos
  testsuite/simulation/modelica/initialization/bug_2263.mos
  testsuite/simulation/modelica/initialization/homotopy2.mos
  testsuite/simulation/modelica/initialization/scaling1.mos
  testsuite/simulation/modelica/initialization/scaling2.mos
  testsuite/simulation/modelica/initialization/underdeterminedTest6.mos
  testsuite/simulation/modelica/inlineFunction/forceComplexEq2.mos
  testsuite/simulation/modelica/inlineFunction/forceComplexEq3.mos
  testsuite/simulation/modelica/inlineFunction/forceComplexEq4.mos
  testsuite/simulation/modelica/linear_system/problem2.mos
  testsuite/simulation/modelica/nonlinear_system/Makefile
  testsuite/simulation/modelica/nonlinear_system/bug_2841.mos
  testsuite/simulation/modelica/nonlinear_system/nonlinearDelayTest.mos
  testsuite/simulation/modelica/nonlinear_system/problem10.mos
  testsuite/simulation/modelica/nonlinear_system/problem4.mos
  testsuite/simulation/modelica/nonlinear_system/problem4_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem4_symjac_tearing.mos
  testsuite/simulation/modelica/resolveLoops/NPendulum2.mos
  testsuite/simulation/modelica/resolveLoops/NPendulum3.mos
  testsuite/simulation/modelica/start_value_selection/UnevaluateableFixedAttribute.mos
  testsuite/simulation/modelica/tearing/Tearing12-cel.mos
  testsuite/simulation/modelica/tearing/Tearing12-celMC3.mos
  testsuite/simulation/modelica/tearing/Tearing12-omc.mos
  testsuite/simulation/modelica/tearing/Tearing16-cel.mos
  testsuite/simulation/modelica/tearing/Tearing7-omc.mos
  testsuite/simulation/modelica/tearing/Tearing8-celMC3sorted.mos
  testsuite/simulation/modelica/tearing/dynamicTearing2.mos
  testsuite/simulation/modelica/tearing/dynamicTearing3.mos
Labels: COMP/OMC/Backend

#9076 [BE] update attribute replacement of records
  OMCompiler/Compiler/BackEnd/BackendVarTransform.mo
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
  OMCompiler/Compiler/FrontEnd/DAE.mo
Labels: COMP/OMC/Backend

#9077 Build libSimulationRuntimeC as a DLL.
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/Makefile.omdev.mingw
  OMCompiler/configure.ac
Labels: CI/Build MINGW, COMP/SimRT/C, COMP/Build System

#9079 Residual user data struct instead of void**
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverKlu.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLapack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLis.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverTotalPivot.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverUmfpack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverNewton.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
Labels: COMP/OMC/Runtime

#9081 Use QStringBuilder instead of QString arg function
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#9090 Jacobian util functions
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/jacobianSymbolical.c
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.h
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverNewton.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/omc_math.c
  OMCompiler/SimulationRuntime/c/simulation/solver/omc_math.h
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.h
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/jacobian_util.c
  OMCompiler/SimulationRuntime/c/util/jacobian_util.h
Labels: COMP/SimRT/C

#9093 Only dump prefixes with non-default values in JSON
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9097 Change JSON format for iterators
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Interactive Environment

#9099 Fix scope when instantiating component annotations
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Interactive Environment

#9098 Fix compiler warnings
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/snprintf.c
  OMCompiler/SimulationRuntime/c/gc/omc_gc.c
  OMCompiler/SimulationRuntime/c/openmodelica_types.h
  OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_omc_assert.c
  OMCompiler/SimulationRuntime/c/util/ModelicaUtilities.c
  OMNotebook/OMNotebook/OMNotebookGUI/qtapp.cpp
  OMShell/OMShell/OMShellGUI/main.cpp
Labels: CI/Build MINGW

#9104 Dump components as array in instance API
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
Labels: COMP/OMC/Frontend

#9105 Fix implicit declaration of jacobian function generated code.
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/SimRT/C

#9102 Close all top level windows before closing the MainWindow
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#9108 Cleanup and restructure OpenModelica typedefs
  OMCompiler/Compiler/runtime/Dynload.cpp
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_interface.cpp
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_interface.h
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_util.cpp
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_util.h
  OMCompiler/SimulationRuntime/c/gc/memory_pool.c
  OMCompiler/SimulationRuntime/c/gc/memory_pool.h
  OMCompiler/SimulationRuntime/c/openmodelica.h
  OMCompiler/SimulationRuntime/c/openmodelica_types.h
  OMCompiler/SimulationRuntime/c/util/base_array.c
  OMCompiler/SimulationRuntime/c/util/boolean_array.c
  OMCompiler/SimulationRuntime/c/util/boolean_array.h
  OMCompiler/SimulationRuntime/c/util/generic_array.h
  OMCompiler/SimulationRuntime/c/util/integer_array.c
  OMCompiler/SimulationRuntime/c/util/integer_array.h
  OMCompiler/SimulationRuntime/c/util/read_write.c
  OMCompiler/SimulationRuntime/c/util/read_write.h
  OMCompiler/SimulationRuntime/c/util/real_array.c
  OMCompiler/SimulationRuntime/c/util/real_array.h
  OMCompiler/SimulationRuntime/c/util/string_array.c
  OMCompiler/SimulationRuntime/c/util/string_array.h
Labels: COMP/SimRT/C

#9109 Change tag name from kind to $kind in instance API
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/test.mos
Labels: COMP/OMC/Interactive Environment

#9112 Add JSON schema for getModelInstance API
  doc/instanceAPI/expression.schema.json
  doc/instanceAPI/getModelInstance.schema.json
Labels: COMP/OMC/Interactive Environment

#9110 Remove unused files in SimulationRuntime/c/math-support.
  OMCompiler/SimulationRuntime/c/math-support/biglag.c
  OMCompiler/SimulationRuntime/c/math-support/lsame.c
  OMCompiler/SimulationRuntime/c/math-support/newuoa.c
  OMCompiler/SimulationRuntime/c/math-support/test/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/math-support/test/test_pivot.c
  OMCompiler/SimulationRuntime/c/math-support/update.c
Labels: CI/Build MINGW, COMP/SimRT/C

#9115 Fix loadFileInteractive/loadFileInteractiveQualified
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/openmodelica/interactive-API/loadFileInteractiveQualified.mos
Labels: COMP/OMC/Interactive Environment

#9117 Fix dumping of component direction in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
Labels: COMP/OMC/Interactive Environment

#9121 Fix loadFileInteractive/loadFileInteractiveQualified
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/openmodelica/interactive-API/loadFileInteractiveQualified.mos
Labels: COMP/OMC/Interactive Environment

#9106 Fixing incompatible pointer warning during generated code compilation
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
Labels: COMP/SimRT/C

#9124 Add class restriction to getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceComment1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/test.mos
Labels: COMP/OMC/Interactive Environment

#8988 Fix list.c iteration tools
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearValuesList.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearValuesList.h
  OMCompiler/SimulationRuntime/c/simulation/solver/synchronous.c
  OMCompiler/SimulationRuntime/c/util/list.c
Labels: COMP/SimRT/C

#9135 Skip some crefs in Structural.isExpressionNotFixed
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding12.mo
Labels: COMP/OMC/Frontend

#9133 Dae mode jac
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/Differentiate.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/jacobian_util.c
  testsuite/simulation/modelica/others/TestSolve18.mos
Labels: COMP/OMC/Backend, COMP/OMC/Runtime

#9136 [BE] fix sparse pattern dae mode symbolic jacobian
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/Backend

#9138 [NB] daeMode: add jacobian equations to simcode
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/Backend

#9153 Fixes for #9145
  OMCompiler/Compiler/Template/GenerateAPIFunctionsTpl.tpl
  OMEdit/OMEditLIB/Animation/AbstractAnimationWindow.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/Build System

#9154 Fix handling of inner/outer in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9158 Improve documentation for CMake configuration.
  README.cmake.md
Labels: COMP/Documentation, COMP/Build System

#9161 Handle unevaluable dimensions in connector check
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance8.mos
  testsuite/flattening/modelica/connectors/Makefile
Labels: COMP/OMC/Frontend

#9163 Improve dumping of modifiers in getModelInstance
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
Labels: COMP/OMC/Interactive Environment

#9166 Fixing memory leak while feeing sparsity pattern
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
Labels: COMP/SimRT/C

#9165 Change input/output to an enum in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
Labels: COMP/OMC/Interactive Environment

#9171 Disable ParModAuto if required boost libs are not found.
  OMCompiler/SimulationRuntime/ParModelica/CMakeLists.txt
Labels: COMP/Build System, COMP/SimRT/Parallelization

#9174 Fix for CPP-runtime when boost is not in system directories.
  OMCompiler/SimulationRuntime/ParModelica/auto/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/SimCoreFactory/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/cmake_3.14.cmake
Labels: COMP/SimRT/C++, COMP/Build System, COMP/SimRT/Parallelization
