Repository OpenModelica/OpenModelica, pull requests merged in 2022-04, with the labels that each got.

#8798 Fix more regressions from #8788
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend

#8801 Improve handling of `fill`
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinFill2.mo
Labels: COMP/OMC/Frontend

#8697 Add all states of the fmi state machines
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.h
Labels: COMP/FMI

#8803 Allow pure/impure in older Modelica versions
  OMCompiler/Compiler/FrontEnd/Parser.mo
  OMCompiler/Compiler/FrontEnd/ParserExt.mo
  OMCompiler/Compiler/boot/bootstrap-sources/build/ParserExt.c
  OMCompiler/Compiler/boot/bootstrap-sources/build/ParserExt.h
  OMCompiler/Parser/ModelicaParserCommon.h
  OMCompiler/Parser/Modelica_3_Lexer.g
  OMCompiler/Parser/Parser_omc.c
  OMCompiler/Parser/parse.c
  testsuite/openmodelica/parser/Makefile
  testsuite/openmodelica/parser/PureImpure2.mo
  testsuite/openmodelica/parser/PureImpure3.mo
Labels: COMP/OMC/Frontend

#8638 Implement fmi2(set|get|free)FMUstate
  OMCompiler/Compiler/Template/CodegenFMU2.tpl
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.h
  testsuite/omsimulator/fmi_interpolate_cs.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/Makefile
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_19.mos
Labels: COMP/FMI

#8791 Initialization file without inputPath
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
Labels: CI/Build MINGW, COMP/SimRT/C

#8809 [NB] create equations for bound unknown variables
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBRemoveSimpleEquations.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/OMC/New Backend

#8810 Improve MacOS rpath handling for the GUI clients.
  CMakeLists.txt
  OMEdit/CMakeLists.txt
  README.cmake.md
Labels: COMP/Build System

#8812 Fix check of partial function calls
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/flattening/modelica/algorithms-functions/CheckPartialFunctionCall1.mos
  testsuite/flattening/modelica/algorithms-functions/Makefile
Labels: COMP/OMC/Frontend

#8814 Fix the save as functionality.
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
Labels: COMP/GUI/OMEdit

#8815 Save as for text files
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Editors/BaseEditor.h
  OMEdit/OMEditLIB/Editors/CEditor.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Editors/MetaModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/OMSimulatorEditor.cpp
  OMEdit/OMEditLIB/Editors/TextEditor.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#8816 [NB] proper handling of if equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#8818 [NB] update strong component solving
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#8820 Fix format of generated .bat files
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
  OMCompiler/Compiler/Template/CodegenOMSICpp.tpl
Labels: COMP/SimRT/C, COMP/OMC/Codegen, COMP/SimRT/C++

#8825 Sort the converts to version drop down
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#8826 Updated the array plot x-axis label
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
Labels: COMP/GUI/OMEdit

#8824 Improve instantiation in relaxed contexts
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#8836 Include _part*.c files to the list of source files for the FMU Makefile
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/FMI, COMP/OMC/SimCode

#8837 [NB] basic support for records
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/New Backend

#8845 Implement connector balance checking in the NF
  .CI/compliance-newinst.failures
  .CI/compliance.failures
  OMCompiler/Compiler/FrontEnd/ConnectUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance1.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance2.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance3.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance4.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance5.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance6.mo
  testsuite/flattening/modelica/connectors/ConnectorIllegal.mo
  testsuite/flattening/modelica/connectors/ConnectorIllegal3.mo
  testsuite/flattening/modelica/connectors/ConnectorIllegal4.mo
  testsuite/flattening/modelica/connectors/Makefile
  testsuite/flattening/modelica/scodeinst/ConnectArrays1.mo
  testsuite/flattening/modelica/scodeinst/InnerOuter10.mo
  testsuite/flattening/modelica/scodeinst/conn9.mo
  testsuite/openmodelica/dataReconciliation/TSP_FourFlows.mos
  testsuite/openmodelica/dataReconciliation/TSP_FourFlows1.mos
  testsuite/openmodelica/dataReconciliation/TSP_FourFlows3.mos
  testsuite/openmodelica/dataReconciliation/TSP_FourFlows8.mos
  testsuite/openmodelica/dataReconciliation/TSP_FourFlows9.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe1.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe10.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe11.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe2.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe4.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe7.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe8.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe9.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter1.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter2.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter3.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter4.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter5.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter6.mos
  testsuite/openmodelica/dataReconciliation/TSP_Splitter7.mos
Labels: COMP/OMC/Frontend

#8853 Improve connector counting
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance7.mo
  testsuite/flattening/modelica/connectors/Makefile
  testsuite/flattening/modelica/scodeinst/ConnectNonConnector6.mo
Labels: COMP/OMC/Frontend

#8851 Refactor Component.Attributes
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFCheckModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/OMC/Frontend

#8856 More minor fixes for portable compilation.
  OMCompiler/Compiler/boot/CMakeLists.txt
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Compiler/runtime/zeromqimpl.c
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
  OMCompiler/SimulationRuntime/c/dataReconciliation/dataReconciliation.cpp
  OMCompiler/omc_config.h
Labels: COMP/Build System

#8857 Remove unnecessary static function in headers.
  OMCompiler/SimulationRuntime/c/util/base_array.c
  OMCompiler/SimulationRuntime/c/util/base_array.h
  OMCompiler/SimulationRuntime/c/util/boolean_array.c
  OMCompiler/SimulationRuntime/c/util/boolean_array.h
  OMCompiler/SimulationRuntime/c/util/integer_array.c
  OMCompiler/SimulationRuntime/c/util/integer_array.h
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
  OMCompiler/SimulationRuntime/c/util/omc_msvc.h
  OMCompiler/SimulationRuntime/c/util/real_array.c
  OMCompiler/SimulationRuntime/c/util/real_array.h
  OMCompiler/SimulationRuntime/c/util/string_array.c
  OMCompiler/SimulationRuntime/c/util/string_array.h
Labels: COMP/SimRT/C

#8858 Fix overlooked use of strncasecmp for MSVC.
  OMCompiler/SimulationRuntime/c/util/utility.c
Labels: COMP/SimRT/C

#8864 Fix Windows build.
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
Labels: CI/Build MINGW, COMP/SimRT/C

#8868 Remove last uses of old HashTable in the NF
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/BackEnd/OnRelaxation.mo
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFCardinalityTable.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/Util/HashTable4.mo
  OMCompiler/Compiler/Util/HashTable6.mo
  OMCompiler/Compiler/Util/HashTableExpToIndexExp.mo
  OMCompiler/Compiler/Util/HashTablePathToFunction.mo
  OMCompiler/Compiler/Util/HashTableTypeToExpType.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/openmodelica/bootstrapping/LoadCompilerSources.mos
Labels: COMP/OMC/Frontend

#8869 [NB] update array handling
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBRemoveSimpleEquations.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
Labels: COMP/OMC/New Backend

#8875 Improve ModelicaExternalC compilation for MSVC.
  OMCompiler/Compiler/boot/CMakeLists.txt
  OMCompiler/SimulationRuntime/ModelicaExternalC/CMakeLists.txt
  OMCompiler/SimulationRuntime/ModelicaExternalC/MEC_standalone_2.8.cmake
Labels: CI/Build MINGW, COMP/SimRT/C, COMP/Build System

#8876 Remove SCode.Equation
  OMCompiler/Compiler/FFrontEnd/FGraphBuild.mo
  OMCompiler/Compiler/FFrontEnd/FGraphBuildEnv.mo
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/ElementSource.mo
  OMCompiler/Compiler/FrontEnd/InstBinding.mo
  OMCompiler/Compiler/FrontEnd/InstExtends.mo
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/InstStateMachineUtil.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/NFSCodeDependency.mo
  OMCompiler/Compiler/FrontEnd/NFSCodeFlattenImports.mo
  OMCompiler/Compiler/FrontEnd/SCode.mo
  OMCompiler/Compiler/FrontEnd/SCodeDump.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  OMCompiler/Compiler/Script/TotalModelDebug.mo
  OMCompiler/Compiler/Template/SCodeDumpTpl.tpl
  OMCompiler/Compiler/Template/SCodeTV.mo
Labels: COMP/OMC/Frontend
