Repository OpenModelica/OpenModelica, pull requests merged in 2022-08, with the labels that each got.

#9234 [NB] Collect composite events
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  testsuite/simulation/modelica/NBackend/event_handling/Makefile
  testsuite/simulation/modelica/NBackend/event_handling/compositeEvent.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mo
Labels: enhancement, COMP/OMC/New Backend

#9267 [NB] Fix SystemType detection
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
Labels: COMP/OMC/New Backend

#9273 Avoid sorting the variables when inserting them
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/GUI/OMEdit

#9277 Read model connections from json
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9279 Add macOS nightly build using CMake.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
Labels: COMP/Build System

#9283 Update the dependent models when model is modified
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9287 [NewAPI] Update the element attributes
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#9292 Fix type when generating connect asserts
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
Labels: COMP/OMC/Frontend

#9295 Add `each` and `final` to instance API
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceMod2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9298 [NewAPI] Parse and draw connections of the model
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9296 Dump state machine info in instance API
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/Parsers/JSON.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceStateMachine1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#9299 [NewAPI] Parse final and each attributes of the modifier
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#9306 Implement storeAST/restoreAST API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/SymbolTable.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/StoreAST.mos
Labels: COMP/OMC/Frontend

#9307 Stop at root classes in InstNode.scopePathClass
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperatorOverloading.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#9308 Disconnect signals when the component is deleted
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#9309 [NewAPI] Use storeAST/restoreAST APIs
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#9310 Limit max size of storeAST cache.
  OMCompiler/Compiler/Script/SymbolTable.mo
Labels: COMP/OMC/Interactive Environment

#9312 [NewAPI] Delete connections
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9315 Improve #9236. Fix icon for OMEdit bundle on macOS
  OMEdit/OMEditGUI/CMakeLists.txt
Labels: COMP/Build System

#9316 Add icons for OMNotebook, OMShell and OMPlot on macOS
  OMNotebook/OMNotebook/OMNotebookGUI/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/CMakeLists.txt
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
Labels: COMP/Build System

#9313 [NewAPI] Delete shapes, transitions and initial states
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#9318 Dump equations where they occur in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
Labels: COMP/OMC/Interactive Environment

#9324 [NewAPI] Use loadString and getModelInstance to update models
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9326 Fix typo
  doc/instanceAPI/getModelInstance.schema.json
Labels: COMP/OMC/Interactive Environment

#9325 Dump source numbers separately in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceComment1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConditional1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceStateMachine1.mos
  testsuite/openmodelica/instance-API/test.mos
Labels: COMP/OMC/Interactive Environment

#9327 Fix typo
  doc/instanceAPI/getModelInstance.schema.json
Labels: COMP/OMC/Interactive Environment

#9329 [NewAPI] Parse model info from instance json
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit
