Repository OpenModelica/OpenModelica, pull requests merged in 2022-09, with the labels that each got.

#9344 [NewAPI] Support drag n drop with newAPI
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/TLM/FetchInterfaceDataDialog.cpp
Labels: COMP/GUI/OMEdit

#8125 Preserve parentheses during parsing
  .openmodelica.aspell
  OMCompiler/Compiler/FrontEnd/Absyn.mo
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ClassLoader.mo
  OMCompiler/Compiler/FrontEnd/Dump.mo
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/Patternm.mo
  OMCompiler/Compiler/FrontEnd/Static.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  OMCompiler/Compiler/Script/Binding.mo
  OMCompiler/Compiler/Script/BlockCallRewrite.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Conversion.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/Refactor.mo
  OMCompiler/Compiler/Template/AbsynDumpTV.mo
  OMCompiler/Compiler/Template/AbsynDumpTpl.tpl
  OMCompiler/Compiler/Util/Error.mo
  OMCompiler/Parser/Modelica.g
  testsuite/metamodelica/meta/ComplicatedInteractive.mos
  testsuite/openmodelica/bootstrapping/DumpTest.mos
  testsuite/openmodelica/diff/MoveComment.mos
  testsuite/openmodelica/diff/SubExpParenthesis.mos
  testsuite/openmodelica/diff/ticket3642.mos
  testsuite/openmodelica/diff/ticket4368.mos
  testsuite/openmodelica/interactive-API/ListExpressions.mos
  testsuite/openmodelica/interactive-API/Obfuscation1.mos
  testsuite/openmodelica/interactive-API/refactorGraphAnn1.mo
  testsuite/openmodelica/interactive-API/refactorGraphAnn2.mo
  testsuite/openmodelica/interactive-API/saveTotalModel.mos
  testsuite/simulation/modelica/initialization/parameters.mos
  testsuite/special/MatlabTranslator/Fnc_Handle.mo
  testsuite/special/MatlabTranslator/Translate.mo
Labels: CI/Skip CMake Build

#9343 Jacobian delay
  OMCompiler/Compiler/BackEnd/Differentiate.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/simulation/modelica/others/TestSolve18.mos
  testsuite/simulation/modelica/parallel/ParallelPRV.mos
Labels: COMP/OMC/Backend, CI/Skip CMake Build

#9351 Handle whitespace added before and after ident
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  testsuite/openmodelica/diff/Air.mos
  testsuite/openmodelica/diff/AirAfter.mo
  testsuite/openmodelica/diff/AirBefore.mo
  testsuite/openmodelica/diff/Makefile
Labels: CI/Skip CMake Build

#9353 Add labelled nodes for algorithm items in the diff algorithm
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  testsuite/openmodelica/diff/Makefile
  testsuite/openmodelica/diff/multipoleFluidTemperature.mos
  testsuite/openmodelica/diff/multipoleFluidTemperatureAfter.mo
  testsuite/openmodelica/diff/multipoleFluidTemperatureBefore.mo
Labels: CI/Skip CMake Build

#9354 Fix copy-paste error for parser
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
Labels: CI/Skip CMake Build

#9352 [NewAPI] Load and create connections
  OMEdit/OMEditLIB/Animation/AbstractAnimationWindow.cpp
  OMEdit/OMEditLIB/Animation/FMUSettingsDialog.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/OpcUaClient.cpp
Labels: CI/Skip CMake Build

#9358 Add another case for the diff algorithm
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  testsuite/openmodelica/diff/Makefile
  testsuite/openmodelica/diff/Pipe.mos
  testsuite/openmodelica/diff/PipeAfter.mo
  testsuite/openmodelica/diff/PipeBefore.mo
  testsuite/openmodelica/diff/SimilarNamesAnnotation.mos
Labels: CI/Skip CMake Build

#9333 Fixing CMakeLists.txt.in for CVODE FMUs
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: COMP/FMI, CI/Skip CMake Build

#9363 Link external libraries in FMU CMake compilation.
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: CI/Skip CMake Build

#9364 Include directories for CMake FMUs
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: CI/Skip CMake Build

#9370 Always use the origin even if it is not defined
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Element/Transformation.h
Labels: COMP/GUI/OMEdit, CI/Skip CMake Build

#9378 [NB] fix generic loop calls for jacobians
  OMCompiler/Compiler/BackEnd/HpcOmScheduler.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
Labels: CI/Skip CMake Build, COMP/OMC/New Backend

#9361 Label equations and expressions for better diff algorithm
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  testsuite/openmodelica/diff/Makefile
  testsuite/openmodelica/diff/MoveConnection.mos
  testsuite/openmodelica/diff/RLC.mos
  testsuite/openmodelica/diff/RLCAfter.mo
  testsuite/openmodelica/diff/RLCBefore.mo
Labels: CI/Skip CMake Build

#9385 Label if-expression nodes for the diff algorithm
  OMCompiler/Compiler/Parsers/SimpleModelicaParser.mo
  testsuite/openmodelica/diff/LimPID.mos
  testsuite/openmodelica/diff/LimPIDAfter.mo
  testsuite/openmodelica/diff/LimPIDBefore.mo
  testsuite/openmodelica/diff/Makefile
Labels: CI/Skip CMake Build

#9392 [SimCode] fix json file gen for generic calls
  OMCompiler/Compiler/SimCode/SerializeModelInfo.mo
Labels: CI/Skip CMake Build, COMP/OMC/New Backend

#9399 Handle mapping of record members to external C code types and layout.
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/Inst.mo
  OMCompiler/Compiler/FrontEnd/InstBinding.mo
  OMCompiler/Compiler/FrontEnd/InstFunction.mo
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/Lookup.mo
  OMCompiler/Compiler/FrontEnd/PrefixUtil.mo
  OMCompiler/Compiler/FrontEnd/Static.mo
  OMCompiler/Compiler/FrontEnd/Types.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/StaticScript.mo
  OMCompiler/Compiler/SimCode/SimCodeFunction.mo
  OMCompiler/Compiler/SimCode/SimCodeFunctionUtil.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: CI/Skip CMake Build

#9394 GBODE documentation added in the user guide
  doc/UsersGuide/source/extrarefs.bib
  doc/UsersGuide/source/solving.rst
Labels: CI/Skip CMake Build

#9396 Use old frontend for PDEModelica
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/others/PDEModelicaTest.mos
Labels: COMP/OMC/Frontend, CI/Skip CMake Build

#9408 Mark externally used records
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRestriction.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend

#9409 [NewAPI] Handle connections with new instance based api
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#9411 [NF] update BackendAttribute scalarize
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
Labels: CI/Skip CMake Build, COMP/OMC/New Backend

#9413 Improve dumping of enum types in the instance API
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceEnum1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9427 Improve #9399 using additions from #9408
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/Inst.mo
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/Types.mo
  OMCompiler/Compiler/SimCode/SimCodeFunction.mo
  OMCompiler/Compiler/SimCode/SimCodeFunctionUtil.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/SimCode, COMP/OMC/Codegen

#9389 [OMEdit] Heuristics for scaling vector visualizers
  OMCompiler/Compiler/Template/VisualXMLTpl.tpl
  OMEdit/CMakeLists.txt
  OMEdit/OMEditLIB/Animation/AbstractAnimationWindow.cpp
  OMEdit/OMEditLIB/Animation/AbstractVisualizer.cpp
  OMEdit/OMEditLIB/Animation/AbstractVisualizer.h
  OMEdit/OMEditLIB/Animation/Shape.h
  OMEdit/OMEditLIB/Animation/Vector.cpp
  OMEdit/OMEditLIB/Animation/Vector.h
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.h
  OMEdit/OMEditLIB/Animation/Visualization.cpp
  OMEdit/OMEditLIB/Animation/Visualization.h
  OMEdit/OMEditLIB/Animation/VisualizationCSV.cpp
  OMEdit/OMEditLIB/Animation/VisualizationFMU.cpp
  OMEdit/OMEditLIB/Animation/VisualizationMAT.cpp
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/configure.ac
  testsuite/openmodelica/visualization/ForceAndTorque.mos
  testsuite/openmodelica/visualization/Surfaces.mos
Labels: CI/Build MINGW

#9432 Fix macOS build.
  OMEdit/CMakeLists.txt
  OMEdit/OMEditLIB/CMakeLists.txt
Labels: CI/CMake/Enable/macOS

#9445 Change --unitChecking to be an external flag
  OMCompiler/Compiler/Util/Flags.mo
Labels: COMP/OMC/Frontend

#9446 Improve unit string handling in unit checker
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  testsuite/simulation/modelica/unitcheck/Makefile
  testsuite/simulation/modelica/unitcheck/UnitCheck21.mos
Labels: COMP/OMC/Frontend

#9447 Fix unit checking of exponentiation
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  testsuite/simulation/modelica/unitcheck/Makefile
  testsuite/simulation/modelica/unitcheck/UnitCheck22.mos
Labels: COMP/OMC/Frontend

#9450 Only set tooltip for enumerations when new instance api is used
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit
