Repository OpenModelica/OpenModelica, pull requests merged in 2022-01, with the labels that each got.

#8378 Use BUILD_TYPE for OMSimulator CMake build
  omsimulator.cmake
Labels: COMP/Build System

#8382 Use choice comment in dropdown #7488
  .CI/common.groovy
  OMEdit/OMEditGUI/OMEditGUI.unix.config.pri.in
  OMEdit/OMEditGUI/OMEditGUI.win.config.pri
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
  OMParser/.gitignore
  OMParser/CMakeLists.txt
  OMParser/Makefile
  OMParser/test/Makefile
  testsuite/openmodelica/interactive-API/TestChoices.mo
Labels: COMP/OMEdit

#8391 Handle fill in ExpandExp
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/New Instantiation

#8393 Check for negative dimensions later
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/DimNegative2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8394 Fix scope when mixing replaceable and inner/outer
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterReplaceable1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8396 Improve subscripting of if-expressions
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/IfExpression13.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8398 Don't type outer components
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterPartialOuter1.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterPartialOuter2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8399 Export all symbols from libOpenModelicaCompiler.
  OMCompiler/Compiler/CMakeLists.txt
Labels: COMP/Build System

#8400 Improve typing of sum(A) and product(A)
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSum2.mo
Labels: COMP/New Instantiation

#8402 Silence parentheses-equality warning for clang.
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/Compiler/boot/CMakeLists.txt
Labels: COMP/Build System

#8404 Rename OMSimulator.mo to OMSimulatorExt.mo
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/Script/CevalScriptOMSimulator.mo
  OMCompiler/Compiler/Util/OMSimulatorExt.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  OMEdit/OMEditLIB/CMakeLists.txt
Labels: COMP/Build System

#8410 Add -DUNICODE to compilation of OMEDitLib.
  OMEdit/OMEditLIB/CMakeLists.txt
Labels: COMP/Build System

#8409 Remove check for `each` on scalars
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Each1.mo
  testsuite/flattening/modelica/scodeinst/Each3.mo
  testsuite/flattening/modelica/scodeinst/Each4.mo
  testsuite/flattening/modelica/scodeinst/Each5.mo
  testsuite/flattening/modelica/scodeinst/Each6.mo
  testsuite/simulation/modelica/jacobian/reuseConstantPartsJac1.mos
Labels: COMP/New Instantiation

#8412 Compile the resource files with the GUI executables
  OMNotebook/OMNotebook/OMNotebookGUI/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/CMakeLists.txt
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
Labels: COMP/Build System

#8420 Partially revert #8414
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/New Instantiation

#8421 Revert cref typing fix that doesn't quite work
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8422 Fix #8413 properly
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding10.mo
Labels: COMP/New Instantiation

#8430 Check restriction on class to be instantiated
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/InstanceRestriction1.mo
  testsuite/flattening/modelica/scodeinst/InstanceRestriction2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/New Instantiation

#8431 Improve TryExtends test case
  testsuite/metamodelica/meta/TryExtends.mos
Labels: COMP/New Instantiation

#8435 Further improve context check in typeCref
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRestriction.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding11.mo
Labels: COMP/New Instantiation

#8436 [BE] fix ASSC pivoting
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  testsuite/simulation/modelica/indexreduction/ASSC.mos
Labels: bug, COMP/Backend

#8444 Allow looking up functions in nested components
  .openmodelica.aspell
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/FuncViaComp3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/const13.mo
  testsuite/flattening/modelica/scodeinst/lookup4.mo
Labels: COMP/New Instantiation

#8450 Define LINK_SUNDIALS_STATIC when compiling FMU sources
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/FMI

#8451 Fixes for FMU generation on Windows with CMake built omc
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
  OMCompiler/SimulationRuntime/c/cmake_3.14.cmake
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt
Labels: COMP/FMI, COMP/Build System

#8447 Fix names for nonlinear sparse solver flags
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  testsuite/openmodelica/cruntime/simoptions/nlssMinSize.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/simulation/libraries/msl32/Modelica.Electrical.QuasiStationary.Machines.Examples.TransformerTestbench.mos
  testsuite/simulation/modelica/daemode/testDAEScaling.mos
  testsuite/simulation/modelica/nonlinear_system/problem6_symjac.mos
  testsuite/simulation/modelica/solver/problem1-symSolverImp.mos
  testsuite/simulation/modelica/solver/problem1-symSolverImpSsc.mos
Labels: bug

#8467 Only try to read the profiling json file when profiling is on
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.h
Labels: COMP/OMEdit

#8476 [NF] update discrete variable verification
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  OMCompiler/Compiler/Util/List.mo
Labels: COMP/New Instantiation
