Repository OpenModelica/OpenModelica, pull requests merged in 2022-11, with the labels that each got.

#9606 OMEdit: Add post compilation command option
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  doc/UsersGuide/source/omedit.rst
Labels: enhancement, COMP/GUI/OMEdit

#9634 Disable shared version of OMParser's antlr4.
  OMParser/3rdParty/antlr4/runtime/Cpp/CMakeLists.txt
  OMParser/3rdParty/antlr4/runtime/Cpp/runtime/CMakeLists.txt
  OMParser/Makefile
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9639 Cleanup/Fixup installation components.
  CMakeLists.txt
  OMCompiler/CMakeLists.txt
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/Compiler/boot/CMakeLists.txt
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
  OMCompiler/SimulationRuntime/c/cmake_3.14.cmake
  OMCompiler/SimulationRuntime/cpp/cmake_3.14.cmake
  OMEdit/CMakeLists.txt
  OMNotebook/CMakeLists.txt
  OMPlot/CMakeLists.txt
  OMShell/CMakeLists.txt
  omsimulator.cmake
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9641 Fix memory issues with OMEdit
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#9654 Allow using the existing result file for DynamicSelect animation
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/GUI/OMEdit

#9657 Update documentations.
  OMCompiler/CMakeLists.txt
  README.cmake.md
  README.md
  testsuite/rtest
Labels: COMP/Documentation

#9659 Improve installation location specification for OMSimulator.
  omsimulator.cmake
Labels: CI/CMake/Enable/macOS

#9667 Use StringHandler::number for time when exporting results to CSV
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/GUI/OMEdit

#9670 Fix permissions for installation of OMSimulator exes.
  omsimulator.cmake
Labels: COMP/OMSimulator, COMP/Build System

#9671 Don't pad operators in Expression.toJSON
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/openmodelica/instance-API/GetModelInstanceStateMachine1.mos
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#9676 [NewAPI] Use the DynamicAnnotation in Model class
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BooleanAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BooleanAnnotation.h
  OMEdit/OMEditLIB/Annotations/ColorAnnotation.h
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Element/Transformation.h
  OMEdit/OMEditLIB/FlatModelica/ExpressionFuncs.cpp
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.cpp
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#9672 Hide C comments for obfuscated variables
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppOld.tpl
  OMCompiler/Compiler/Template/CodegenUtil.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/Codegen

#9678 Improved ExtentAnnotation implementation
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BooleanAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BooleanAnnotation.h
  OMEdit/OMEditLIB/Annotations/ColorAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ColorAnnotation.h
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.h
  OMEdit/OMEditLIB/Annotations/PointAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PointAnnotation.h
  OMEdit/OMEditLIB/Annotations/RealAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RealAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Annotations/StringAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/StringAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Element/Transformation.h
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.cpp
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#9679 Do not check $cse variables during event iteration
  OMCompiler/SimulationRuntime/c/simulation/solver/fmi_events.c
  OMCompiler/SimulationRuntime/c/simulation/solver/fmi_events.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  testsuite/openmodelica/cruntime/optimization/benchmark/runDrumBoiler.mos
Labels: COMP/OMC/Runtime

#9684 Improve the display of parameters and units in diagram
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#9677 Fixing fmiFlags=s:euler for CMake FMUs
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_error.c
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
  testsuite/openmodelica/fmi/CoSimulation/2.0/FmuExportFlags.mos
Labels: COMP/FMI

#9683 Fixes for Windows build with new MSYS2
  OMCompiler/Compiler/runtime/systemimpl.c
  OMEdit/OMEditGUI/OMEditGUI.win.config.pri
  OMEdit/OMEditLIB/CrashReport/backtrace.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  cmake/modules/Findbinutils.cmake
Labels: CI/Build MINGW

#9691 Implement getModelInstanceIcon API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9696 Fix parsing of subnormal Real values
  OMCompiler/Parser/Modelica.g
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_builtin.c
  testsuite/openmodelica/parser/Makefile
  testsuite/openmodelica/parser/RealLiterals1.mo
Labels: COMP/OMC/Frontend

#9698 Fix JSON structure for getModelInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
Labels: COMP/GUI/InstBased Interface

#9699 Improve function inlining in the frontend
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/flattening/modelica/scodeinst/Inline3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9700 Use getModelInstanceIcon for Libraries Browser icons
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#9702 Fix getModelInstance of derived classes
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9705 Improve the debug message
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#9706 Clear the generated inner cache in NFApi
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9708 [NB] add smooth differentiation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#9709 [NB] add differentiation of sum()
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#9710 Check for transform type none
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#9718 Keep the original text annotation
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#9720 Use QVector instead of QList for IconDiagramMap
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#9716 [NB] update adjacency matrix
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#9722 Enable, build and install the OMShell-terminal.
  .CI/cmake/Jenkinsfile.cmake.macos.gcc
  .CI/cmake/Jenkinsfile.cmake.omdev.gcc
  .CI/cmake/Jenkinsfile.cmake.ubuntu.gcc.test
  Jenkinsfile
  OMShell/CMakeLists.txt
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
  OMShell/mosh/CMakeLists.txt
  README.cmake.md
  cmake/modules/FindReadline.cmake
Labels: COMP/Build System, CI/CMake/Enable/macOS

#9732 Remove trailing whitespace in BackendDump
  OMCompiler/Compiler/BackEnd/BackendDump.mo
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
Labels: COMP/OMC/Backend

#9730 Evaluate expressions in the annotation
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/Testsuite/Expression/ExpressionTest.cpp
Labels: COMP/GUI/OMEdit

#9734 Use same expression if fail to find the variable binding expression
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
Labels: COMP/GUI/OMEdit

#9737 Check if the checkbox value is modified
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#9741 Always dump extends as array in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter3.mos
Labels: COMP/GUI/InstBased Interface

#9742 Fix check of when branches
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  testsuite/flattening/modelica/scodeinst/When7.mo
Labels: COMP/OMC/Frontend

#9746 Fix trailing whitespace in NBEquation.toString
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#9748 More trailing whitespace fixes.
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#9733 Improve connection handling
  OMCompiler/Compiler/NFFrontEnd/NFCheckModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnection.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectionSets.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnector.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect1.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect3.mo
  testsuite/openmodelica/cppruntime/VectorizedSolarSystem.mo
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
  testsuite/openmodelica/flatmodelica/SD.mo
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
Labels: COMP/OMC/Frontend

#9755 Fix evaluation of complex bindings during flattening
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend

#9758 Mark structural parameters in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceEvaluate1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9757 Show the plot tooltip according to the prefix
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit

#9767 Update the help text for MODELICAPATH
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#9764 Added "Unload all" menu item
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  doc/UsersGuide/source/omedit.rst
Labels: enhancement, COMP/GUI/OMEdit

#9766 Fix check of when branches (#9742)
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  testsuite/flattening/modelica/scodeinst/When7.mo
Labels: COMP/OMC/Frontend

#9765 Show the plot tooltip according to the prefix (#9757)
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit

#9763 Check for uninitialized outputs in functions
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/ConstrainingClassFunc2.mo
  testsuite/flattening/modelica/scodeinst/FuncOverloadAmbiguousDefault.mo
  testsuite/flattening/modelica/scodeinst/FuncOverloadExactPrefer.mo
  testsuite/flattening/modelica/scodeinst/FuncOverloadNoMatch.mo
  testsuite/flattening/modelica/scodeinst/FuncOverloadSimple.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization2.mo
  testsuite/flattening/modelica/scodeinst/FunctionUnitialized3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/Prefix3.mo
  testsuite/simulation/modelica/unitcheck/UnitCheck1.mos
  testsuite/simulation/modelica/unitcheck/UnitCheck18.mos
Labels: COMP/OMC/Frontend

#9771 Handle _ when checking for uninitialized variables
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/OMC/Frontend

#9773 Improve uninitialized output error message
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/FunctionUnitialized4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#9780 Improve the help text
  OMEdit/OMEditLIB/MainWindow.cpp
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#9781 Update the help text for MODELICAPATH (#9767)
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#9744 [NB] differentiate smooth(0, ...) and noEvent
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
Labels: COMP/OMC/New Backend

#9789 Use binding if value is not defined
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#9788 Change error for unassigned outputs to a warning
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/FunctionUnitialized3.mo
  testsuite/flattening/modelica/scodeinst/FunctionUnitialized4.mo
Labels: COMP/OMC/Frontend

#9762 New backend adjacency update
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendInline.mo
  OMCompiler/Compiler/BackEnd/BackendVarTransform.mo
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/BackEnd/ZeroCrossings.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
Labels: COMP/OMC/New Backend

#9798 Implement type cast of DynamicSelect
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#9797 Remove forgotten FILE_INFO argument.
  OMCompiler/SimulationRuntime/c/util/omc_error.h
Labels: COMP/SimRT/C, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW

#9803 Fix new backend implicit flags
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/New Backend

#9801 Enable ccache on Windows CI jobs.
  Jenkinsfile
Labels: COMP/Build System, CI/CMake/Enable/MinGW

#9806 Declare DynamicSelect to be impure
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#9805 Make incompatible pointer types an error.
  Jenkinsfile
  OMCompiler/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
Labels: COMP/SimRT/C, CI/CMake/Enable/MinGW

#9817 [NB/NF] update frontend functions for NB
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend
