Repository OpenModelica/OpenModelica, pull requests merged in 2022-10, with the labels that each got.

#9464 Implement installation of cached packages
  OMCompiler/Compiler/Parsers/JSON.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/PackageManagement.mo
  OMCompiler/Compiler/Stubs/PackageManagement.mo
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/OMC/Interactive Environment

#9467 Install cached libraries for getAvailableLibraries
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/OMC/Interactive Environment

#9477 Improve installation of cached libraries
  OMCompiler/Compiler/Script/PackageManagement.mo
Labels: COMP/OMC/Interactive Environment

#9483 Adjust position based on coordinate system and scale of the component
  OMEdit/OMEditLIB/Element/Transformation.cpp
Labels: COMP/GUI/OMEdit

#9484 [NewAPI] Improved the way to read the modifiers values
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#9493 Improve dumping of derived types in instance API
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#9500 Rewrite JSON.toString to not be recursive
  OMCompiler/Compiler/Parsers/JSON.mo
Labels: COMP/OMC/Frontend

#9501 Fix `omc__escapedStringLength`
  OMCompiler/SimulationRuntime/c/util/modelica_string.c
Labels: COMP/OMC/Runtime

#9505 Link lapack libs (openblas) to simulation executables.
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
Labels: COMP/Build System

#9511 Do not save the default settings
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/CrashReport/GDBBacktrace.cpp
  OMEdit/OMEditLIB/Debugger/DebuggerConfigurationsDialog.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMEditApplication.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#9513 Fix reading of variables from csv input files.
  OMCompiler/SimulationRuntime/c/simulation/solver/external_input.c
Labels: COMP/SimRT/C

#9512 Escape new line characters in xml strings.
  OMCompiler/Compiler/Util/Util.mo
Labels: COMP/OMC/Codegen

#9517 Terminate string that is sent to strcmp.
  OMCompiler/SimulationRuntime/c/util/read_csv.c
Labels: COMP/SimRT/C

#9518 Remove simulation option -exInputFile.
  OMCompiler/SimulationRuntime/c/simulation/solver/external_input.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  doc/SimulationRuntime/DynamicOptimization/src/dyOptInitialGuess.tex
  testsuite/openmodelica/cruntime/optimization/basic/BRinitialGuess.mos
  testsuite/openmodelica/cruntime/optimization/basic/DMwarm.mos
  testsuite/openmodelica/cruntime/optimization/basic/DMwarmCsv.mos
  testsuite/openmodelica/cruntime/optimization/basic/ReferenceFiles/initDM.csv
  testsuite/openmodelica/cruntime/optimization/basic/ReferenceFiles/initInputForBR.csv
  testsuite/simulation/modelica/solver/LotkaVolterraWithInput.mos
Labels: COMP/SimRT/C

#9523 Consider -inputPath when looking for csv input file.
  OMCompiler/SimulationRuntime/c/simulation/solver/external_input.c
Labels: COMP/SimRT/C

#9525 Add flag to allow reinit in algorithms
  OMCompiler/Compiler/NFFrontEnd/NFAlgorithm.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/Reinit3.mo
Labels: COMP/OMC/Frontend

#9528 Improve error messages for reinit statement
  .openmodelica.aspell
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/ReinitInvalid7.mo
Labels: COMP/OMC/Frontend

#9529 Windows: Redirect stdout/stderr in runProcess
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/runtime/systemimpl.c
  omsimulator.cmake
Labels: CI/Build MINGW

#9469 add replaceSubModel() to GUI
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.h
  OMEdit/OMEditLIB/OMS/OMSProxy.cpp
  OMEdit/OMEditLIB/OMS/OMSProxy.h
Labels: COMP/GUI/OMEdit

#9455 Adding CMake FMU doc
  doc/UsersGuide/source/fmitlm.rst
Labels: documentation

#9540 Output textColor instead of deprecated lineColor
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/CornerItem.cpp
Labels: COMP/GUI/OMEdit

#9541 Improve vectorization of bindings
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/Frontend

#9548 Add function omc_file_exists.
  OMCompiler/Compiler/runtime/TaskGraphResultsCmp.cpp
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/util/omc_file.c
  OMCompiler/SimulationRuntime/c/util/omc_file.h
Labels: COMP/SimRT/C

#9543 Save enable FMU import setting
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  doc/UsersGuide/source/fmitlm.rst
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#9550 Use mingw32-make for commands issued through systemCall.
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Util/Autoconf.mo.in
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/configure.ac
Labels: COMP/FMI, COMP/OMC/Interactive Environment, COMP/Build System

#9536 Updates to FMI import documentation
  doc/UsersGuide/source/fmitlm.rst
Labels: documentation

#9560 [NewAPI] Read the choicesAllMatching from instance api
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#9563 Save the CMake executable in our MM config file.
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Util/Autoconf.mo.in
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Makefile.in
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu_read_flags.c.inc
  OMCompiler/configure.ac
Labels: COMP/Build System

#9569 Use mingw32-make only on Windows-MinGW.
  OMCompiler/Compiler/runtime/CMakeLists.txt
Labels: COMP/Build System, COMP/OMC/Runtime

#9571 Don't load libraries when looking for builtin name
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/checkAllModelsRecursive1.mos
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#9572 Fix Windows compilation.
  OMCompiler/Compiler/Util/Autoconf.mo.omdev.mingw
Labels: COMP/OMC/Interactive Environment, COMP/Build System

#9577 [NewAPI] Fixed the issue with icons size
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#9582 Fix lookup for crefs in encapsulated scopes too
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
Labels: COMP/OMC/Frontend

#9586 Fix scoping issues for derived types
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#9587 fix: #9366
  OMCompiler/Compiler/BackEnd/DynamicOptimization.mo
  testsuite/openmodelica/cruntime/optimization/basic/Makefile
  testsuite/openmodelica/cruntime/optimization/basic/issue9366.mos
  testsuite/openmodelica/cruntime/optimization/benchmark/runDrumBoiler.mos
  testsuite/openmodelica/cruntime/optimization/benchmark/runReduceDrumBoiler.mos
Labels: COMP/Optimal Control

#9584 Fix CSV-File data input documentation
  doc/UsersGuide/source/omedit.rst
Labels: CI/CMake/Enable/macOS

#9542 Do not call fmi2SetTime in instantiated state
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/SimulationRuntime/c/fmi/FMI2ModelExchange.c
Labels: COMP/FMI

#9594 [NewAPI] Do not use the icon annotation as fallback
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
Labels: COMP/GUI/OMEdit

#9600 Fixed the conditional operator
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#9601 parmodauto is a config flag
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.cpp
Labels: COMP/GUI/OMEdit

#9608 Improve obfuscation
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFAlgorithm.mo
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/openmodelica/interactive-API/Obfuscation1.mos
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#9610 Minor clean up Expression class in OMEdit
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#9612 Do not traverse the shared globalKnownVars multiple times.
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/SimCode

#9619 Fix distribution of fractional power
  OMCompiler/Compiler/FrontEnd/ExpressionSimplify.mo
Labels: bug, COMP/OMC/Frontend

#9607 Split the main simulation function.
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.h
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#9617 Fix some memory leaks
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
Labels: COMP/GUI/OMEdit

#9632 [parmodauto] Handle algorithms with multiple outputs.
  OMCompiler/SimulationRuntime/ParModelica/auto/om_pm_model.cpp
Labels: COMP/SimRT/Parallelization

#9633 Revert "Fix some memory leaks (#9617)"
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
Labels: COMP/GUI/OMEdit
