Repository OpenModelica/OpenModelica, pull requests merged in 2022-05, with the labels that each got.

#8880 Improve printing of Absyn.InnerOuter
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/Dump.mo
  OMCompiler/Compiler/FrontEnd/InnerOuter.mo
  OMCompiler/Compiler/FrontEnd/Inst.mo
  OMCompiler/Compiler/FrontEnd/InstVar.mo
  OMCompiler/Compiler/FrontEnd/SCodeDump.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/flattening/modelica/connectors/ConnectInner2.mo
Labels: COMP/OMC/Frontend

#8892 Simplify `der` of constant/parameter
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/ParameterDer.mo
Labels: COMP/OMC/Frontend

#8895 Fix variability check of `der`
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinDerInvalid2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#8889 Do not look for 'output-' or 'anti-' dependencies.
  OMCompiler/SimulationRuntime/ParModelica/auto/om_pm_model.cpp
Labels: COMP/SimRT/Parallelization

#8896 Export all symbols from a dll on Windows + MSVC.
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/SimulationRuntime/ModelicaExternalC/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/cmake_3.14.cmake
Labels: COMP/Build System

#8891 Use uppercase letters for keywords in the bat file
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit, COMP/SimRT/C, COMP/SimRT/C++

#8901 Fix some memory management issues
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/Compiler/runtime/errorext.cpp
Labels: COMP/OMC/Runtime

#8902 Patch bootstrapped compiler with #8519
  OMCompiler/Compiler/boot/bootstrap-sources/build/AbsynUtil.c
  OMCompiler/Compiler/boot/bootstrap-sources/build/AbsynUtil.h
  OMCompiler/Compiler/boot/bootstrap-sources/build/Static.c
Labels: COMP/OMC/Frontend

#8904 Evaluate min/max of empty arrays
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinMax.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinMin.mo
Labels: COMP/OMC/Frontend

#8905 Remove mistakenly added debug printout
  OMCompiler/Compiler/boot/bootstrap-sources/build/Static.c
Labels: COMP/OMC/Frontend

#8908 Improve OMParser antlr4 configuration.
  OMParser/3rdParty/antlr4/runtime/Cpp/runtime/CMakeLists.txt
  OMParser/3rdParty/antlr4/runtime/Cpp/runtime/src/atn/ATNState.h
Labels: COMP/Build System

#8909 Add simplification rules for `min({})`/`max({})`
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinMax2.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinMin2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#8911 Improve typing of `min`/`max`
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MaxInvalidArg1.mo
  testsuite/flattening/modelica/scodeinst/MaxInvalidArg2.mo
  testsuite/flattening/modelica/scodeinst/MaxInvalidArg3.mo
  testsuite/flattening/modelica/scodeinst/MinInvalidArg1.mo
  testsuite/flattening/modelica/scodeinst/MinInvalidArg2.mo
  testsuite/flattening/modelica/scodeinst/MinInvalidArg3.mo
Labels: COMP/OMC/Frontend

#8913 [BE] update evalFunction
  OMCompiler/Compiler/BackEnd/EvaluateFunctions.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/FrontEnd/Expression.mo
Labels: COMP/OMC/Backend

#8914 Minor fixes and improvements.
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/Compiler/boot/CMakeLists.txt
  OMCompiler/Compiler/runtime/systemimpl.c
Labels: COMP/Build System

#8918 Rename UnorderedSet.addNoUpdCheck to addNew
  OMCompiler/Compiler/Util/UnorderedSet.mo
Labels: COMP/OMC/Frontend

#8919 Fix the check for outer elements in functions
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction6.mo
  testsuite/flattening/modelica/declarations/Makefile
Labels: COMP/OMC/Frontend

#8848 Use long path in omc_file functions on Windows
  OMCompiler/Compiler/Util/omc_file_ext.h
  OMCompiler/Compiler/boot/include/msgpack-modelica.h
  OMCompiler/Compiler/runtime/HpcOmBenchmarkExt.cpp
  OMCompiler/Compiler/runtime/SimulationResults.c
  OMCompiler/Compiler/runtime/SimulationResultsCmp.c
  OMCompiler/Compiler/runtime/SimulationResultsCmpTubes.c
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/Compiler/runtime/TaskGraphResultsCmp.cpp
  OMCompiler/Compiler/runtime/om_curl.c
  OMCompiler/Compiler/runtime/om_unzip.c
  OMCompiler/Compiler/runtime/printimpl.c
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Compiler/runtime/systemimpl.h
  OMCompiler/Compiler/runtime/zeromqimpl.c
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/ModelicaMatIO.c
  OMCompiler/SimulationRuntime/OpenTurns/wrapper_template_mat.c
  OMCompiler/SimulationRuntime/c/optimization/eval_all/EvalG.c
  OMCompiler/SimulationRuntime/c/simulation/modelinfo.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_qss_simulation.c.inc
  OMCompiler/SimulationRuntime/c/util/OldModelicaTables.c
  OMCompiler/SimulationRuntime/c/util/omc_file.c
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
  OMCompiler/SimulationRuntime/c/util/utility.c
  OMCompiler/SimulationRuntime/c/util/write_csv.c
  OMEdit/OMEditLIB/Animation/VisualizerMAT.cpp
Labels: CI/Build MINGW

#8927 Improved settings of MODELICAPATH
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#8931 Disable compliance-newinst job
  .CI/compliance-newinst.failures
  Jenkinsfile
Labels: COMP/Library Testing

#8932 Add CI jobs for extra CMake related builds.
  .CI/cmake/Jenkinsfile.cmake.omdev.gcc
  .CI/cmake/Jenkinsfile.cmake.ubuntu.gcc.test
  .CI/common.groovy
Labels: COMP/Build System

#8930 Add checks for some specialized class restrictions
  .CI/compliance.failures
  OMCompiler/Compiler/FrontEnd/InstSection.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFRestriction.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Error.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/flattening/modelica/algorithms-functions/FunctionWithEquation.mo
  testsuite/flattening/modelica/algorithms-functions/Makefile
  testsuite/flattening/modelica/connectors/ConnectorIllegal2.mo
  testsuite/flattening/modelica/declarations/ClassRestriction1.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction1.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction2.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction3.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction4.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction5.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction6.mo
  testsuite/flattening/modelica/declarations/ConnectorRestriction7.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction1.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction2.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction3.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction4.mo
  testsuite/flattening/modelica/declarations/FunctionRestriction5.mo
  testsuite/flattening/modelica/declarations/Makefile
  testsuite/flattening/modelica/declarations/PackageRestriction1.mo
  testsuite/flattening/modelica/declarations/PackageRestriction2.mo
  testsuite/flattening/modelica/declarations/PackageRestriction3.mo
  testsuite/flattening/modelica/declarations/RecordRestriction1.mo
  testsuite/flattening/modelica/declarations/RecordRestriction2.mo
  testsuite/flattening/modelica/declarations/RecordRestriction3.mo
  testsuite/flattening/modelica/declarations/TypeRestriction1.mo
  testsuite/flattening/modelica/declarations/TypeRestriction2.mo
  testsuite/flattening/modelica/declarations/TypeRestriction3.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/flattening/modelica/scodeinst/EncapsulatingInst1.mo
  testsuite/flattening/modelica/scodeinst/ExternalNonFunction1.mo
  testsuite/flattening/modelica/scodeinst/InnerOuter2.mo
  testsuite/flattening/modelica/scodeinst/LookupLibrary1.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents1.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents2.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents3.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents4.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents5.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents6.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents7.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents8.mo
  testsuite/flattening/modelica/scodeinst/PackageConstant3.mo
  testsuite/flattening/modelica/scodeinst/PackageConstant4.mo
  testsuite/flattening/modelica/scodeinst/PartialFunction1.mo
  testsuite/flattening/modelica/scodeinst/PartialFunction2.mo
  testsuite/flattening/modelica/scodeinst/ReinitInvalid1.mo
  testsuite/flattening/modelica/scodeinst/const1.mo
  testsuite/flattening/modelica/scodeinst/const11.mo
  testsuite/flattening/modelica/scodeinst/const4.mo
  testsuite/openmodelica/flatmodelica/Comments.mo
  testsuite/openmodelica/flatmodelica/SD.mo
  testsuite/openmodelica/flatmodelica/SimpleCoolingCycle.mo
  testsuite/simulation/modelica/records/RecordConstructor1.mos
Labels: COMP/OMC/Frontend

#8937 Fix syntax error.
  .CI/cmake/Jenkinsfile.cmake.ubuntu.gcc.test
Labels: COMP/Library Testing, COMP/Build System

#8942 [FE] update inline functions
  OMCompiler/Compiler/FrontEnd/Inline.mo
Labels: COMP/OMC/Frontend

#8946 Fix syntax error, again.
  .CI/cmake/Jenkinsfile.cmake.ubuntu.gcc.test
Labels: COMP/Build System

#8947 Dump class comments/annotations in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceComment1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Interactive Environment

#8954 Compile static libs with position independent code
  CMakeLists.txt
  OMCompiler/CMakeLists.txt
  OMParser/Makefile
Labels: CI/Build MINGW, COMP/GUI/OMEdit, COMP/Build System

#8956 [janitor] Cleanup events.c
  OMCompiler/SimulationRuntime/c/simulation/solver/events.c
  OMCompiler/SimulationRuntime/c/simulation/solver/events.h
  OMCompiler/SimulationRuntime/c/util/list.c
  OMCompiler/SimulationRuntime/c/util/list.h
  testsuite/simulation/modelica/algorithms_functions/ZeroCross.mos
Labels: COMP/SimRT/C

#8963 Dumps annotations as JSON in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
Labels: COMP/OMC/Interactive Environment

#8962 Backport long path on Windows
  OMCompiler/Compiler/Util/omc_file_ext.h
  OMCompiler/Compiler/boot/include/msgpack-modelica.h
  OMCompiler/Compiler/runtime/HpcOmBenchmarkExt.cpp
  OMCompiler/Compiler/runtime/SimulationResults.c
  OMCompiler/Compiler/runtime/SimulationResultsCmp.c
  OMCompiler/Compiler/runtime/SimulationResultsCmpTubes.c
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/Compiler/runtime/TaskGraphResultsCmp.cpp
  OMCompiler/Compiler/runtime/om_curl.c
  OMCompiler/Compiler/runtime/om_unzip.c
  OMCompiler/Compiler/runtime/printimpl.c
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Compiler/runtime/systemimpl.h
  OMCompiler/Compiler/runtime/zeromqimpl.c
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/ModelicaMatIO.c
  OMCompiler/SimulationRuntime/OpenTurns/wrapper_template_mat.c
  OMCompiler/SimulationRuntime/c/optimization/eval_all/EvalG.c
  OMCompiler/SimulationRuntime/c/simulation/modelinfo.c
  OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_qss_simulation.c.inc
  OMCompiler/SimulationRuntime/c/util/OldModelicaTables.c
  OMCompiler/SimulationRuntime/c/util/omc_file.c
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
  OMCompiler/SimulationRuntime/c/util/utility.c
  OMCompiler/SimulationRuntime/c/util/write_csv.c
  OMEdit/OMEditLIB/Animation/VisualizerMAT.cpp
Labels: CI/Build MINGW

#8965 Fix for C89
  OMCompiler/SimulationRuntime/c/simulation/solver/events.c
Labels: bug, COMP/SimRT/C, regression

#8971 Remove Call.getLastPathName
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend

#8948 [BE] update nonlinear system handling
  OMCompiler/Compiler/BackEnd/BackendEquation.mo
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
Labels: COMP/OMC/Backend

#8977 Fix wrong error ids
  OMCompiler/Compiler/Util/Error.mo
Labels: COMP/OMC/Frontend

#8980 Implement more restriction checks
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/AssignModel1.mo
  testsuite/flattening/modelica/scodeinst/AssignPackage1.mo
  testsuite/flattening/modelica/scodeinst/Clock3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/ModelBinding1.mo
  testsuite/flattening/modelica/scodeinst/PackageBinding1.mo
Labels: COMP/OMC/Frontend

#8984 Dump components recursively in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceComment1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
Labels: COMP/OMC/Interactive Environment

#8990 Avoid evaluating parameters with Evaluate=false
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/EvaluateFalse1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#8992 Fixing System_moFiles and System_mocFiles Windows wide chars
  OMCompiler/Compiler/runtime/System_omc.c
  OMCompiler/SimulationRuntime/c/util/omc_file.h
Labels: CI/Build MINGW

#8999 Issue 8874
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/TranslationFlagsWidget.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#8998 Fixing SimCodeTV indention and record ATTR
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/Codegen

#9000 Add Surface to visualization XML
  OMCompiler/Compiler/BackEnd/VisualXML.mo
  OMCompiler/Compiler/Template/VisualXMLTpl.tpl
  OMCompiler/Compiler/Template/VisualXMLTplTV.mo
  testsuite/openmodelica/visualization/Makefile
  testsuite/openmodelica/visualization/Surfaces.mos
Labels: COMP/OMC/Interactive Environment

#9001 Issue 8839
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
Labels: COMP/GUI/OMEdit

#9005 Added a help text to convert dialog
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#9002 Define the common config variables in the Makefiles.
  Makefile.in
Labels: COMP/Build System

#9007 Add more units to parameters unit drop down
  OMCompiler/Compiler/runtime/unitparser.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#9018 [OMEdit] Fix crash when parsing shape visualizers
  OMEdit/OMEditLIB/Animation/Visualizer.cpp
Labels: COMP/GUI/OMEdit

#9040 Improve propagation of redeclare modifiers
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareMod10.mo
Labels: COMP/OMC/Frontend
