Repository OpenModelica/OpenModelica, pull requests merged in 2023-06, with the labels that each got.

#10780 [NB] add basic records to inlining
  OMCompiler/Compiler/FrontEnd/DAEDump.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/Util/StringUtil.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/for_exp.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/basics/RSE.mos
  testsuite/simulation/modelica/NBackend/basics/RSE2.mos
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#10785 Add C++ utility classes for reading MetaModelica values
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/Compiler/FrontEndCpp/CMakeLists.txt
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.cpp
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.h
Labels: COMP/OMC/MetaModelica

#10786 Improve isExperiment() API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/isExperiment.mos
Labels: COMP/OMC/Interactive Environment

#10788 Fix the handling of inherited fixed value
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#10789 Ignore non-essential equations for getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/GUI/InstBased Interface

#10791 [NB] update bindings module
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/New Backend

#10799 Fix iterator order for -d=vectorizeBindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/VectorizeBindings1.mo
Labels: COMP/OMC/Frontend

#10804 Check that complex types have the same named elements
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/FuncWrongType2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10805 Ignore invalid bindings for getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding6.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10808 Don't simplify literal arrays
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/Frontend

#10810 Don't map over literal arrays
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend

#10816 Apply the modifiers defined in the constrainedBy
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10818 Dump the ReplaceableClass comment
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Modeling/Model.cpp
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceableComment.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10817 Disable inner/outer warnings for getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/GUI/InstBased Interface

#10825 [NB] fix if equation mapping
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#10826 Handle checkModel on functions better
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#10823 Apply the extends modifiers value in bottom to top order
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10820 Improve handling of record bindings
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  testsuite/flattening/modelica/scodeinst/Inline4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/visualization/Surfaces.mos
Labels: COMP/OMC/Frontend

#10829 Delete the new chunks instead of the old ones.
  OMCompiler/SimulationRuntime/c/gc/memory_pool.c
Labels: COMP/FMI, COMP/SimRT/C

#10827 [NB] introduce semiLinear
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/New Backend

#10806 OMEdit: Added the capability to rename plot tabs
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.h
Labels: COMP/GUI/OMEdit

#10837 [NB] update lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
Labels: COMP/OMC/New Backend

#10842 Partially revert #10820
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/visualization/Surfaces.mos
Labels: COMP/OMC/Frontend

#10855 Check if component name is not same as class name when inside package
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10858 Handle non-expandable expressions in ExpressionIterator
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
Labels: COMP/OMC/Frontend

#10861 The evaluation order of function arguments is undefined
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#10854 Fix simplify on `semiLinear` with equal slopes
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: bug

#10863 Improve checking of valid connections
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10867 Only break the loop when we found the value
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10868 Fix compiler warnings in C++ runtime / OMSICpp
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/Math/ArrayOperations.cpp
  OMCompiler/SimulationRuntime/cpp/Core/Math/ArrayOperations.cpp
  OMCompiler/SimulationRuntime/cpp/Core/System/SystemDefaultImplementation.cpp
Labels: COMP/SimRT/C++

#10870 [NB] iterate for bodies in inline
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#10871 [NB] update state detection module
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
Labels: COMP/OMC/New Backend

#10875 Improve vectorization of bindings for the newbackend
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#10850 Keep start values of simvars but do not print them to modelDescription.xml.
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenFMUCommon.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_06.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_08.mos
  testsuite/openmodelica/xml/Bug3857.mos
Labels: COMP/FMI, COMP/OMC/SimCode

#10872 Fix MINGW path for command prompt script
  OMCompiler/Compiler/scripts/Prompt.bat
Labels: COMP/GUI/OMEdit

#10877 Include the class itself in getAllSubtypeOf
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/GetAllSubtypeOf2.mos
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Ticket6287and6288.mos
Labels: COMP/OMC/Interactive Environment

#10881 Remove # when printing boxed types
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/FunctionalArgInvalidType1.mo
Labels: COMP/OMC/Frontend

#10884 [NB] fix iterator collect lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#10885 Don't move complex bindings when using the NB
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#10886 [NB] update replace cref -> expression function
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
Labels: COMP/OMC/New Backend

#10887 Dump flat model after running the new backend
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/New Backend

#10457 [NB] Use same lists for symbolic and numeric jac
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendDump.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/SimCode/SerializeModelInfo.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/CodegenCpp.tpl
  OMCompiler/Compiler/Template/CodegenCppCommon.tpl
  OMCompiler/Compiler/Template/CodegenCppOMSI.tpl
  OMCompiler/Compiler/Template/CodegenOMSI_common.tpl
  OMCompiler/Compiler/Template/CodegenUtil.tpl
  OMCompiler/Compiler/Template/CodegenXML.tpl
  OMCompiler/Compiler/Template/GraphvizDumpTV.mo
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/Compiler/boot/bootstrap-sources/build/BackendDAE_records.c
  OMCompiler/Compiler/boot/bootstrap-sources/build/CodegenUtil.c
  testsuite/openmodelica/dataReconciliation/TSP_Pipe5.mos
  testsuite/openmodelica/debugDumps/dumpSparsePatternVerbose.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#10888 Improve vectorization of bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings1.mo
Labels: COMP/OMC/Frontend

#10896 Use Dockerfile with CMake
  .CI/cache-bionic-cmake-3.17.2/Dockerfile
Labels: COMP/Build System

#10900 Guard against out of bounds access
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
Labels: COMP/GUI/OMEdit

#10901 Restructure and refactor the memory pool implementation.
  OMCompiler/SimulationRuntime/c/gc/memory_pool.c
  OMCompiler/SimulationRuntime/c/gc/memory_pool.h
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
Labels: COMP/FMI, COMP/SimRT/C

#10903 Improve vectorization of bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/VectorizeBindings1.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings3.mo
Labels: COMP/OMC/Frontend

#10905 Don't ignore unknown equations/statements in ConvertDAE
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
Labels: COMP/OMC/Frontend

#10904 [NB] reintroduce minimal tearing
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#10906 Unroll vectorized connect equations
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect1.mo
Labels: COMP/OMC/Frontend

#10908 Fix non-scalarized handling of stream operators
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect2.mo
Labels: COMP/OMC/Frontend

#10909 Fix DAE conversion for some array attributes
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
Labels: COMP/OMC/Frontend
