Repository OpenModelica/OpenModelica, pull requests merged in 2023-08, with the labels that each got.

#11026 Do not fold the result when unloading another result file
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#11034 Remove the plot curve before detaching it
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#11040 Fix typo in expression sign check
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend

#11046 Store the state of the toolbars for each perspective
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11050 Improve default arguments in record constructors
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/FunctionRecordArg3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordConstructor3.mo
Labels: COMP/OMC/Frontend

#11047 [NB] Check for compatible variability
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/basics/Makefile
  testsuite/simulation/modelica/NBackend/basics/variability.mos
Labels: COMP/OMC/New Backend

#11058 Guard against nullptr in Expression
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#11061 Guard against more nullptr uses in Expression
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#11060 Remove Type.ENUMERATION_ANY
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
Labels: COMP/OMC/Frontend

#11064 Don't consider final modifiers to be empty
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#11071 Fix prefixing of connector crefs
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterConnect1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11072 Add the missing copy assignment operator for OMVariable
  OMEdit/OMEditLIB/TransformationalDebugger/OMDumpXML.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/OMDumpXML.h
Labels: COMP/GUI/OMEdit

#11074 [NB] Fix alias detection
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  testsuite/simulation/modelica/NBackend/basics/Alias.mos
  testsuite/simulation/modelica/NBackend/basics/Alias2.mos
  testsuite/simulation/modelica/NBackend/basics/Alias3.mos
  testsuite/simulation/modelica/NBackend/basics/Makefile
Labels: COMP/OMC/New Backend

#11078 [NB] update function inlining
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/simulation/modelica/NBackend/records/record_inlining.mos
Labels: COMP/OMC/New Backend

#11081 Ignore algorithms in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAlgorithm1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11082 Ignore invalid equations in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11084 Add CMake support for ParModExp.
  OMCompiler/SimulationRuntime/ParModelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/auto/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_builtin_kernels.cpp
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_builtin_kernels.h
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_memory_ops.cpp
  OMCompiler/SimulationRuntime/ParModelica/explicit/openclrt/omc_ocl_util.h
Labels: COMP/SimRT/Parallelization

#11097 Update subscripts after type checking
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/others/TestEnumAsInteger.mos
  testsuite/flattening/modelica/scodeinst/ConnectArrays4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11102 Add simulation flag `lv_system`
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/mixedSearchSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/mixedSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/newtonIteration.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/omc_error.h
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  testsuite/simulation/modelica/algorithms_functions/bug2888.mos
  testsuite/simulation/modelica/nonlinear_system/bug_2841.mos
  testsuite/simulation/modelica/others/TestExpressionSolve.mos
  testsuite/simulation/modelica/others/TestSolve.mos
  testsuite/simulation/modelica/others/TestSolve10.mos
  testsuite/simulation/modelica/others/TestSolve11.mos
  testsuite/simulation/modelica/others/TestSolve12.mos
  testsuite/simulation/modelica/others/TestSolve13.mos
  testsuite/simulation/modelica/others/TestSolve14.mos
  testsuite/simulation/modelica/others/TestSolve15.mos
  testsuite/simulation/modelica/others/TestSolve16.mos
  testsuite/simulation/modelica/others/TestSolve17.mos
  testsuite/simulation/modelica/others/TestSolve2.mos
  testsuite/simulation/modelica/others/TestSolve3.mos
  testsuite/simulation/modelica/others/TestSolve4.mos
  testsuite/simulation/modelica/others/TestSolve5.mos
  testsuite/simulation/modelica/others/TestSolve6.mos
  testsuite/simulation/modelica/others/TestSolve7.mos
  testsuite/simulation/modelica/others/TestSolve8.mos
  testsuite/simulation/modelica/others/TestSolve9.mos
  testsuite/simulation/modelica/start_value_selection/ticket5807.mos
Labels: COMP/SimRT/C

#11103 Change libomqwt to shared library.
  OMPlot/qwt/src/CMakeLists.txt
Labels: COMP/Build System, COMP/GUI/OMNotebook, COMP/GUI/OMPlot

#11110 Install omqwt.
  OMPlot/qwt/src/CMakeLists.txt
Labels: COMP/Build System, COMP/GUI/OMPlot

#10946 call System.fflush to get deterministinc printing
  OMCompiler/Compiler/Main/Main.mo
  OMCompiler/SimulationRuntime/c/util/omc_msvc.c
Labels: CI/Build MINGW, CI/CMake/Enable/MinGW
