Repository OpenModelica/OpenModelica, pull requests merged in 2023-05, with the labels that each got.

#10640 Improve setElementModifierValue
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Parser/Modelica.g
  testsuite/openmodelica/interactive-API/setComponentModifierValue.mos
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10644 Improve setExtendsModifierValue
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/setExtendsModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10649 Frontend support for partial derivatives of functions
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Template/DAEDumpTV.mo
  OMCompiler/Compiler/Template/DAEDumpTpl.tpl
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/FunctionPartialDerivative1.mo
  testsuite/flattening/modelica/scodeinst/FunctionPartialDerivative2.mo
  testsuite/flattening/modelica/scodeinst/FunctionPartialDerivative3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10656 Clean up setExtendsModifierValue
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/interactive_api_param.mos
  testsuite/openmodelica/interactive-API/setExtendsModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10660 Update the modifiers that are changed
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#10661 Add isReplaceable/isRedeclare API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
  testsuite/openmodelica/interactive-API/isRedeclare.mos
  testsuite/openmodelica/interactive-API/isReplaceable.mos
Labels: COMP/OMC/Interactive Environment

#10662 Handle the case of replaceable classes
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10663 Clean up some API calls
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#10664 Calling getText removes the white spaces
  OMEdit/OMEditLIB/FlatModelica/Parser.cpp
  OMEdit/OMEditLIB/FlatModelica/Parser.h
Labels: COMP/GUI/OMEdit

#10666 Avoid scroll bars on parameters dialog
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10672 Apply the new local modifiers of redeclared class
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/FlatModelica/Parser.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10675 Improve handling of inherited inner/outer elements
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/flattening/modelica/scodeinst/InnerOuter11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#10676 Improve error message for mismatched connectors
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/ConnectInvalidType1.mo
  testsuite/flattening/modelica/scodeinst/ConnectInvalidType2.mo
Labels: COMP/OMC/Frontend

#10677 Fix regressions from #10675
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#10690 [NF] remove superfluous check
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/Frontend

#10710 Doc var filter update
  doc/UsersGuide/source/omedit.rst
Labels: COMP/Documentation

#10704 Check that connections are valid in OMEdit
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10724 Check array connections too
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#10731 [NB] introduce function inlining
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/OMC/New Backend

#10736 Do not remove the batch file needed for re-simulation
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#10738 Select printf format specifier based on OS.
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_types.h
  OMCompiler/SimulationRuntime/c/util/modelica_string.c
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#10741 Do not update the unit drop down for default values
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10746 Remove accidentally added experimental code
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10755 Clean up some connection graph functions
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
Labels: COMP/OMC/Frontend

#10756 Do not allow invalid connections
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10748 Treat package.mo/moc the same in script vs commandline.
  OMCompiler/Compiler/Main/Main.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  testsuite/flattening/modelica/scoping/InnerOuterSamePrefix.mo
  testsuite/openmodelica/parser/DocumentationBackslash.mo
  testsuite/openmodelica/parser/RealLiterals1.mo
Labels: COMP/OMC/Interactive Environment

#10757 Do not mark the classes visible if any of children is public
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#10760 Add restriction to replaceable classes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable4.mos
Labels: COMP/GUI/InstBased Interface

#10762 Use the restriction for redeclaration
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10764 Improve the library tree items filterAcceptsRow
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#10766 [NB] fix slicing in initialization
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/OMC/New Backend

#10769 [NB] update differentiate and single slicing
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#10775 Cache shared libraries in EvalFunction
  OMCompiler/Compiler/Global/Global.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#10778 [NB] better handling of size 1 arrays
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/New Backend
