Repository OpenModelica/OpenModelica, pull requests merged in 2023-12, with the labels that each got.

#11659 Improve handling of exponentiation
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/Backend, COMP/OMC/Codegen

#11668 Print prefixes for choices
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11669 Fix LOG_NLS_V
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverKlu.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLapack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLis.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverTotalPivot.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverUmfpack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/newtonIteration.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverNewton.c
  OMCompiler/SimulationRuntime/c/simulation/solver/omc_math.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  testsuite/simulation/modelica/nonlinear_system/bug_2841.mos
  testsuite/simulation/modelica/start_value_selection/ticket5807.mos
Labels: COMP/SimRT/C

#11687 Use plain math functions in contextZeroCross
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#11688 Fix the implementation of IconMap and DiagramMap
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ExtentAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Element/Transformation.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11701 Check type when redeclaring non-replaceable component
  OMCompiler/Compiler/FrontEnd/NFSCodeCheck.mo
  OMCompiler/Compiler/FrontEnd/NFSCodeLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/redeclare/RedeclareModifierInvalid1.mo
  testsuite/flattening/modelica/redeclare/RedeclareModifierInvalid2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareNonReplaceable1.mo
Labels: COMP/OMC/Frontend

#11711 Dump all type prefixes for replaceable classes
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#11719 Fix regressions from #11701
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11724 Fix spelling/grammar of OMEdit GUI
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/OMSimulatorEditor.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#11733 Fix enumeration connectors in instance API
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  testsuite/openmodelica/instance-API/GetModelInstanceEnum1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum2.mos
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#11738 [NB] split if equations in for equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#11744 [C] only get log info if we actually log it
  OMCompiler/SimulationRuntime/c/simulation/solver/events.c
Labels: COMP/OMC/Runtime

#11760 [NB] update iterator lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#11765 [NB] correctly solve sliced variable equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#11767 [NB] simplify slice collecting and use correct functions
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
Labels: COMP/OMC/New Backend

#11768 [NB] fix algorithms with single variable
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
Labels: COMP/OMC/New Backend

#11770 [SimCode] support index array assignment equations
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#11771 [NB] update adjacency matrix
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
Labels: COMP/OMC/New Backend
