Repository OpenModelica/OpenModelica, pull requests merged in 2023-03, with the labels that each got.

#10288 Save and read the variableFilter option
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/GUI/OMEdit

#10290 Make replaceable support on by default
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#10298 Do not add parameter to Initialization group unless explicitly defined
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#10301 Fix derived replaceable classes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
Labels: COMP/GUI/InstBased Interface

#10302 [NewAPI] Check for choicesAllMatching annotation
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10306 Dump annotations for replaceable classes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable2.mos
Labels: COMP/GUI/InstBased Interface

#10307 Fix bug in sparse matrix function
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_util.c
Labels: bug, COMP/SimRT/C

#10315 Fix uninitialized parameter in resolveLoops_findLoops
  OMCompiler/Compiler/BackEnd/ResolveLoops.mo
Labels: COMP/OMC/Backend

#10316 Hide results of filtered variables
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
Labels: COMP/OMC/Backend

#10317 Do not add within twice
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10323 Dump replaceable classes better in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
Labels: COMP/GUI/InstBased Interface

#10264 New backend partitioning
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/Util/ExpandableArray.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
Labels: COMP/OMC/New Backend

#10351 Dump the type name of redeclares in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceChoices2.mos
Labels: COMP/GUI/InstBased Interface

#10372 Fix package instantiation
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Interactive Environment

#10380 Fix crash when removing the Diagram Window
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
Labels: COMP/GUI/OMEdit

#10382 Handle incorrect models better in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceMissingClass1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMissingClass2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10398 Add version information to getClassInformation
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/Bug3417.mos
  testsuite/openmodelica/interactive-API/CopyClass.mos
  testsuite/openmodelica/interactive-API/interactive_api_attributes.mos
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
  testsuite/openmodelica/interactive-API/loadFileInteractiveQualified.mos
  testsuite/openmodelica/interactive-API/setSourceFileListFile.mos
Labels: COMP/GUI/OMEdit

#10401 Fix variability check during lookup
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/PackageConstant5.mo
  testsuite/flattening/modelica/scodeinst/PackageConstant6.mo
Labels: COMP/OMC/Frontend

#10397 [BE] fix regressions of #9263
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
Labels: COMP/OMC/Backend

#10405 Fix settings in Inst.instExpressions
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#10408 [BE] Fix differentiation of enumeration literals
  OMCompiler/Compiler/BackEnd/Differentiate.mo
Labels: COMP/OMC/Backend

#10412 Add modifier argument to getModelInstance
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/Static.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#10415 Updated the FMI export documentation
  doc/UsersGuide/source/fmitlm.rst
  doc/UsersGuide/source/media/fmiExport.png
Labels: COMP/Documentation, documentation

#10417 [BE] Profile evaluateOutputsOnly separately
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/DAEMode.mo
Labels: COMP/OMC/Backend

#10419 Dump original bindings in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10420 Change unary minus to negative values earlier
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#10424 Fix dumping of bindings in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10410 [janitor] Cleanup old backend function differentiateExp
  OMCompiler/Compiler/BackEnd/Differentiate.mo
Labels: COMP/OMC/Backend

#10429 Fix schema for replaceableClass in getModelInstance
  doc/instanceAPI/getModelInstance.schema.json
Labels: COMP/GUI/InstBased Interface

#10430 [NewAPI] Show replaceable short type definitions in parameters window
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/FlatModelica/Parser.cpp
  OMEdit/OMEditLIB/FlatModelica/Parser.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10432 Keep on writing to the log file even if display limit is reached
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#10431 Use enclosing scope for extends in replaceable classes
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10437 [NB] Differentiate builtin call homotopy
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#10435 Improve evaluation of dynamic annotations
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
  OMEdit/OMEditLIB/FlatModelica/Expression.h
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10439 Measure the time performance of instance api
  OMEdit/OMEditGUI/main.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10440 Don't dump outer components in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceBinding1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10443 Write the instance api profiling to a file `instanceApiProfiling.txt`
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10445 Do not overwrite parameter values to compute attribute values.
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#10452 Improve #10445
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/SimCode

#10453 Fix intString/stringInt on 64-bit Windows
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_builtin.c
  OMCompiler/SimulationRuntime/c/openmodelica_types.h
Labels: COMP/OMC/MetaModelica

#10456 Fix derived modifiers in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10466 Update the model text when connection is updated
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/GUI/OMEdit

#10464 Consider min/max structural for connector flows
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  testsuite/flattening/modelica/scodeinst/ActualStreamMinMax1.mo
  testsuite/flattening/modelica/scodeinst/ActualStreamMinMax2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10472 Disable wheel event for drop downs and spin boxes in the OptionsDialog
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/GUI/OMEdit

#10474 Modifiers are not part of the model now
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10483 Disable the paste on read only models
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10486 Improve function evaluation
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/CevalFuncArray6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10487 Improve getAllSubtypeOf
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/GetAllSubtypeOf1.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment
