Repository OpenModelica/OpenModelica, pull requests merged in 2023-01, with the labels that each got.

#10007 [NB] array updates adjacency and simcode
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
Labels: COMP/OMC/New Backend

#10013 Consider -inputPath when looking for dependency json file.
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/ParModelica/auto/om_pm_model.cpp
Labels: COMP/OMC/Codegen, COMP/SimRT/Parallelization

#10024 [NB] use C coloring for jacobians
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/Util/Graph.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#10037 [NB] update to sparsity pattern
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#9959 Take variable size into account in checkModel
  OMCompiler/Compiler/FrontEnd/CheckModel.mo
Labels: COMP/OMC/Frontend

#10048 [cleanup] remove unused func
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#10051 Quote iterators in calls in flat modelica
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend

#10058 [NB] aplly simplify to scope only for backend
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#10061 Try to resolve the loaded libraries conflicts once
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#10064 Handle empty arrays better during unit checking
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
  testsuite/simulation/modelica/unitcheck/Makefile
  testsuite/simulation/modelica/unitcheck/UnitCheck22.mos
  testsuite/simulation/modelica/unitcheck/UnitCheck23.mos
Labels: COMP/OMC/Frontend

#10067 Parse as string to get the full value
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#10068 Do not generate the element name same as class name
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
Labels: COMP/GUI/OMEdit

#10070 Fix extends of builtin type in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceExtends3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10076 [NB] dependency: fill instead of repeat
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#10078 Improve getModelInstanceIcon
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10090 [NewAPI] Show replaceable choices in parameters window
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10093 [NewAPI] Show choices drop down in parameters window
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#10094 Dump types for deleted components in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConditional1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConditional2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10095 Disable error suppression in dumpJSONInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10096 [NewAPI] Show the connection if conditional connector is false
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10098 Ignore implicit bindings in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10063 Fix CSE detection in algebraic loops
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/FrontEnd/MetaModelicaBuiltin.mo
  testsuite/openmodelica/cruntime/optimization/basic/ReferenceFiles/testAlgLoop6_ref.mat
  testsuite/openmodelica/cruntime/optimization/basic/testAlgLoop6.mos
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/simulation/modelica/commonSubExp/cse1.mos
  testsuite/simulation/modelica/tearing/totalTearing2.mos
Labels: COMP/OMC/Backend

#10097 [NB] split up when equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
Labels: COMP/OMC/New Backend

#10101 Fix scoping in dumpJSONInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10099 Adding clear filter button in Library Browser.
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: enhancement, COMP/GUI/OMEdit

#10107 Show correct time unit in the plot tooltip
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
Labels: COMP/GUI/OMEdit

#10121 Enable error suppression for dumpJSONInstanceIcon again
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10119 [NB] update jacobian dependencies
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#10124 Show error about invalid command line arguments
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/GUI/OMEdit

#10125 Show correct time unit in the plot tooltip (#10107)
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
Labels: COMP/GUI/OMEdit

#10128 Improve mergeComponents
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents8.mo
Labels: COMP/OMC/Frontend
