Repository OpenModelica/OpenModelica, pull requests merged in 2023-02, with the labels that each got.

#10137 Fix Equation.sizeOf
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
Labels: COMP/OMC/Frontend

#9886 Use the new rss link for latest news
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#10146 Update news link
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10154 [NB] correctly deal with array dependencies in adjacency matrix
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#10155 [NB] tidy up equal structures and make it more maintainable
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#10158 [NB] update partitioning
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/OMC/New Backend

#10166 Apply transformations for DynamicSelect updates
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/GUI/OMEdit

#10168 Read the CoordinateSystem recursively
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10177 Fix scoping when instantiating annotations
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation6.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10176 Handle all sort of variable references in DynamicSelect
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
Labels: COMP/GUI/OMEdit

#10180 Return unknown unit instead of failing in parseUnitString
  OMCompiler/Compiler/NFFrontEnd/NFUnit.mo
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
  testsuite/simulation/modelica/unitcheck/Makefile
  testsuite/simulation/modelica/unitcheck/UnitCheck24.mos
Labels: COMP/OMC/Frontend

#10182 Improve DAE conversion of StateSelect
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
Labels: COMP/OMC/Frontend

#10184 Improve connection graph handling for new backend
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend

#10187 Update parameter binding using FlatModelica::Expression
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#10192 [C] optimize sparsity coloring code
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/Runtime

#10196 Improve setElementModifierValue API
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10191 Do not remove the element modifiers
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10197 Turn off getModelInstance prettyPrint in OMEdit
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10199 Add Options word to make it prominent and easy to search these settings
  doc/UsersGuide/source/omedit.rst
Labels: COMP/Documentation

#10183 [OMEdit] Fix CAD shapes naming
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Animation/Visualization.cpp
Labels: COMP/GUI/OMEdit

#10203 Make the OK button default
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#10207 Clean up solverstats array
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.h
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/irksco.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
  OMCompiler/SimulationRuntime/c/simulation/solver/radau.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.h
  OMCompiler/SimulationRuntime/c/simulation/solver/sym_solver_ssc.c
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu_read_flags.c.inc
Labels: COMP/SimRT/C

#10215 Improve getClassComment API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getClassComment.mos
Labels: COMP/OMC/Interactive Environment

#10216 Use qDeleteAll and clear instead of loop
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#10220 Handle : better in Typing.typeDimension
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#10157 CVODE Error log function
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_error.c
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_error.h
Labels: COMP/SimRT/C

#10233 fixing compilation issue
  OMEdit/OMEditLIB/Animation/ExtraShapes.cpp
Labels: CI/CMake/Enable/macOS

#10205 KINSOL: Error if no Jacobian sparsity pattern available
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
Labels: COMP/SimRT/C

#10237 Check for __linux__ instead of linux.
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_segv.h
Labels: COMP/GUI/OMEdit, COMP/SimRT/C

#10240 Allow specifying a name of the generated model when importing FMU
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMEdit/OMEditLIB/FMI/ImportFMUDialog.cpp
  OMEdit/OMEditLIB/FMI/ImportFMUDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/FMI, COMP/GUI/OMEdit

#10241 [C] Compute sparse jacobian faster
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.h
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.h
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu_read_flags.c.inc
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu_read_flags.h
Labels: COMP/OMC/Runtime

#10243 Improve getModelInstance
  OMCompiler/Compiler/Parsers/JSON.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation4.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation6.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceBinding1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceBinding2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceChoices1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceChoices2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConditional1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConditional2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDuplicate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEvaluate1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExp1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceExtends3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceMod2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceStateMachine1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10245 Update getModelInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon4.mos
Labels: COMP/GUI/InstBased Interface

#10246 Add $kind to extends in getModelInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon4.mos
Labels: COMP/GUI/InstBased Interface

#10251 Filter output
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
Labels: COMP/OMC/Backend

#10253 Show the parameters in declaration order
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10254 Display the enumeration with value and comment
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  testsuite/openmodelica/instance-API/GetModelInstanceEnum1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum2.mos
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10256 Fix the creation of tabs and groups for parameters
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#10265 Improve scalability of getModelInstance
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/Parsers/JSON.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10091 Improve recreation of records in simulation context.
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/Codegen

#10270 Fix source location schema
  doc/instanceAPI/getModelInstance.schema.json
Labels: COMP/GUI/InstBased Interface

#10275 Improve getAllSubtypeOf
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Interactive Environment

#10278 Show the parameters in the correct tab and group
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10280 Move the instance api flag from command line to options
  OMEdit/OMEditGUI/main.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/OMEditApplication.cpp
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/GUI/OMEdit

#10281 Fix scope for constrainedby annotation
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation7.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10277 Improve getAllSubtypeOf
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment
