Repository OpenModelica/OpenModelica, pull requests merged in 2023-07, with the labels that each got.

#10919 Don't instantiate outer components
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/InnerOuter12.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterInvalidMod1.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterInvalidMod2.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterInvalidMod3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10907 Simplify SystemImpl to use omc_stat
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/Compiler/runtime/systemimpl.h
Labels: CI/Build MINGW

#10921 Add options to saveTotalModelDebug
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#10923 Add option for simplified save total model in OMEdit
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#10925 Handle inner/outer in connectors
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend

#10928 Remove special case for initial() in checkModel
  OMCompiler/Compiler/FrontEnd/CheckModel.mo
Labels: COMP/OMC/Frontend

#10889 Use minimal Tearing instead of no Tearing
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/simulation/modelica/nonlinear_system/Makefile
  testsuite/simulation/modelica/nonlinear_system/nlsTestPackage.mo
  testsuite/simulation/modelica/nonlinear_system/problem1.mos
  testsuite/simulation/modelica/nonlinear_system/problem1_kinsol.mos
  testsuite/simulation/modelica/nonlinear_system/problem1_newton.mos
  testsuite/simulation/modelica/nonlinear_system/problem1_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem1_symjac_tearing.mos
  testsuite/simulation/modelica/nonlinear_system/problem2.mos
  testsuite/simulation/modelica/nonlinear_system/problem2_kinsol.mos
  testsuite/simulation/modelica/nonlinear_system/problem2_newton.mos
  testsuite/simulation/modelica/nonlinear_system/problem2_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem2_symjac_tearing.mos
  testsuite/simulation/modelica/nonlinear_system/problem3_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem4_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem5_kinsol.mos
  testsuite/simulation/modelica/nonlinear_system/problem5_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem5_symjac_tearing.mos
  testsuite/simulation/modelica/nonlinear_system/problem6_symjac.mos
  testsuite/simulation/modelica/nonlinear_system/problem7_symjac.mos
  testsuite/simulation/modelica/tearing/minimalTearing.mos
Labels: COMP/OMC/Backend

#10922 [NB] update for-when nesting
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#10936 Fix compiler warnings
  OMCompiler/SimulationRuntime/c/gc/omc_gc.h
  OMNotebook/OMNotebook/OMNotebookGUI/ModelicaTextHighlighter.h
  OMNotebook/OMNotebook/OMNotebookGUI/application.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommands.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/celldocument.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/command.h
  OMNotebook/OMNotebook/OMNotebookGUI/commandcenter.h
  OMNotebook/OMNotebook/OMNotebookGUI/document.h
  OMNotebook/OMNotebook/OMNotebookGUI/factory.h
  OMNotebook/OMNotebook/OMNotebookGUI/graphcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/graphcelldelegate.h
  OMNotebook/OMNotebook/OMNotebookGUI/inputcelldelegate.h
  OMNotebook/OMNotebook/OMNotebookGUI/nbparser.h
  OMNotebook/OMNotebook/OMNotebookGUI/notebook.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/parserfactory.h
  OMNotebook/OMNotebook/OMNotebookGUI/searchform.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/visitor.h
  OMShell/mosh/src/mosh.cpp
Labels: COMP/SimRT/C, COMP/GUI/OMNotebook, COMP/GUI/OMShell

#10937 [BE] fail on unfixable variables that do not occur in initial system
  OMCompiler/Compiler/BackEnd/Initialization.mo
Labels: COMP/OMC/Backend

#10950 Do not exit before printing the assertion message.
  OMCompiler/SimulationRuntime/c/util/omc_error.h
Labels: COMP/SimRT/C

#10962 Update README for CMake and macOS.
  README.cmake.md
Labels: COMP/Documentation

#10960 Use nominal values for zero-crossing tolerance
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Stubs/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
Labels: COMP/SimRT/C
