Repository OpenModelica/OpenModelica, pull requests merged in 2023-10, with the labels that each got.

#11295 Initial support for CMake based NSIS and RPM packaging.
  cmake/packaging/common.cmake
  cmake/packaging/debian.cmake
  cmake/packaging/nsis.cmake
  cmake/packaging/productbuild.cmake
  cmake/packaging/rpm.cmake
Labels: COMP/Build System

#11300 Do not try to write the settings after closing the settings file
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#11308 Add omc-diff to the omc install component.
  testsuite/difftool/CMakeLists.txt
Labels: COMP/Build System

#11315 Add dhseqr to Lapack functions
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunctionExt.mo
  OMCompiler/Compiler/Util/Lapack.mo
  OMCompiler/Compiler/runtime/lapackimpl.c
Labels: COMP/OMC/Frontend

#11316 Use the top level connector when making a connection
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11317 Fix input/output check for connectors in OMEdit
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11318 Add redeclare attribute to modifiers in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceChoices2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/ModifierToJSON1.mos
Labels: COMP/GUI/InstBased Interface

#11320 update also cmake_2.8.cmake for RYU
  OMCompiler/SimulationRuntime/c/cmake_2.8.cmake
Labels: CI/Build MINGW, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW

#11323 Do not show the redeclared but not replaceable parameters in the dialog
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11334 Use the indexed prefix when replacing split indices
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend

#11335 Don't traverse literal arrays in combineBinaries
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/Frontend

#11337 Add replaceable for modifiers in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11339 Remove inherited connections before deleting inherited elements
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11340 Consider the inherited connections when detecting collision
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11341 Check if parameter is redeclared but not is replaceable
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11343 Only check for redeclare and not replaceable for parent modifications
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#11344 [NB] Use UnorderedSet to make list unique
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#11357 Fix connector direction check in OMEdit
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#11359 Fix connector direction check in OMEdit
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#11370 Preserve the state of the painter before drawing
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#11383 Always create new Annotation for model and extends elements
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11390 include header for lseek to fix the builds on mantic
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/zlib/gzlib.c
Labels: CI/CMake/Enable/macOS

#11391 Fix array constructor simplification
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/flattening/modelica/scodeinst/ArrayConstructorRecord1.mo
  testsuite/flattening/modelica/scodeinst/ArrayConstructorRecord2.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute23.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
Labels: COMP/OMC/Frontend

#11392 [NB] update start equations
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
Labels: COMP/OMC/New Backend

#11346 Use Ryu to format the reals
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/GUI/OMEdit

#11403 Print expression evaluation failure only when debug flag is active
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11406 Allow moving the animation with mouse pad
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.h
Labels: COMP/GUI/OMEdit

#11410 Preserve the order of items with copy-paste
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11415 guard unistd.h with !defined(_MSC_VER)
  OMCompiler/SimulationRuntime/ModelicaExternalC/C-Sources/zlib/gzguts.h
Labels: CI/Build MINGW, CI/CMake/Enable/macOS

#11427 Use Ryu to format number displayed in the Variables browser
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#11405 [NB] udapte discrete state handling
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#11444 Change getModelInstanceIcon to getModelInstanceAnnotation
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/instance-API/GetModelInstanceIcon1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon4.mos
Labels: COMP/GUI/InstBased Interface

#11445 Fix connectors move operation when instance API is used
  OMEdit/OMEditLIB/Modeling/Commands.cpp
Labels: COMP/GUI/OMEdit

#11447 Fetch the diagram annotation when adding component to the diagram
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#11448 Add support for subscripted general expressions
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/boot/tarball-include/OpenModelicaBootstrappingHeader.h
  OMCompiler/Parser/Modelica.g
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/SubscriptedExp1.mo
  testsuite/flattening/modelica/scodeinst/SubscriptedExp2.mo
  testsuite/flattening/modelica/scodeinst/SubscriptedExp3.mo
  testsuite/flattening/modelica/scodeinst/SubscriptedExp4.mo
  testsuite/openmodelica/flatmodelica/SD.mo
Labels: COMP/OMC/Frontend

#11451 Nb update function alias
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
Labels: COMP/OMC/New Backend

#11452 Use the ModelWidget instead of LibraryTreeItem after renaming the SSP
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#11460 Show a message when trying to use encryption menu items
  Makefile.omdev.mingw
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
Labels: COMP/GUI/OMEdit

#11463 Nb event detection revamp
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/event_handling/compositeEvent.mos
  testsuite/simulation/modelica/NBackend/event_handling/eventSystem.mos
Labels: COMP/OMC/New Backend

#11470 [NB] inline tuple equations
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  testsuite/simulation/modelica/NBackend/records/Makefile
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
Labels: COMP/OMC/New Backend

#11481 Nb when initial
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#11480 Fix unassigned variable in CompositeEvent.add
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#11484 Clean up SCodeUtil Annotation functions
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionInverse.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/Script/CevalScript.mo
Labels: COMP/OMC/Frontend
