Repository OpenModelica/OpenModelica, pull requests merged in 2023-09, with the labels that each got.

#11123 Clarify Function.isSpecialBuiltin
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/OMC/Frontend

#11095 [NB] create backbone for function alias module
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/exemplary.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/basics/Alias.mos
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
  testsuite/simulation/modelica/NBackend/records/record_inlining.mos
Labels: COMP/OMC/New Backend

#11113 [BE] simplify in remove simple equations
  OMCompiler/Compiler/BackEnd/RemoveSimpleEquations.mo
  testsuite/openmodelica/cppruntime/fmu/modelExchange/2.0/testDrumBoiler.mos
Labels: COMP/OMC/Backend

#11127 Handle recursive classes in the instance API
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceMissingClass3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#11131 Fix InteractiveUtil.getPathedElementInProgram for builtins
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/getClassComment.mos
Labels: COMP/OMC/Interactive Environment

#11133 Use default wrap mode i.e., QTextOption::WrapAtWordBoundaryOrAnywhere
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
Labels: COMP/GUI/OMEdit

#11135 Only show the hidden classes if they are not encrypted
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#11044 Require C++17 for OMCompiler/OMEdit
  CMakeLists.txt
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.cpp
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.h
  OMCompiler/configure.ac
  OMEdit/CMakeLists.txt
  OMEdit/OMEditGUI/OMEditGUI.pro
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/configure.ac
Labels: COMP/Build System

#11141 Undo some changes made in #11027.
  OMCompiler/Compiler/Template/CodegenCpp.tpl
Labels: COMP/SimRT/C++

#11142 Improve redeclaration of inner/outer components
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterReplaceable3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11143 Improve handling of linked libraries to generated CPP code.
  OMCompiler/SimulationRuntime/cpp/Core/CMakeLists.txt
Labels: COMP/SimRT/C++

#11144 Use the default CMake for the extra CI job.
  .CI/cmake/Jenkinsfile.cmake.ubuntu.gcc.test
Labels: COMP/Build System

#11146 Refactor codegen for static data in LS
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
Labels: COMP/OMC/Codegen

#11148 [NB] update parameter start value
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#11156 Remove global std namespace uses.
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/application.h
  OMNotebook/OMNotebook/OMNotebookGUI/cell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cell.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellapplication.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellapplication.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommandcenter.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommandcenter.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommands.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommands.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellcursor.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/celldocument.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/celldocument.h
  OMNotebook/OMNotebook/OMNotebookGUI/cellfactory.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellgroup.h
  OMNotebook/OMNotebook/OMNotebookGUI/command.h
  OMNotebook/OMNotebook/OMNotebookGUI/commandcompletion.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cursorcommands.h
  OMNotebook/OMNotebook/OMNotebookGUI/cursorposvisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/document.h
  OMNotebook/OMNotebook/OMNotebookGUI/evalthread.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/evalthread.h
  OMNotebook/OMNotebook/OMNotebookGUI/graphcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/inputcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/notebook.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/notebook.h
  OMNotebook/OMNotebook/OMNotebookGUI/notebookcommands.h
  OMNotebook/OMNotebook/OMNotebookGUI/omcinteractiveenvironment.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/printervisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/puretextvisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/qtapp.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/removehighlightervisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/rule.h
  OMNotebook/OMNotebook/OMNotebookGUI/serializingvisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/stripstring.h
  OMNotebook/OMNotebook/OMNotebookGUI/stylesheet.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/textcursorcommands.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/textcursorcommands.h
  OMNotebook/OMNotebook/OMNotebookGUI/updatelinkvisitor.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/updatelinkvisitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/visitor.h
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMNotebook/OMNotebook/OMSketch/Line.cpp
  OMShell/OMShell/OMShellGUI/commandcompletion.cpp
  OMShell/OMShell/OMShellGUI/oms.cpp
  OMShell/OMShell/OMShellGUI/oms.h
  OMShell/mosh/src/mosh.cpp
  OMShell/mosh/src/options.cpp
Labels: COMP/GUI/OMEdit, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW, COMP/GUI/OMNotebook, COMP/GUI/OMShell

#11155 Set CXX standard to c++17/c++1z
  CMakeLists.txt
  OMEdit/CMakeLists.txt
  OMEdit/OMEditGUI/OMEditGUI.pro
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMNotebook/OMNotebook/OMNotebookGUI/OMNotebookGUI.pro
  OMPlot/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/OMPlotGUI.pro
  OMPlot/OMPlot/OMPlotGUI/OMPlotLib.pro
  OMShell/OMShell/OMShellGUI/OMShellGUI.pro
Labels: COMP/GUI/OMEdit, COMP/Build System, CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW, COMP/GUI/OMNotebook, COMP/GUI/OMPlot, COMP/GUI/OMShell

#11165 Add proper line breaks in linear model string
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/Codegen

#11166 Improve error checking of external objects
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/ExternalObjectMod1.mo
  testsuite/flattening/modelica/scodeinst/ExternalObjectReplaceable1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11170 Fix Windows build. Adjust variable usage.
  Makefile.omdev.mingw
Labels: COMP/Build System

#11171 Return false if load/parseEncryptedPackage fails
  OMCompiler/Compiler/Script/CevalScript.mo
Labels: COMP/OMC/Interactive Environment

#11175 Draw the connections on top of components
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Element/CornerItem.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11176 Fix copy of the libOMSimulator dll on Windows.
  Makefile.omdev.mingw
Labels: COMP/Build System

#11179 Treat the white-space as normal instead of preformatting the text
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
Labels: COMP/GUI/OMEdit

#11181 Preserve the dynamic values while dumping the annotation
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#11177 Do not use variables before they are set.
  OMCompiler/Makefile.in
  testsuite/openmodelica/dataReconciliation/Makefile
Labels: COMP/Build System

#11186 Draw a node when connections converge/intersects
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11187 Do not set the progress bar to 100% in case of failure
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#11188 Add get/setElementAnnotation API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getElementAnnotation.mos
  testsuite/openmodelica/interactive-API/setElementAnnotation.mos
Labels: COMP/OMC/Interactive Environment

#11190 Don't evaluate external objects
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  testsuite/flattening/modelica/scodeinst/ExternalObjectVariability1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11203 QLineF::intersects is introduced in Qt 5.14
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11211 Use setElementAnnotation instead of updateComponent
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#11214 Update the depending models when model is edited textually
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11212 Enable the instance API by default
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#11216 Fix handling of pure/impure
  OMCompiler/Compiler/FFrontEnd/FGraph.mo
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ClassInf.mo
  OMCompiler/Compiler/FrontEnd/InstFunction.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/SCode.mo
  OMCompiler/Compiler/FrontEnd/SCodeDump.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/Template/AbsynDumpTpl.tpl
  OMCompiler/Compiler/Template/SCodeDumpTpl.tpl
  OMCompiler/Compiler/Template/SCodeTV.mo
  testsuite/flattening/modelica/scodeinst/ConnectExternalObject1.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionExplicit1.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionExplicit2.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionExplicit3.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionImplicit1.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionImplicit2.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionImplicit3.mo
  testsuite/flattening/modelica/scodeinst/ExternalFunctionImplicit4.mo
  testsuite/flattening/modelica/scodeinst/ExternalObject2.mo
  testsuite/flattening/modelica/scodeinst/ExternalObject3.mo
  testsuite/flattening/modelica/scodeinst/ExternalObject4.mo
  testsuite/flattening/modelica/scodeinst/ExternalObjectVariability1.mo
  testsuite/flattening/modelica/scodeinst/InstanceRestriction2.mo
  testsuite/flattening/modelica/scodeinst/Ticket5821.mo
  testsuite/openmodelica/interactive-API/instantiateFunction.mos
  testsuite/simulation/modelica/arrays/gc.mos
Labels: COMP/OMC/Frontend

#11219 Reactivate `-d=dumpSCCGraphM`
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
Labels: bug, COMP/OMC/Backend

#11223 Fix warnings due to ambiguous endl usage
  OMNotebook/OMNotebook/OMNotebookGUI/cell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellapplication.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellcommandcenter.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/celldocument.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/commandcompletion.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/graphcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/indent.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/inputcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/latexcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/stripstring.h
  OMNotebook/OMNotebook/OMNotebookGUI/textcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/updatelinkvisitor.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMShell/OMShell/OMShellGUI/commandcompletion.cpp
  OMShell/OMShell/OMShellGUI/oms.cpp
Labels: COMP/GUI/OMNotebook, COMP/GUI/OMShell

#11232 Fetch the class extends modifiers of the element recursively
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#11234 Fix AbsynUtil.purityEqual
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
Labels: COMP/OMC/Frontend

#11238 Fix unassigned variable in Inst.lookupRootClass
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#11239 Update the translations files to the latest source code
  OMEdit/OMEditLIB/OMEditApplication.h
  OMEdit/OMEditLIB/Resources/nls/OMEdit_de.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_es.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_fr.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_it.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ja.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ro.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ru.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_sv.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_zh_CN.ts
Labels: COMP/GUI/OMEdit

#11241 Fix parsing of within followed by comment and EOF
  OMCompiler/Parser/Modelica.g
  testsuite/openmodelica/parser/Makefile
  testsuite/openmodelica/parser/WithinComment1.mo
Labels: COMP/OMC/Frontend

#11243 Parenthesize subscripted flat expressions
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/openmodelica/flatmodelica/SD.mo
Labels: COMP/OMC/Frontend

#11254 Fix rendering of ellipse connectors when redrawn because of connection
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11264 Handle the sensitivity optimization data when using instance API
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11263 Catch exceptions when calling ffi_call
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Compiler/runtime/Makefile.common
  OMCompiler/Compiler/runtime/ffi_omc.cpp
  testsuite/flattening/modelica/ffi/Exception1.mos
  testsuite/flattening/modelica/ffi/FFITest/Resources/BuildProjects/gcc/Makefile
  testsuite/flattening/modelica/ffi/FFITest/Resources/C-Sources/FFITestLibCpp.cpp
  testsuite/flattening/modelica/ffi/FFITest/package.mo
  testsuite/flattening/modelica/ffi/Makefile
Labels: COMP/OMC/Frontend

#11266 Add FFI test for handling crashes
  testsuite/flattening/modelica/ffi/Crash1.mos
  testsuite/flattening/modelica/ffi/FFITest/Resources/C-Sources/FFITestLib.c
  testsuite/flattening/modelica/ffi/FFITest/package.mo
  testsuite/flattening/modelica/ffi/Makefile
Labels: COMP/OMC/Frontend

#11259 Reduce the size of connection nodes
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11279 Use correct context in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceFunction1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11277 Nb expand in start val
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
Labels: COMP/OMC/New Backend

#11283 [C] Fix typo in gbode
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
Labels: bug, COMP/SimRT/C

#11284 Avoid variable with same name as type in type_desc_s
  OMCompiler/Compiler/runtime/Dynload.cpp
  OMCompiler/SimulationRuntime/c/openmodelica.h
  OMCompiler/SimulationRuntime/c/util/read_write.c
Labels: COMP/OMC/Runtime

#11285 Do the collision detection when the model is modified
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit
