Repository OpenModelica/OpenModelica, pull requests merged in 2023-11, with the labels that each got.

#11487 Only strip comments from inaccessible variables
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFPrefixes.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
  testsuite/openmodelica/interactive-API/Obfuscation3.mos
Labels: COMP/OMC/Frontend

#11491 Dump connections in for-loops for getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11490 Copy missing DLLs for OMEdit installation.
  OMEdit/OMEditGUI/CMakeLists.txt
Labels: COMP/Build System, CI/CMake/Enable/MinGW

#11019 Added a context menu to allow setting final and each modifiers
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/Resources/icons/drop-menu.svg
  OMEdit/OMEditLIB/Resources/icons/fill-horizontal.svg
  OMEdit/OMEditLIB/Resources/icons/fill-vertical.svg
  OMEdit/OMEditLIB/resource_omedit.qrc
Labels: COMP/GUI/OMEdit

#11494 Dump connections in for-loops for getModelInstance (#11491)
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11495 Correct message
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#11496 Only strip comments from inaccessible variables (#11487)
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionInverse.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFPrefixes.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
  testsuite/openmodelica/interactive-API/Obfuscation3.mos
Labels: COMP/OMC/Frontend

#11493 Don't fail on invalid each usage in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding7.mos
  testsuite/openmodelica/instance-API/GetModelInstanceBinding8.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#11499 loadString of the containing model to get correct error message
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11471 Switch PThread check and use logic.
  OMCompiler/Compiler/boot/Makefile.in
  OMCompiler/Compiler/boot/Makefile.omdev.mingw
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Compiler/runtime/Makefile.common
  OMCompiler/Compiler/runtime/printimpl.c
  OMCompiler/Parser/Makefile.common
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/auto/Makefile.in
  OMCompiler/SimulationRuntime/ParModelica/auto/Makefile.omdev.mingw
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/gc/memory_pool.c
  OMCompiler/SimulationRuntime/c/gc/omc_gc.h
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_segv.c
  OMCompiler/SimulationRuntime/c/util/omc_init.c
  OMCompiler/SimulationRuntime/c/util/omc_init.h
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
  OMCompiler/SimulationRuntime/fmi/export/buildproject/configure.ac
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  OMCompiler/SimulationRuntime/opc/ua/Makefile.in
  OMCompiler/SimulationRuntime/opc/ua/Makefile.omdev.mingw
  OMCompiler/omc_config.h
  OMCompiler/omc_config.unix.h.in
  OMEdit/OMEditGUI/OMEditGUI.pro
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/Testsuite/Common/Testsuite.pri
  OMNotebook/OMNotebook/OMNotebookGUI/OMNotebookGUI.pro
  OMShell/OMShell/OMShellGUI/OMShellGUI.pro
  OMShell/mosh/src/Makefile.in
  cmake/OMCPThreads.cmake
  testsuite/special/FmuExportCrossCompile/Makefile
Labels: CI/Build MINGW, COMP/FMI, COMP/Build System

#11507 Fix ExpressionSimplify.evalCat
  OMCompiler/Compiler/FrontEnd/ExpressionSimplify.mo
  testsuite/flattening/modelica/scodeinst/CevalMatrix1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11511 Use the build-deps image directly for the CMake job.
  Jenkinsfile
Labels: COMP/Build System

#11510 Delete OpenModelicaScriptingAPI.tmp.mo after use
  OMCompiler/Compiler/Script/OpenModelicaScriptingAPI.mos
Labels: COMP/Build System

#11517 [NB] update record handling
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
  testsuite/simulation/modelica/NBackend/records/Makefile
  testsuite/simulation/modelica/NBackend/records/record_inlining.mos
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
Labels: COMP/OMC/New Backend

#11528 [NB] move backenddaeinfo report
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
Labels: COMP/OMC/New Backend

#11525 [NB] Fix small bugs in Events
  OMCompiler/Compiler/FrontEnd/MetaModelicaBuiltin.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/Util/System.mo
Labels: COMP/OMC/New Backend

#11529 Show the simulation toolbar for SSP models
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#11530 [NF] update NFFunction.hasSingleOrEmptyBody
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/OMC/New Backend

#11533 Clear the model from the clipboard when its unloaded
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11534 Forbid type dimensions when redeclaring components
  OMCompiler/Parser/Modelica.g
  testsuite/flattening/modelica/redeclare/Makefile
  testsuite/flattening/modelica/redeclare/RedeclareComponentInvalidDims1.mo
  testsuite/flattening/modelica/scodeinst/RedeclareClass2.mo
Labels: COMP/OMC/Frontend

#11536 [NF] use makeRange() to have correct type
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#11546 [NB] various minor fixes
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#11542 [NB] correctly parse records and their children
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
Labels: COMP/OMC/New Backend

#11544 Don't warn about vendor experiment options
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/flattening/modelica/connectors/Ticket4062.mo
Labels: COMP/OMC/Interactive Environment

#11550 Expandable connector fixes
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11551 [NB] fix idiotic ordering mistake
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
Labels: COMP/OMC/New Backend

#11562 Remove non-top-level direction earlier
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend

#11565 [NB] dont create wrong array equations
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#11567 Adapt to the new dump format of redeclares
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  testsuite/openmodelica/instance-API/GetModelInstanceChoices2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable5.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable6.mos
  testsuite/openmodelica/instance-API/ModifierToJSON1.mos
Labels: COMP/GUI/OMEdit

#11566 Fix ExpandExp.expandCast
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
Labels: COMP/OMC/Frontend

#11574 Add loadClassContentString API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Util/Vector.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/loadClassContentString1.mos
Labels: COMP/OMC/Interactive Environment

#11578 Use the correct CoordinateSystem
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#11579 Use the line thickness instead of FilledShape lineThickness
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11585 [NB] update record handling
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/Util/Util.mo
  testsuite/simulation/modelica/NBackend/records/Makefile
  testsuite/simulation/modelica/NBackend/records/NonTopLevelInputs.mos
Labels: COMP/OMC/New Backend

#11599 Check if we have a parameter modification or a binding
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#11602 Improve getInstanceName
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute23.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinGetInstanceName.mo
Labels: COMP/OMC/Frontend

#11607 Simplify more statements in functions
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinGetInstanceName.mo
Labels: COMP/OMC/Frontend

#11610 Do not use elided text for multiline string with fixed font size
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#11613 Rename conflicting elements in loadClassContentString
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Main/Main.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/openmodelica/interactive-API/loadClassContentString1.mos
Labels: COMP/GUI/InstBased Interface

#11616 Fix Call.compare for reductions/array constructors
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/IfExpression15.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11619 Fix scoping of enumeration conversion operators
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/flattening/modelica/scodeinst/EnumConversion3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#11627 Added a tab widget at the bottom of MainWindow
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
Labels: COMP/GUI/OMEdit

#11634 Fix the context menu for shapes
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11598 Use the `loadClassContentString` API for cut, copy and paste
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#11629 Show the typed dimensions of array parameter in the dialog
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#11644 Improve loadClassContentString
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/loadClassContentString1.mos
Labels: COMP/GUI/InstBased Interface

#11650 Do not push intermediate commands to stack
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11654 Improve handling of exponentation
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/operators/Makefile
  testsuite/flattening/modelica/operators/RealPow2.mo
Labels: COMP/OMC/Frontend
