Repository OpenModelica/OpenModelica, pull requests merged in 2023-04, with the labels that each got.

#10490 [janitor] Refactor common task
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/GUI/OMEdit

#10491 Fix scoping of class attributes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10495 Check the missing type on end connector
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#10499 Fix scoping of class attributes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#10498 Add some execStat to getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#10504 Improve handling of unconnected flow variables
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend

#10506 Use class where component is defined as a scope for getAllSubtypeOf
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#10515 Change OMCppOMCFactory to static library.
  OMCompiler/SimulationRuntime/cpp/SimCoreFactory/CMakeLists.txt
Labels: COMP/SimRT/C++, COMP/Build System

#10516 Use compareFilesAndMove instead of system(mv ...).
  OMCompiler/Compiler/Script/OpenModelicaScriptingAPI.mos
  OMCompiler/SimulationRuntime/ModelicaExternalC/MEC_standalone_2.8.cmake
  OMCompiler/SimulationRuntime/ParModelica/auto/om_pm_model.cpp
Labels: COMP/Build System

#10517 Fix some uninitialized variable uses.
  OMCompiler/Compiler/Util/BaseHashSet.mo
  OMCompiler/Compiler/runtime/matching.c
Labels: COMP/OMC/Backend, COMP/OMC/Runtime

#10518 Minor fixes for OMPlot.
  OMPlot/CMakeLists.txt
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindowContainer.cpp
Labels: CI/CMake/Enable/macOS, CI/CMake/Enable/MinGW, COMP/GUI/OMPlot

#10522 Generate legal names when obfuscating
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/Script/Obfuscate.mo
  testsuite/openmodelica/interactive-API/Obfuscation1.mos
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#10528 Replace listArrayLiteral with listArray.
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
Labels: COMP/OMC/MetaModelica

#10529 Add initial MSVC build support for OpenModelica.
  CMakeLists.txt
  README.cmake.msvc.md
Labels: COMP/Build System

#10534 Set the C++ standards using qmake CONFIGs.
  OMEdit/OMEditGUI/OMEditGUI.pro
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMNotebook/OMNotebook/OMNotebookGUI/OMNotebookGUI.pro
  OMPlot/OMPlot/OMPlotGUI/OMPlotGUI.pro
  OMPlot/OMPlot/OMPlotGUI/OMPlotLib.pro
  OMShell/OMShell/OMShellGUI/OMShellGUI.pro
Labels: COMP/GUI/OMEdit, COMP/GUI/OMNotebook, COMP/GUI/OMPlot, COMP/GUI/OMShell

#10536 Fix the scope of getAllSubtypeOf when using the instance api
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10537 Fix the scope of getAllSubtypeOf when using the instance api (#10536)
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#10540 Improve handling of expandable connectors
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnectorComplex1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10541 Improve stream connector handling
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  testsuite/flattening/modelica/scodeinst/ConnectStream1.mo
  testsuite/flattening/modelica/scodeinst/InStreamArray.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10546 Improve handling of no-flow stream connectors.
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend

#10565 Dump restriction and prefixes in getModelInstanceIcon
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceIcon1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceIcon4.mos
Labels: COMP/GUI/InstBased Interface

#10566 [BE] dont imply protected on hide result
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
Labels: COMP/OMC/Backend

#10567 Hide the parameters marked final
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#10575 Use LOG_STDOUT and LOG_ASSERT instead of stdout and assert
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOptions.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#10503 support building the simulation code as a dyamic link library
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
Labels: CI/Build MINGW, CI/CMake/Enable/macOS

#10570 utf-8 encoding for doc/usersguide
  doc/README.md
  doc/UsersGuide/.gitignore
  doc/UsersGuide/Makefile
  doc/UsersGuide/README.md
  doc/UsersGuide/source/.gitignore
  doc/UsersGuide/source/githubreleases.py
Labels: COMP/Documentation

#10581 [SimCode] add missing function pointer dump
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/SimCode

#10582 Improve component handling
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#10573 [BE] parse arrays as record attributes
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/simulation/modelica/commonSubExp/cseFunctionCall4c.mos
Labels: COMP/OMC/Backend

#10592 Clean up modifier setting APIs
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/Bug3783.mos
  testsuite/openmodelica/interactive-API/Ticket6287and6288.mos
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
  testsuite/openmodelica/interactive-API/interactive_api_param.mos
  testsuite/openmodelica/interactive-API/setComponentModifierValue.mos
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10597 Fix detection of basic types in Typing.typeClassSections
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ConnectExtendsBuiltin1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10601 Fix detection of basic types in Typing.typeClassSections
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ConnectExtendsBuiltin1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#10611 Isolate disjoint-set forest and use union by rank
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
Labels: COMP/OMC/New Backend

#10615 Improve typing of array constructor in relaxed context
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/openmodelica/instance-API/GetModelInstanceExp2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#10616 Improve setElementModifierValue
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Ticket6287and6288.mos
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#10609 BUILD_ALWAYS for OMSimulator_external
  omsimulator.cmake
Labels: COMP/OMSimulator

#10624 Improve handling of record bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding13.mo
Labels: COMP/OMC/Frontend

#10625 Fix return value of qualifyPath()
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/instance-API/QualifyPath1.mos
Labels: COMP/OMC/Interactive Environment

#10628 Fix the duplicate of items when instance api is used
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit
