Repository OpenModelica/OpenModelica, pull requests merged in 2024-03, with the labels that each got.

#11696 Updating doc of some Modelica builtins
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
Labels: documentation

#12059 Do not allow setting start value for inputs
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#12076 Set the transform of the default rectangle and text for element
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12079 Fix random failures of OMEdit testsuite
  OMEdit/Testsuite/Testsuite.pro
Labels: COMP/GUI/OMEdit

#12082 Show an error if OMEdit fails to find the class
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12078 Improve annotation name lookup
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation11.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12080 Use full path instead of relative in instance API
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation6.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection4.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection5.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceEnum2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable1.mos
  testsuite/openmodelica/instance-API/GetModelInstanceReplaceable3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceStateMachine1.mos
Labels: COMP/GUI/InstBased Interface

#12084 Take the diagram annotation from the base class for connector
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12085 Improve annotation name lookup (#12078)
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation11.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12089 Fix trailing whitespace in XML dump
  OMCompiler/Compiler/BackEnd/XMLDump.mo
  testsuite/openmodelica/xml/BB.mos
  testsuite/openmodelica/xml/SimpleTriggeredTrapezoid.mos
Labels: COMP/OMC/Interactive Environment

#12071 Check for unassigned fixed parameters
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance8.mos
  testsuite/flattening/modelica/scodeinst/BindingArray7.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute21.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute23.mo
  testsuite/flattening/modelica/scodeinst/ConditionInvalid1.mo
  testsuite/flattening/modelica/scodeinst/ConstantConnector1.mo
  testsuite/flattening/modelica/scodeinst/ConstantConnector3.mo
  testsuite/flattening/modelica/scodeinst/ForConnect2.mo
  testsuite/flattening/modelica/scodeinst/IfConnect4.mo
  testsuite/flattening/modelica/scodeinst/IfEquation8.mo
  testsuite/flattening/modelica/scodeinst/IfExpression15.mo
  testsuite/flattening/modelica/scodeinst/Inline4.mo
  testsuite/flattening/modelica/scodeinst/InnerOuterPartialOuter2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/NonFixedConstant1.mo
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
  testsuite/flattening/modelica/scodeinst/ParameterDer.mo
  testsuite/flattening/modelica/scodeinst/RecordBinding4.mo
  testsuite/flattening/modelica/scodeinst/RedeclareClass2.mo
  testsuite/flattening/modelica/scodeinst/RedeclareMod8.mo
  testsuite/flattening/modelica/scodeinst/RedeclareMod9.mo
  testsuite/flattening/modelica/scodeinst/UnboundParameter1.mo
  testsuite/flattening/modelica/scodeinst/UnboundParameter2.mo
  testsuite/flattening/modelica/scodeinst/const7.mo
  testsuite/flattening/modelica/scodeinst/const8.mo
  testsuite/flattening/modelica/scodeinst/dim13.mo
  testsuite/flattening/modelica/scodeinst/loop3.mo
  testsuite/flattening/modelica/scodeinst/redeclare2.mo
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_08.mos
  testsuite/openmodelica/xml/BB.mos
  testsuite/openmodelica/xml/XmlDumpComment.mo
  testsuite/openmodelica/xml/XmlDumpComment.mos
  testsuite/simulation/modelica/initialization/parameters.mos
Labels: COMP/OMC/Frontend

#12092 Instructions to compile OMEdit with Qt Creator
  OMEdit/README.md
  OMEdit/build_settings.png
Labels: COMP/GUI/OMEdit

#12093 Use the correct scale when drawing the text annotation
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#12094 Dump the modifiers and comment of ReplaceableClass
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12099 Fix the handling of IconMap and DiagramMap
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12104 Update the auto-complete functionality for instance API
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#12112 FMU CVODE linking on older OS
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: COMP/FMI

#12113 Fix Linux FMU runtime deps for installed OpenModelica
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
Labels: COMP/FMI

#12115 Use the line thickness attribute properly
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#12119 Show the redeclare from the extends clause modifiers
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#12120 Improve copyClass API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/CopyClass.mos
  testsuite/openmodelica/interactive-API/CopyClass1.mos
  testsuite/openmodelica/interactive-API/CopyClass2.mos
  testsuite/openmodelica/interactive-API/CopyClass3.mos
  testsuite/openmodelica/interactive-API/CopyClass4.mos
  testsuite/openmodelica/interactive-API/CopyClass5.mos
  testsuite/openmodelica/interactive-API/CopyClassInvalid1.mos
  testsuite/openmodelica/interactive-API/CopyClassRedeclare1.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment

#12121 Hide only protected variables for encrypted classes
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#12123 Prompt for a name change when duplicating component
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Helper.cpp
Labels: COMP/GUI/OMEdit

#12130 Avoid crashing transformational debugger when using the NB
  OMEdit/OMEditLIB/TransformationalDebugger/OMDumpXML.cpp
Labels: COMP/GUI/OMEdit

#12131 Improve handling of unknown dimensions in functions
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown14.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12132 Check if auto scale is enabled before automatically calling fitInView
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMNotebook/DrModelica/QuickTour/HelloWorld.onb
  OMNotebook/OMNotebook/OMNotebookGUI/graphcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMPlot/OMPlot/OMPlotGUI/Legend.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/GUI/OMEdit, COMP/GUI/OMPlot

#12136 Fix dimension typing regression
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown15.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12137 Show an error message in the diagram view when the instance API fails
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#12138 Remove `defineunit` from parser
  OMCompiler/Parser/BaseModelica_Lexer.g
  OMCompiler/Parser/Modelica.g
  testsuite/flattening/modelica/mosfiles/AIMC_DOLTotal.mo
  testsuite/flattening/modelica/mosfiles/EnzMMTotal.mo
  testsuite/flattening/modelica/mosfiles/TransformerYYTotal.mo
  testsuite/flattening/modelica/others/PEXPipeTotal.mo
Labels: COMP/OMC/Frontend

#12140 Set the modifier name when modifier is not an object
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12146 Fix connector balance check
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector12.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12133 [NB] Fix binding/start equations for non-literals
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/simulation/modelica/NBackend/array_handling/for_exp.mos
Labels: COMP/OMC/New Backend

#12154 Show the loaded classes with auto-complete
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12155 Fix creating the connection between two expandable connectors
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#12156 Use the correct parent name of the connector
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
Labels: COMP/GUI/OMEdit

#12157 Set the bounding rectangle of the port
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12158 Load dependencies in loadString
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/conversion/ConvertPackage1.mos
  testsuite/openmodelica/conversion/ConvertPackage2.mos
  testsuite/openmodelica/cppruntime/testVectorizedBlocks.mos
  testsuite/openmodelica/diff/ticket3619.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_17.mos
  testsuite/openmodelica/interactive-API/UsesAnnotation1.mos
  testsuite/openmodelica/interactive-API/UsesAnnotation2.mos
Labels: COMP/OMC/Interactive Environment

#12148 Implement inheritance of experiment annotations
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Util/Error.mo
  OMCompiler/Compiler/Util/List.mo
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Ticket5565.mos
  testsuite/openmodelica/interactive-API/getSimulationOptions1.mos
  testsuite/openmodelica/interactive-API/getSimulationOptions2.mos
Labels: COMP/OMC/Interactive Environment

#12169 Adapt the create connector to instance API
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Helper.cpp
Labels: COMP/GUI/OMEdit

#12170 Correct class for selecting file type
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#12167 Replace shared crefs with zero in resolve loops
  OMCompiler/Compiler/BackEnd/ResolveLoops.mo
  testsuite/simulation/libraries/msl32/Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.AIMC_DOL_MultiPhase.mos
  testsuite/simulation/libraries/msl32/Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.AIMS_Start_MultiPhase.mos
  testsuite/simulation/libraries/msl32/Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMEE_Generator_MultiPhase.mos
  testsuite/simulation/libraries/msl32/Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMPM_Inverter_MultiPhase.mos
  testsuite/simulation/libraries/msl32/Modelica.Magnetic.FundamentalWave.Examples.BasicMachines.SMR_Inverter_MultiPhase.mos
Labels: COMP/OMC/Backend

#12175 Don't check record parameters with new backend
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend
