Repository OpenModelica/OpenModelica, pull requests merged in 2024-07, with the labels that each got.

#12666 Don't print tuple subscripts for Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/Tuple1.mo
Labels: COMP/Base Modelica

#12668 Fix Scalarize.scalarizeVariable
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
Labels: COMP/OMC/Frontend

#12670 Don't print out _ for Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/Tuple2.mo
Labels: COMP/Base Modelica

#12671 Reduce evaluation of external functions in instance API
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#12682 Implement Base Modelica scalarization
  OMCompiler/Compiler/NFFrontEnd/BaseModelica.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/Scalarize1.mo
  testsuite/openmodelica/basemodelica/Scalarize2.mo
  testsuite/openmodelica/basemodelica/Scalarize3.mo
  testsuite/openmodelica/basemodelica/Scalarize4.mo
  testsuite/openmodelica/basemodelica/Scalarize5.mo
  testsuite/openmodelica/basemodelica/Scalarize6.mo
  testsuite/openmodelica/basemodelica/Scalarize7.mo
Labels: COMP/Base Modelica

#12683 Fix dumping of record element expressions
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/Base Modelica

#12684 Improve performance of BackendDAEUtil.applyIndexType
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/Util/BaseAvlSet.mo
Labels: COMP/OMC/Backend

#12526 [NB] Update Alias module
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  testsuite/simulation/modelica/NBackend/basics/Alias.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test1.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test2.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test3.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test4.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test5.mos
  testsuite/simulation/modelica/NBackend/basics/Makefile
Labels: COMP/OMC/New Backend

#12689 fix typos in OMMatlab user's guide
  doc/UsersGuide/source/ommatlab.rst
Labels: documentation

#12690 Handle unknown dimensions better in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  testsuite/openmodelica/instance-API/GetModelInstanceDim2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDim3.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12697 [NB] Fixing issues in Alias module introduced in #12526
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/simulation/modelica/NBackend/basics/Alias_test1.mos
Labels: COMP/OMC/New Backend

#12713 [NB] fix differentiation of boolean types in alias
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#12707 [NB] introduce clocked systems
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBPartition.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBSystem.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBDAEMode.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFClockKind.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimPartition.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/Util/List.mo
  OMCompiler/Compiler/Util/StringUtil.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/basics/Alias.mos
  testsuite/simulation/modelica/NBackend/basics/Alias2.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test1.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test2.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test3.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test4.mos
  testsuite/simulation/modelica/NBackend/basics/Alias_test5.mos
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/clocked/Makefile
  testsuite/simulation/modelica/NBackend/clocked/Synchronous.mo
  testsuite/simulation/modelica/NBackend/clocked/subSample.mos
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
  testsuite/simulation/modelica/synchronous/boolSubClocks.mo
Labels: COMP/OMC/New Backend

#12716 [NB] update event clocks
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFClockKind.mo
  OMCompiler/Compiler/NSimCode/NSimPartition.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/clocked/Makefile
  testsuite/simulation/modelica/NBackend/clocked/holdVar.mos
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
Labels: COMP/OMC/New Backend

#12720 [NB] add clocked equations to addUntypedList
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#12530 [NB] Reactivate use of sparsity pattern
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/PowerSystemStepLoad.mos
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/OMC/New Backend

#12743 Deactivate Jacobians for SCCs
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
  testsuite/simulation/modelica/NBackend/basics/implicitEquation.mos
Labels: COMP/OMC/New Backend

#12745 Don't check div-by-zero
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#12750 [NSimCode] collect event clock when equations
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimPartition.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#12751 [NSimCode] update no return equation handling
  OMCompiler/Compiler/NSimCode/NSimCode.mo
Labels: COMP/OMC/New Backend

#12752 [testsuite] update new backend clock tests (move from failing to working)
  testsuite/simulation/modelica/NBackend/clocked/Makefile
  testsuite/simulation/modelica/NBackend/clocked/eventConstructor.mos
  testsuite/simulation/modelica/NBackend/clocked/noClock.mos
  testsuite/simulation/modelica/NBackend/clocked/rationalConstructor1.mos
Labels: COMP/OMC/New Backend

#12755 [NB] Fix differentiation of builtin functions
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#12758 Remove the Element children when we delete it
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit
