Repository OpenModelica/OpenModelica, pull requests merged in 2024-08, with the labels that each got.

#12763 Set the OriginItem position when creating the elements
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12765 [NB] update holdEvents for clocked
  OMCompiler/Compiler/NBackEnd/Classes/NBPartition.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/clocked/holdVar.mos
Labels: COMP/OMC/New Backend

#12635 Avoid calling `getModelInstance` when adding a new component
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#12772 Remove unnecessary dereference in ErrorMessage
  OMCompiler/Compiler/runtime/ErrorMessage.cpp
Labels: COMP/OMC/Runtime

#12777 Choices are expressed in the same unit as the parameter
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#12779 Revert "Don't expand sum/product (#12773)"
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding7.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinProduct.mo
  testsuite/flattening/modelica/scodeinst/FuncBuiltinSum.mo
  testsuite/flattening/modelica/scodeinst/FuncVectorization2.mo
  testsuite/openmodelica/interactive-API/Obfuscation2.mos
Labels: COMP/OMC/Frontend

#12780 Allow loading Base Modelica files (*.bmo)
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
Labels: enhancement, COMP/GUI/OMEdit

#12781 Use `map` to simplify equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
Labels: COMP/OMC/New Backend

#12783 Add comment to SCode.Mod
  OMCompiler/Compiler/FFrontEnd/FBuiltin.mo
  OMCompiler/Compiler/FFrontEnd/FMod.mo
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/FrontEnd/InstUtil.mo
  OMCompiler/Compiler/FrontEnd/Mod.mo
  OMCompiler/Compiler/FrontEnd/NFSCodeFlattenImports.mo
  OMCompiler/Compiler/FrontEnd/SCode.mo
  OMCompiler/Compiler/FrontEnd/SCodeInstUtil.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionInverse.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#12785 [NB] Remove all buitlin stream calls after alias
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/New Backend

#12786 Add choices comments to the instance API
  OMCompiler/Compiler/Script/NFApi.mo
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  testsuite/openmodelica/instance-API/GetModelInstanceChoices1.mos
Labels: COMP/GUI/OMEdit, COMP/GUI/InstBased Interface

#12787 [NB] Simplify equations structurally
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  testsuite/simulation/modelica/NBackend/event_handling/Makefile
  testsuite/simulation/modelica/NBackend/event_handling/simplifyWhen.mos
Labels: COMP/OMC/New Backend

#12789 Use the choice comment only for display
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#12793 [NB] update residual for loops
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/New Backend

#12795 Fix setElementModifierValue for redeclare elements
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/setElementModifierValue.mos
Labels: COMP/OMC/Interactive Environment

#12797 Invalidate the simulation options when the model text is changed
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12798 Fix InteractiveUtil.getInheritedAnnotation
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getSimulationOptions3.mos
Labels: COMP/OMC/Interactive Environment

#12800 [NB] add follow equations flag
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/New Backend

#12801 [NB] handle lunary expressions in when conditions
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#12802 [NB] Refactor hold events check for efficiency
  OMCompiler/Compiler/NBackEnd/Classes/NBPartition.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
Labels: COMP/OMC/New Backend

#12804 [NB] update sliced balancing of initialization
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#12807 [NB] Fix order of `elsewhen` branches
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  testsuite/simulation/modelica/NBackend/simplification/simplifyWhen.mos
Labels: COMP/OMC/New Backend

#12808 Associate the DynamicSelect diagram to the result in Variable Browser
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#12811 [NB] allow illegal skips
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12805 [NB] add inlining of trivial array equations
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#12819 Added km/h as displayUnit for speed m/s
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12829 Improve type checking
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend

#12830 Fix type checking of connectors
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector14.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend
