Repository OpenModelica/OpenModelica, pull requests merged in 2024-12, with the labels that each got.

#13324 Don't suggest same installPackage command twice
  OMCompiler/Compiler/FrontEnd/ClassLoader.mo
Labels: COMP/OMC/Interactive Environment

#13330 Handle the constrainedby when doing copy paste
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#13329 [NB] Inline record in if-equation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/Util/Pointer.mo
  testsuite/simulation/modelica/NBackend/event_handling/eventSystem.mos
  testsuite/simulation/modelica/NBackend/records/record_inlining.mos
Labels: COMP/OMC/New Backend

#13335 Improve annotation modifier API:s
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/interactive-API/VendorAnnotation.mo
  testsuite/openmodelica/interactive-API/VendorAnnotation.mos
Labels: COMP/OMC/Interactive Environment

#13343 Fix OMEdit crash when editing text
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
Labels: COMP/GUI/OMEdit

#13344 Remove deprecated connection in DocumentationWidget
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
Labels: COMP/GUI/OMEdit

#13347 Include parameter names in function types
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/FunctionalArgInvalidType1.mo
Labels: COMP/OMC/Frontend

#13340 [NB] Fix index map for sparsity pattern
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/PowerSystemStepLoad.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/OMC/New Backend

#13349 [C] Rename Newton diagnostics log
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/omc_error.h
Labels: COMP/SimRT/C

#13359 Check for final modifiers when they come from class declaration
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13360 Fix InteractiveUtil.recordConstructorToModification
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/addComponent2.mos
Labels: COMP/OMC/Interactive Environment

#13362 Check for final modifiers when they come from class declaration
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13363 [Cleanup] Removed unused/unnecessary code
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13366 [C] Use common interface for all initialAnalyticJacobian functions
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation_data.h
Labels: COMP/FMI, COMP/SimRT/C

#13368 Fix flattening of long form types
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/TypeExtends3.mo
Labels: COMP/OMC/Frontend

#13370 [NB] Sort branch bodies of if-equation by lhs
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#13372 [NB] Set solvability of if-equations to implicit
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12415 [C,Template] update newton diagnostics
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  testsuite/simulation/modelica/newtonDiagnostics/newtonDiagnostics-01.mos
Labels: COMP/OMC/Codegen, COMP/OMC/Runtime

#13369 Fix #12065 restrict PATH to OM directories
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCodeFunctionUtil.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenFMUCpp.tpl
  OMCompiler/Compiler/Template/CodegenFMUCppOMSI.tpl
  OMCompiler/Compiler/Util/System.mo
  OMCompiler/Compiler/runtime/systemimpl.c
  OMCompiler/SimulationRuntime/OMSICpp/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/README
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/Modelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/Modelica/ModelicaConfig_gcc.inc.in
  OMCompiler/SimulationRuntime/OMSICpp/runtime/src/Core/Modelica/ModelicaConfig_msvc.inc.in
  OMCompiler/SimulationRuntime/cpp/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/Modelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/Core/Modelica/ModelicaConfig_gcc.inc.in
  OMCompiler/SimulationRuntime/cpp/Core/Modelica/ModelicaConfig_msvc.inc.in
  OMCompiler/SimulationRuntime/cpp/README
Labels: CI/Build MSYS2-UCRT64, CI/CMake/Enable/MSYS2-UCRT64

#13376 [NB] start automatic resizable size detection
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/OMC/New Backend

#13377 Improve Ceval.subscriptBinding
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding16.mo
Labels: COMP/OMC/Frontend

#13382 Don't mark box/unbox operations in Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/Base Modelica

#13383 Fix prefix units for parametric plots
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
Labels: COMP/GUI/OMPlot

#13385 Add extra display units for volume flow rate
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#13386 Fix prefix units for parametric plots
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
Labels: COMP/GUI/OMPlot

#13389 Improve functional arguments in Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/openmodelica/basemodelica/Functional1.mo
  testsuite/openmodelica/basemodelica/Makefile
Labels: COMP/Base Modelica

#13392 Enhance the result file SVGs
  OMEdit/OMEditLIB/Resources/icons/csv.svg
  OMEdit/OMEditLIB/Resources/icons/mat.svg
  OMEdit/OMEditLIB/Resources/icons/plt.svg
Labels: COMP/GUI/OMEdit

#11728 CRML support
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMEdit/.gitignore
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/CRML/CRMLTranslateAsDialog.cpp
  OMEdit/OMEditLIB/CRML/CRMLTranslateAsDialog.h
  OMEdit/OMEditLIB/CRML/CRMLTranslatorOptions.h
  OMEdit/OMEditLIB/CRML/CRMLTranslatorOutputWidget.cpp
  OMEdit/OMEditLIB/CRML/CRMLTranslatorOutputWidget.h
  OMEdit/OMEditLIB/Editors/BaseEditor.h
  OMEdit/OMEditLIB/Editors/CRMLEditor.cpp
  OMEdit/OMEditLIB/Editors/CRMLEditor.h
  OMEdit/OMEditLIB/Editors/MOSEditor.cpp
  OMEdit/OMEditLIB/Editors/MOSEditor.h
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Resources/icons/crml-icon.svg
  OMEdit/OMEditLIB/Resources/icons/mos-icon.svg
  OMEdit/OMEditLIB/Resources/icons/runScript.svg
  OMEdit/OMEditLIB/Resources/icons/translate.svg
  OMEdit/OMEditLIB/Resources/icons/translateAs.svg
  OMEdit/OMEditLIB/Search/SearchWidget.h
  OMEdit/OMEditLIB/Util/DirectoryOrFileSelector.cpp
  OMEdit/OMEditLIB/Util/DirectoryOrFileSelector.h
  OMEdit/OMEditLIB/Util/GitHubArtifactDownloader.cpp
  OMEdit/OMEditLIB/Util/GitHubArtifactDownloader.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  OMEdit/OMEditLIB/resource_omedit.qrc
  testsuite/.gitignore
Labels: COMP/GUI/OMEdit, CI/Build MSYS2-UCRT64, CI/CMake/Enable/MSYS2-UCRT64

#13394 [NB] update resizable handling
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/New Backend

#13395 Move more API calls to the typed API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
Labels: COMP/OMC/Interactive Environment

#13396 Move existClass/Model/Package to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13398 Only check for redeclare and replaceable modification for top level
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13400 Move get/setComponentComment to the typed API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/interactive_api_attributes.mos
  testsuite/openmodelica/interactive-API/setComponentComment.mos
Labels: COMP/OMC/Interactive Environment

#13401 Properly fix #12065
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/runtime/systemimpl.c
Labels: CI/Build MSYS2-UCRT64, CI/CMake/Enable/MSYS2-UCRT64

#13107 qm files with cmake
  Jenkinsfile
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcZeroMQ/CMakeLists.txt
  OMEdit/OMEditGUI/CMakeLists.txt
  OMEdit/OMEditLIB/CMakeLists.txt
Labels: CI/Build MSYS2-UCRT64, CI/CMake/Enable/MSYS2-UCRT64

#13403 Only check for redeclare and replaceable modification for top level
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13404 Fix name quoting in Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModelicaUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/Base Modelica

#13397 [C] Also rename flag name
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  doc/UsersGuide/source/omedit.rst
  testsuite/simulation/modelica/newtonDiagnostics/newtonDiagnostics-01.mos
Labels: COMP/SimRT/C

#13414 [Cleanup] Removed the unused ThreeDViewer class
  OMEdit/OMEditLIB/Animation/ThreeDViewer.cpp
  OMEdit/OMEditLIB/Animation/ThreeDViewer.h
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
Labels: COMP/GUI/OMEdit

#13416 Added a setting to enable/disable the CRML functionality
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#13407 [C] Run newton diagnostics for all systems
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  testsuite/simulation/modelica/newtonDiagnostics/newtonDiagnostics-01.mos
Labels: COMP/SimRT/C

#13417 [NB] inline if-equation for residual
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#13420 Produce actual error for unimplemented operator
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
Labels: COMP/OMC/Codegen

#13427 Select the correct font under the cursor
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
Labels: COMP/GUI/OMEdit

#13425 Include unix config as else part of win32
  OMEdit/OMEditLIB/OMEditLIB.pro
Labels: COMP/GUI/OMEdit

#13432 Open the class under the cursor
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Editors/BaseEditor.h
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#13434 [C] Don't search variable name via var_id
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
Labels: COMP/SimRT/C
