Repository OpenModelica/OpenModelica, pull requests merged in 2024-06, with the labels that each got.

#12497 [NB] index reduction
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12498 Improve instantiation of redeclared packages
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RedeclareMod12.mo
Labels: COMP/OMC/Frontend

#12504 Fix argument order of partial function application
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/PartialApplication3.mo
  testsuite/flattening/modelica/scodeinst/SizeInvalidArgs2.mo
Labels: COMP/OMC/Frontend

#12505 Remove unnecessary headers section
  OMEdit/OMEditGUI/OMEditGUI.pro
Labels: COMP/GUI/OMEdit

#12506 Utilize the horizontal space to display heading
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12507 Utilize the horizontal space to display heading (#12506)
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12512 [NB] update BVariable.isContinuous
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/New Backend

#12522 Don't log state sets at every simulation update with `LOG_DSS`
  OMCompiler/SimulationRuntime/c/simulation/solver/stateset.c
Labels: COMP/OMC/Runtime

#12521 [NB] handle pre() with booleans inside
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
Labels: COMP/OMC/New Backend

#12529 Check column index when reading sparsity coloring
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/jacobian_util.c
  OMCompiler/SimulationRuntime/c/simulation/jacobian_util.h
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#12545 [NB] correctly handle tuple assignments in when
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#12541 Remove unnecessary version checks for QScreen
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationDialog.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12552 OMEdit fixes 1.23
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationDialog.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12551 [NB] support array event variables
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#12554 Show only public components
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
Labels: COMP/GUI/OMEdit

#12553 [NB] correctly determine record and tuple equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
Labels: COMP/OMC/New Backend

#12560 [NB] add entwined equation elements to allSim and initial blocks
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#12562 [NF] add scalar product to reduction
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#12565 display model description in documentation window
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#12570 [NB] correctly create children of record with fromCref()
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Util/Util.mo
Labels: COMP/OMC/New Backend

#12572 [NSimCode] do not collect literals from equations (only functions)
  OMCompiler/Compiler/NSimCode/NSimCode.mo
Labels: COMP/OMC/New Backend

#12573 Fix display of class comment in the documentation view
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#12574 Update documentation view if current class is the active class
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12579 List all the expandable connectors including the inherited ones
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
Labels: COMP/GUI/OMEdit

#12577 [NB] update record function handling
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#12581 Improve the rendering of lines with thickness less than 1
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/GUI/OMEdit

#12578 Fix some includes for the C++ frontend
  OMCompiler/Compiler/FrontEndCpp/Inst.cpp
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.cpp
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.h
  OMCompiler/Compiler/FrontEndCpp/Path.cpp
  OMCompiler/Compiler/FrontEndCpp/Path.h
  OMCompiler/Compiler/FrontEndCpp/Prefixes.cpp
Labels: COMP/OMC/Frontend

#12583 [NB] update record array handling
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/New Backend

#12586 [NB] update multi strong components to have slices
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/Util/Pointer.mo
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
Labels: COMP/OMC/New Backend

#12582 Improve Base Modelica output
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NFFrontEnd/BaseModelica.mo
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFClockKind.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFModifier.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/NonScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/NonScalarizedWithoutRecords1.mo
  testsuite/openmodelica/basemodelica/PartiallyScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/PartiallyScalarizedWithoutRecords1.mo
  testsuite/openmodelica/basemodelica/ScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/ScalarizedWithoutRecords1.mo
Labels: COMP/Base Modelica

#12591 Add error for assignment of iterator
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/flattening/modelica/scodeinst/ForStatementAssign1.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/ReinitInvalid8.mo
Labels: COMP/OMC/Frontend

#12594 Fix renaming of classes in Windows
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12595 Add implicitParameterStartAttribute flag
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/UnboundParameter5.mo
Labels: COMP/OMC/Frontend

#12600 [NB] correctly count eqns and vars in minimal tearing
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
Labels: COMP/OMC/New Backend

#12601 [NB] correctly differentiate min and max functions
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#12602 [NB] update initial call cleanup
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#12604 Improve the rendering of lines with thickness less than 1 (#12581)
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/GUI/OMEdit

#12603 [NB] fix sample in algorithms
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
Labels: COMP/OMC/New Backend

#12610 Mark the dependent models dirty and only update them when needed
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#12608 Ignore protected access in instance API
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  testsuite/openmodelica/instance-API/GetModelInstanceProtected1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12606 [NB] update state collection for ALWAYS states
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
Labels: COMP/OMC/New Backend

#12613 [NB] better simplification of when equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#12617 Improve Ceval.EvalTarget
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFPackage.mo
  OMCompiler/Compiler/NFFrontEnd/NFSBGraphUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/OMC/Frontend

#12618 Fix evaluation of call type dimensions
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/DimUnknown16.mo
  testsuite/flattening/modelica/scodeinst/FuncUnknownDim3.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12614 [NF] update statement conversion
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#12632 Add missing initial bucket count to PartialD2ColoringAlgC
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
Labels: COMP/OMC/New Backend

#12634 Improve ComponentRef.hash
  OMCompiler/Compiler/FrontEnd/MetaModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_builtin.c
  OMCompiler/SimulationRuntime/c/meta/meta_modelica_builtin.h
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#12638 Improve performance of Expression.extractUniqueCrefs*
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
Labels: COMP/OMC/SimCode

#12645 Add option to move Base Modelica bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/MoveBindings1.mo
Labels: COMP/Base Modelica

#12657 [NB] adjacency multiple occurences update
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#12659 Simplify Scalarize.scalarizeVariable
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
Labels: COMP/OMC/Frontend

#12660 [NB] Fix BackendExtension imports
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/New Backend
