Repository OpenModelica/OpenModelica, pull requests merged in 2024-01, with the labels that each got.

#11775 [NB] move scalarizing dependencies to a later point
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#11793 Fix SCodeDump of redeclare dimensions
  OMCompiler/Compiler/Template/SCodeDumpTpl.tpl
  testsuite/openmodelica/interactive-API/Obfuscation1.mos
  testsuite/openmodelica/interactive-API/saveTotalModel.mos
Labels: COMP/OMC/Frontend

#11796 Set output if `try`-block fails
  OMCompiler/Compiler/BackEnd/BackendDAECreate.mo
Labels: COMP/OMC/Backend

#11800 Fix warning about unbound parameter with Evaluate
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding9.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#11812 Improve flat Modelica for records
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/openmodelica/flatmodelica/Makefile
  testsuite/openmodelica/flatmodelica/Record1.mo
  testsuite/openmodelica/flatmodelica/SimpleCoolingCycle.mo
Labels: COMP/OMC/Frontend

#11809 [NB] fix adjacency and jacobian dependencies
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/PowerSystemStepLoad.mos
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/ReferenceFiles/ScalableTestSuite.Power.ConceptualPowerSystem.ScaledExperiments.PowerSystemStepLoad_N_2_M_4_res.mat
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
Labels: COMP/OMC/New Backend

#11816 [NF] add record children to Variable.fromCref
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#11817 [NB] add record children to auxiliary variables
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#11822 Improve handling of uriToFilename
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend

#11826 Update the value based on the displayUnit
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#11835 Handle nested uriToFilename calls
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
Labels: COMP/OMC/Frontend

#11837 Allow setting negative value for parameters
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#11838 Allow setting negative value for parameters
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#11850 Allow disabling connector balance checks with flag
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Flags.mo
  testsuite/flattening/modelica/connectors/ConnectorBalance9.mo
  testsuite/flattening/modelica/connectors/Makefile
Labels: COMP/OMC/Frontend

#11827 Nb record residuals
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
Labels: COMP/OMC/New Backend

#11853 Improve Base Modelica output
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFSections.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/openmodelica/flatmodelica/Comments.mo
  testsuite/openmodelica/flatmodelica/DoublePendulum.mos
  testsuite/openmodelica/flatmodelica/Expression1.mo
  testsuite/openmodelica/flatmodelica/Record1.mo
  testsuite/openmodelica/flatmodelica/SD.mo
  testsuite/openmodelica/flatmodelica/SimpleCoolingCycle.mo
Labels: COMP/OMC/Frontend

#11858 [NB] adding simplification of when conditions
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/CombiTimeTable.mos
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/ReferenceFiles/ScalableTestSuite.Elementary.Tables.Models.CombiTimeTable_res.mat
Labels: COMP/OMC/New Backend

#11860 Fix GC memory issue when building FMU
  OMCompiler/Compiler/Util/ExpandableArray.mo
  testsuite/openmodelica/bootstrapping/ExpandableArrayTest.mos
Labels: COMP/OMC/SimCode

#11862 Update the DynamicSelect values after the simulation
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/GUI/OMEdit

#11863 [NB] support homotopy
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#11865 [NB] fix StateEvent.convert
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#11864 [NB] implement Equation.isEqual
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
Labels: COMP/OMC/New Backend

#11871 [NB] update record parameter bindings
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#11870 [NB] update balance initialization
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/underdetermined_init.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
Labels: COMP/OMC/New Backend

#11872 Update the components view with CoordinateSystem change
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#11874 Use class name instead of full path in Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/flatmodelica/DoublePendulum.mos
  testsuite/openmodelica/flatmodelica/Tables.mos
Labels: COMP/OMC/Frontend

#11875 Rename flat Modelica to Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFInstUtil.mo
  OMCompiler/Compiler/Util/Config.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/Makefile
  testsuite/openmodelica/basemodelica/.gitignore
  testsuite/openmodelica/basemodelica/Comments.mo
  testsuite/openmodelica/basemodelica/DoublePendulum.mos
  testsuite/openmodelica/basemodelica/Expression1.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/Record1.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/basemodelica/SimpleCoolingCycle.mo
  testsuite/openmodelica/basemodelica/Tables.mos
Labels: COMP/OMC/Frontend

#11873 [NB] update initialization
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
Labels: COMP/OMC/New Backend

#11877 Use regular expression to validate the parameter value
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#11878 [NB/NSimCode] correctly handle external objects
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimCodeUtil.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#11884 [NB] update strong component dependencies
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
Labels: COMP/OMC/New Backend

#11886 Document `translateModel`.
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
Labels: COMP/OMC/Interactive Environment

#11888 [NB] correctly fix arrays of size 1
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
Labels: COMP/OMC/New Backend

#11889 Fix rotated text rendering
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#11890 [NSimCode] have own index for external objects
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#11892 [NB] update initial() call handling
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#11895 [NB] update event collection
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#11896 [NB] update function alias in when and if
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
Labels: COMP/OMC/New Backend

#11898 Clean up Interactive
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#11901 Improve the moving of components in a diagram
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11903 Improve the moving of components in a diagram (#11901)
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11906 Improve annotation API performance
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/SymbolTable.mo
Labels: COMP/OMC/Interactive Environment

#11912 Don't move non-scalarized array bindings
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/BindingArray10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#11914 [NB] correctly lower external object arrays
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#11915 [NB] exclude zero size variables while lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend
