Repository OpenModelica/OpenModelica, pull requests merged in 2024-04, with the labels that each got.

#12180 Fix Transformation copy constructor
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/Element/Transformation.h
Labels: COMP/GUI/OMEdit

#12181 Fix Flatten.splitRecordCref
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/CevalBinding9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12185 Don't move external object bindings to equations
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/ExternalObject6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12186 [BE] fix? resolve loops
  OMCompiler/Compiler/BackEnd/ResolveLoops.mo
Labels: COMP/OMC/Backend

#12195 Print true name of iteration variable when inf/nan
  OMCompiler/Compiler/Template/CodegenC.tpl
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/simulation/modelica/tearing/dynamicTearing3.mos
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#12202 Preserve global context flags in Typing.typeCref2
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#12201 [C] Constrain nls iteration variables
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  testsuite/simulation/libraries/msl32/Modelica.Fluid.Examples.Tanks.TanksWithOverflow.mos
Labels: COMP/SimRT/C

#12200 Add setElementType API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/setElementType.mos
Labels: COMP/OMC/Interactive Environment

#12204 Use `modelica_boolean`s
  OMCompiler/SimulationRuntime/c/simulation/solver/irksco.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.h
Labels: COMP/SimRT/C

#12211 Handle invalid components better in instance API
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding10.mos
  testsuite/openmodelica/instance-API/GetModelInstanceBinding9.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12212 Improve AbsynUtil.pathStripSamePrefix
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/addComponent1.mos
Labels: COMP/OMC/Interactive Environment

#12198 Allow editing top level parameters
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#12213 Add uses annotation after duplicating a model
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#12203 [NB] add partial derivatives of functions
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/simulation/modelica/NBackend/functions/Makefile
  testsuite/simulation/modelica/NBackend/functions/function_partial_der.mos
Labels: COMP/OMC/New Backend

#12215 Improve handling of augmented flow variables
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandableConnectors.mo
  OMCompiler/Compiler/NFFrontEnd/NFPrefixes.mo
  testsuite/flattening/modelica/scodeinst/ExpandableConnector13.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12220 Evaluate HideResult annotations
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/others/HideResult1.mo
  testsuite/flattening/modelica/others/Makefile
  testsuite/simulation/modelica/daemode/testDAEModeFileSplit_Issue4851.mos
Labels: COMP/OMC/Frontend

#12221 Each variable can have its own prefix
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit

#12223 Each variable can have its own prefix (#12221)
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit, COMP/GUI/OMPlot

#12226 Exclude root LibraryTreeItem from LibraryTreeModel::findLibraryTreeItem
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#12224 Do not call childrenBoundingRect from the boundingRect
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12231 Show the error from the instance API
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12232 Add uses annotation when duplicating to global scope
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#12233 Fix InstNode.getAnnotation
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/flattening/modelica/others/HideResult1.mo
Labels: COMP/OMC/Frontend

#12247 Allow space and comma in the name for quoted identifiers
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/GUI/OMEdit

#12248 Port HideResult fixes to 1.23
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/others/HideResult1.mo
  testsuite/flattening/modelica/others/Makefile
  testsuite/simulation/modelica/daemode/testDAEModeFileSplit_Issue4851.mos
Labels: COMP/OMC/Frontend

#12249 Merge array bindings in AbsynUtil.mergeAnnotations
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  testsuite/openmodelica/diff/AddClassAnnotation1.mos
  testsuite/openmodelica/interactive-API/AddClassAnnotation.mos
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/interactive_api_classes.mos
  testsuite/openmodelica/interactive-API/loadClassContentString2.mos
Labels: COMP/OMC/Interactive Environment

#12252 Improve handling of partial derivative of function
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#12253 Revert "Merge array bindings in AbsynUtil.mergeAnnotations (#12249)"
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  testsuite/openmodelica/diff/AddClassAnnotation1.mos
  testsuite/openmodelica/interactive-API/AddClassAnnotation.mos
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/interactive_api_classes.mos
  testsuite/openmodelica/interactive-API/loadClassContentString2.mos
Labels: COMP/OMC/Interactive Environment

#12254 Retain the existing icon/diagram annotation of pasting new elements
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#12216 [NB] adjacency update
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBSorting.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  testsuite/simulation/modelica/NBackend/array_handling/diagonal_slice_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_der_for.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/basics/simpleNonlinearLoop.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
  testsuite/simulation/modelica/NBackend/functions/builtin_functions.mos
Labels: COMP/OMC/New Backend

#12259 Improve handling of array bindings for Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings1.mo
  testsuite/openmodelica/basemodelica/ArrayBinding1.mo
  testsuite/openmodelica/basemodelica/Makefile
Labels: COMP/OMC/Frontend

#12264 Attempt to fix the random crashes in Element::updateDynamicSelect
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#12276 Improve EvalConstants.evaluateBinding
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/VectorizeBindings4.mo
Labels: COMP/OMC/Frontend

#12281 Remove OMShellLib from CMake configuration.
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
Labels: COMP/GUI/OMShell

#12283 Fix crash when creating a transition
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12292 Silence unbound parameter error in relaxed context
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
Labels: COMP/OMC/Frontend

#12293 Silence unbound parameter error in relaxed context (#12292)
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/OCGTests.mos
Labels: COMP/OMC/Frontend

#12300 Handle uninstantiated dimension in Dimension.toString
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  testsuite/flattening/modelica/scodeinst/DuplicateElements11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12299 Handle too many subscripts in Type.subscript
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute24.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12301 Port frontend fixes to 1.23
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute24.mo
  testsuite/flattening/modelica/scodeinst/DuplicateElements11.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12312 Create a connection without calling getModelInstance
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#12314 Assume visible=true when the expression evaluation fails
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12317 OMEdit fixes for 1.23
  OMCompiler/SimulationRuntime/c/util/read_matlab4.c
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMShell/OMShell/OMShellGUI/CMakeLists.txt
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/TestSpace.mos
Labels: COMP/GUI/OMEdit

#12318 Do not split quoted result variables
  OMEdit/OMEditLIB/Util/StringHandler.cpp
Labels: COMP/GUI/OMEdit

#12319 Allow editing parameter record via the parameters dialog
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#12320 Fix regression with final modifiers in constrainedby clause
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#12315 Use start value for unbound fixed parameters
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/ForConnect2.mo
  testsuite/flattening/modelica/scodeinst/IfConnect4.mo
  testsuite/flattening/modelica/scodeinst/Inline4.mo
  testsuite/flattening/modelica/scodeinst/UnboundParameter2.mo
  testsuite/openmodelica/xml/BB.mos
  testsuite/simulation/modelica/initialization/parameters.mos
Labels: COMP/OMC/Frontend

#12325 Dump annotation array elements separately
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/expression.schema.json
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation12.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12326 Fixes 1.23
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
Labels: COMP/GUI/OMEdit

#12342 Fix regressions due to #12315
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/UnboundParameter3.mo
Labels: COMP/OMC/Frontend

#12353 Read the error from the graphics annotation element
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12354 Fix creation of binding equations from start values
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/UnboundParameter4.mo
Labels: COMP/OMC/Frontend
