Repository OpenModelica/OpenModelica, pull requests merged in 2024-02, with the labels that each got.

#11916 [NF] check equality on arrays in evalRelationEqual
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#11922 Improve annotation API performance (#11906)
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/SymbolTable.mo
Labels: COMP/OMC/Interactive Environment

#11921 [NB] update function alias
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
Labels: COMP/OMC/New Backend

#11924 [NB] update inline module
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#11925 [NB] update balance initialization
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
Labels: COMP/OMC/New Backend

#11927 [NB] replace pre variables in when conditions
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#11928 Select the Element with its drawn shapes instead of boundingRect
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11929 [NF] update variability of relations
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  testsuite/simulation/modelica/NBackend/basics/variability.mos
Labels: COMP/OMC/Frontend

#11930 [NB] update bound parameter records
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#11893 Check if `delayTime` is larger than `delayMax`
  .CI/compliance.failures
  OMCompiler/SimulationRuntime/c/simulation/solver/delay.c
Labels: COMP/SimRT/C

#11931 Remove public/protected from Base Modelica output
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  testsuite/openmodelica/basemodelica/Expression1.mo
  testsuite/openmodelica/basemodelica/SimpleCoolingCycle.mo
  testsuite/openmodelica/basemodelica/Tables.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/Base Modelica

#11932 [NB] update type check
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/New Backend

#11936 Reset the connection start and end elements before removing it
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#11939 [NB] update inline module
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
Labels: COMP/OMC/New Backend

#11941 Search for delay event separately
  OMCompiler/SimulationRuntime/c/simulation/solver/delay.c
Labels: COMP/SimRT/C

#11942 [NB] fix getting name and arguments of function
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/New Backend

#11943 Don't segfault when small step fails
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c
Labels: COMP/SimRT/C

#11947 update copied dlls after OMDevUCRT update
  .CI/common.groovy
  Jenkinsfile
  OMCompiler/Makefile.omdev.mingw
Labels: CI/Build MSYS2-UCRT64, CI/CMake/Enable/MSYS2-UCRT64

#11948 Keep __OpenModelica annotations when obfuscating
  OMCompiler/Compiler/Script/Obfuscate.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation4.mos
Labels: COMP/OMC/Interactive Environment

#11950 Improve getFmiInitialUnknowns performance
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/FMI, COMP/OMC/SimCode

#11955 Avoid having unnecessary dot in the qualified name
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#11956 [NB] update arrays of records lowering
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#11958 [NB] remove useless function
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#11966 Copy the connector to both icon and diagram layer
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11970 Do not automatically enlarge Message Browser setting
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#11945 [NB] Differentiate delay
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#11975 Fix delay derivative
  OMCompiler/Compiler/BackEnd/Differentiate.mo
Labels: COMP/OMC/Backend

#11978 Better implementation for selection of items
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#11981 Show compilation error message
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#11982 OMEdit fixes 1.22.2
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/OMSimulatorEditor.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/InstallLibraryDialog.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ru.ts
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#11983 Silence MetaModelica string warnings from GCC
  OMCompiler/Compiler/CMakeLists.txt
  OMCompiler/Compiler/boot/CMakeLists.txt
Labels: COMP/Build System

#11986 Check if we have OptionsDialog when trying to add a new message
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/GUI/OMEdit

#11987 Check if we have OptionsDialog when trying to add a new message
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
Labels: COMP/GUI/OMEdit

#11989 OMNotebook fix
  OMNotebook/OMNotebook/OMNotebookGUI/latexcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/latexcell.h
Labels: COMP/GUI/OMEdit

#11991 Fix FlatModel.obfuscateCref
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  testsuite/openmodelica/interactive-API/Obfuscation3.mos
Labels: COMP/OMC/Frontend

#11992 [NB] consider name nodes dummy variables
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
Labels: COMP/OMC/New Backend

#11993 Fix FlatModel.obfuscateCref (#11991)
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  testsuite/openmodelica/interactive-API/Obfuscation3.mos
Labels: COMP/OMC/Frontend

#11995 Skip record field names with `--obfuscate=protected`
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation5.mos
Labels: COMP/OMC/Frontend

#11997 Skip record field names with `--obfuscate=protected`
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation5.mos
Labels: COMP/OMC/Frontend

#11999 Automatically add each prefix to displayUnit of arrays
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#12007 Mark the MessagesTabWidget tab changed by adding an asterisk
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12002 Fix invertRange
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#12005 Change __OpenModelica_tearingSelect to use enum
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/FrontEnd/AnnotationsBuiltin_3_x.mo
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/Util/Error.mo
  testsuite/openmodelica/cruntime/optimization/basic/testAlgLoop5.mos
  testsuite/openmodelica/cruntime/optimization/basic/testAlgLoop6.mos
  testsuite/openmodelica/dataReconciliation/Makefile
  testsuite/openmodelica/dataReconciliation/TSP_Pipe3.mos
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation10.mos
  testsuite/openmodelica/instance-API/Makefile
  testsuite/openmodelica/interactive-API/Obfuscation4.mos
  testsuite/simulation/modelica/commonSubExp/cse1.mos
  testsuite/simulation/modelica/tearing/MixedTearing2-minimal.mos
  testsuite/simulation/modelica/tearing/tearingSelect-celMC3.mos
  testsuite/simulation/modelica/tearing/tearingSelect-minimal.mos
  testsuite/simulation/modelica/tearing/tearingSelect-omc.mos
  testsuite/simulation/modelica/tearing/tearingSelect2-celMC3.mos
  testsuite/simulation/modelica/tearing/tearingSelect2-omc.mos
  testsuite/simulation/modelica/tearing/tearingSelect2.mo
Labels: COMP/OMC/Backend, COMP/OMC/New Backend

#12015 Fix evaluation of parameters in if conditions
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/EvaluateParameter.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/Backend

#12019 Auto add each prefix to displayUnit when component is an array
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#12022 Fix handling of final modifiers of replaceable components
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#12021 [NB] correctly map algorithms
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#12023 Reset MessagesTabWidget when Messages are shown
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
Labels: COMP/GUI/OMEdit

#12036 [NB] do not function alias in algorithms
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
Labels: COMP/OMC/New Backend

#12038 Don't fail on invalid modifiers in instance API
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceMod5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#12040 [NB] remove unused functions
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBGraphUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
Labels: COMP/OMC/New Backend

#12042 [NB] full adjacency matrix 1.0
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12047 Handle the redeclare replaceable short class definition
  OMEdit/OMEditLIB/FlatModelica/Parser.cpp
Labels: COMP/GUI/OMEdit
