Repository OpenModelica/OpenModelica, pull requests merged in 2024-09, with the labels that each got.

#12835 [NF] remove debugging message
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#12839 Handle start attributes with each on parameters without binding
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/UnboundParameter6.mo
Labels: COMP/OMC/Frontend

#12841 Evaluate variables used in DynamicSelect
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/GUI/OMEdit

#12836 [NF] fix Dimension.size
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
Labels: COMP/OMC/Frontend

#12843 [NB] fix inlining of functions
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
Labels: COMP/OMC/New Backend

#12845 Improve handling of unqualified imports
  OMCompiler/Compiler/NFFrontEnd/NFClass.mo
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/ImportUnqualified4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12850 Reset previously set unit prefix before changing the displayUnit
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
Labels: COMP/GUI/OMEdit, COMP/GUI/OMPlot

#12853 Add type casting of records
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordOrder1.mo
  testsuite/flattening/modelica/scodeinst/RecordOrder2.mo
  testsuite/flattening/modelica/scodeinst/RecordOrder3.mo
Labels: COMP/OMC/Frontend

#12856 Fix FlatModelica::Expression relational operators
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#12857 Set PlotWindow toolbar icons size same as OMEdit main toolbar
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/GUI/OMEdit

#12859 Set PlotWindow toolbar icons size same as OMEdit main toolbar (#12857)
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/GUI/OMEdit

#12860 Fix FlatModelica::Expression relational operators (#12856)
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#12863 [NB] refactor inline module
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect1.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect2.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect3.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect4.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect5.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents1.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents2.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents3.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents4.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents5.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents6.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents7.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents8.mo
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect1.mo
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect2.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings1.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings2.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings3.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings4.mo
  testsuite/openmodelica/basemodelica/NonScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/NonScalarizedWithoutRecords1.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/cppruntime/testVectorizedBlocks.mos
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
  testsuite/simulation/modelica/NBackend/records/record_inlining.mos
  testsuite/simulation/modelica/NBackend/records/simple_tuple.mos
Labels: COMP/OMC/New Backend

#12868 [NB] update inline module
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
Labels: COMP/OMC/New Backend

#12870 [NB] fix slicing of variables
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
Labels: COMP/OMC/New Backend

#12872 [NB] update slicing
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#12874 [NB] Alias: support array values in nominal check
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpressionIterator.mo
  testsuite/simulation/modelica/NBackend/alias/Alias_test2.mos
  testsuite/simulation/modelica/NBackend/alias/Alias_test5.mos
  testsuite/simulation/modelica/NBackend/alias/ArrayAlias2.mos
  testsuite/simulation/modelica/NBackend/alias/Makefile
Labels: COMP/OMC/New Backend

#12877 [NB] update algorithm events
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#12876 Add FrontEndCpp to autotools build
  OMCompiler/Compiler/FrontEndCpp/Makefile.common
  OMCompiler/Compiler/FrontEndCpp/Makefile.in
  OMCompiler/Compiler/FrontEndCpp/Makefile.omdev.mingw
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.cpp
  OMCompiler/Compiler/Makefile.compiler_subdirs.common
  OMCompiler/Compiler/Makefile.in
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/boot/Makefile.common
  OMCompiler/configure.ac
Labels: COMP/OMC/Frontend, COMP/Build System

#12879 [NF] fix algorithm alias
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NFFrontEnd/NFAlgorithm.mo
  OMCompiler/Compiler/NFFrontEnd/NFConvertDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  testsuite/simulation/modelica/NBackend/basics/Makefile
  testsuite/simulation/modelica/NBackend/basics/enumeration.mos
Labels: COMP/OMC/New Backend

#12881 Improve mapVector in MetaModelica C++ interface
  OMCompiler/Compiler/FrontEndCpp/Absyn/Expression.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/FunctionArgsList.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Modifier.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Statement.cpp
  OMCompiler/Compiler/FrontEndCpp/MetaModelica.h
Labels: COMP/OMC/Frontend

#12883 [NB] also traverse message of asserts with map()
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#12890 Get rid of unnecessary global constant
  OMCompiler/Compiler/FrontEndCpp/Absyn/FunctionArgsIter.cpp
Labels: COMP/OMC/Frontend, CI/Build MSYS2-UCRT64

#12894 Improve -d=evalOutputOnly performance
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/HpcOmTaskGraph.mo
Labels: COMP/OMC/Backend

#12903 Optimize HpcOmTaskGraph.getEquationsStrings2
  OMCompiler/Compiler/BackEnd/HpcOmTaskGraph.mo
Labels: COMP/OMC/Backend

#12905 Optimize HpcOmTaskGraph.createTaskGraph
  OMCompiler/Compiler/BackEnd/HpcOmTaskGraph.mo
  OMCompiler/Compiler/Util/Array.mo
Labels: COMP/OMC/Backend

#12891 add separate FMU export output window, which shows FMI export progress in OMEdit
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.h
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/MessagesWidget.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/OMEditLIB.pro
Labels: COMP/GUI/OMEdit

#12914 Optimize iteration variables in SimCodeUtil
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/SimCode

#12924 Fix GDB path for algorithmic debugger
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12928 Fix GDB path for algorithmic debugger (#12924)
  OMEdit/OMEditLIB/Util/Utilities.cpp
Labels: COMP/GUI/OMEdit

#12929 Added the copyright text to header and source file
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.h
Labels: COMP/GUI/OMEdit

#12886 * [NB] only collect events from simulation and clocked equations
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  testsuite/simulation/modelica/NBackend/event_handling/eventSystem.mos
Labels: COMP/OMC/New Backend

#12933 Set simulation process environment when using algorithmic debugger
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/GUI/OMEdit

#12892 [NB] alias: normalize nominal values
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/alias/Alias_test2.mos
  testsuite/simulation/modelica/NBackend/alias/Alias_test5.mos
  testsuite/simulation/modelica/NBackend/alias/ArrayAlias2.mos
  testsuite/simulation/modelica/NBackend/alias/Makefile
Labels: COMP/OMC/New Backend

#12935 Set simulation process environment when using algorithmic debugger
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
Labels: COMP/GUI/OMEdit

#12934 [C] Make functionXXX flexible
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenUtilSimulation.tpl
Labels: COMP/SimRT/C, COMP/OMC/New Backend

#12936 [NB] resizable components backbone
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/array_handling/HeatTransfer1D_testCase.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/Resizable_HeatTransfer_equations.mos
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
Labels: COMP/OMC/New Backend

#12940 Fix evaluation of record fields
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding14.mo
Labels: COMP/OMC/Frontend

#12939 [NB] DAEMode: add no return equations to all sim
  OMCompiler/Compiler/NSimCode/NSimCode.mo
Labels: COMP/OMC/New Backend

#12944 [NB] update for equation inlining
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#12946 Fix syntax when generating function ptr array
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/Codegen

#12950 Remove MSVC targets as we don't support them anymore
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit

#12952 Remove MSVC targets as we don't support them anymore (#12950)
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
Labels: COMP/GUI/OMEdit
