Repository OpenModelica/OpenModelica, pull requests merged in 2024-10, with the labels that each got.

#12956 [NF] implement __OpenModelica_resizable annotation
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NFFrontEnd/NFAttributes.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/New Backend

#12962 Add context to `Inst.expand`
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getInheritedClasses1.mos
  testsuite/openmodelica/interactive-API/getInheritedClasses2.mos
Labels: COMP/OMC/Frontend, COMP/OMC/Interactive Environment

#12960 [NB] update differentiation
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#12964 [CodeGen] Introduce index map for resizable arrays
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#12970 Fix CMake build for Windows
  OMCompiler/Compiler/FrontEndCpp/Absyn/CMakeLists.txt
Labels: COMP/Build System, CI/CMake/Enable/MSYS2-UCRT64

#12971 Remove unnecessary definitions from FrontEndCpp CMake build
  OMCompiler/Compiler/FrontEndCpp/CMakeLists.txt
Labels: CI/CMake/Enable/MSYS2-UCRT64

#12975 Reset the opacity of conditional components
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12976 Reset the opacity of conditional components (#12975)
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#12983 No elided text for multiline text
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
Labels: COMP/GUI/OMEdit

#12984 Improve record bindings in Base Modelica
  OMCompiler/Compiler/NFFrontEnd/BaseModelica.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/PartiallyScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/PartiallyScalarizedWithoutRecords1.mo
  testsuite/openmodelica/basemodelica/Record4.mo
  testsuite/openmodelica/basemodelica/ScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/ScalarizedWithoutRecords1.mo
Labels: COMP/Base Modelica

#12985 [NB] improve lowering of if equations
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#12986 [NB] fix the lowering of if equations
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#12988 Don't evaluate if-conditions during flattening without scalarization
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend

#12989 Avoid opening unnecessary new plot window
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit

#12990 [NF] fix Operator.repairMultary()
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#12992 [NB] remove unused and erronous code
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12994 Ignore noncritical failures in EvalConstants
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  testsuite/flattening/modelica/scodeinst/IfEquation10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12996 Fix broken detection of Connections operators
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
Labels: COMP/OMC/Frontend

#12998 Evaluate constants in Base Modelica records
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/Record5.mo
Labels: COMP/Base Modelica

#12999 [NB] dont combine scalar product with other scalar op in multaries
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#13004 [SimCode] fix usage of crefApplySubs
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/simulation/modelica/NBackend/ScalableTestsuite/Makefile
Labels: COMP/OMC/New Backend

#13007 Hide the start and fixed attributes based on final modifier
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13008 Hide the start and fixed attributes based on final modifier (#13007)
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13015 Improve getExtendsModifierNames API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getExtendsModifierNames.mos
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
  testsuite/openmodelica/interactive-API/interactive_api_param.mos
Labels: COMP/OMC/Interactive Environment

#13016 Move setParameterValue to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/interactive_api_param.mos
  testsuite/simulation/modelica/parallel/ParallelPRV.mos
Labels: COMP/OMC/Interactive Environment

#13017 Move more API calls to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/Binding.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/isConstant.mos
  testsuite/openmodelica/interactive-API/isParameter.mos
  testsuite/openmodelica/interactive-API/isPrimitive.mos
  testsuite/openmodelica/interactive-API/isProtected.mos
Labels: COMP/OMC/Interactive Environment

#13023 Add context to `Inst.expand` (#12962)
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookupState.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getInheritedClasses1.mos
  testsuite/openmodelica/interactive-API/getInheritedClasses2.mos
Labels: COMP/OMC/Frontend

#13024 Ignore missing bindings when building record binding
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
Labels: COMP/OMC/Frontend

#13025 Improve Connections.makeConnections
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
Labels: COMP/OMC/Frontend

#13033 Move updateComponent/deleteComponent to the typed API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13035 [NB] introduce inlining of array constructors
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#13043 Remove `impure` from some builtin functions
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
Labels: COMP/OMC/Frontend

#13019 [NB] Prepare dependencies before updating map
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
Labels: COMP/OMC/New Backend

#12878 [WIP] Hierarchical editing of models
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Element/CornerItem.cpp
  OMEdit/OMEditLIB/Element/CornerItem.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#13051 Move some annotation API calls to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Bug2871.mos
  testsuite/openmodelica/interactive-API/Bug4248.mos
  testsuite/openmodelica/interactive-API/DialogAnnotation.mos
  testsuite/openmodelica/interactive-API/TestChoices.mos
  testsuite/openmodelica/interactive-API/Ticket5565.mos
  testsuite/openmodelica/interactive-API/Ticket6300.mos
  testsuite/openmodelica/interactive-API/Ticket6307.mos
  testsuite/openmodelica/interactive-API/Ticket6406.mos
  testsuite/openmodelica/interactive-API/getDialogAnnotation.mos
Labels: COMP/OMC/Interactive Environment

#13057 Fix usage of Q_DISABLE_COPY_MOVE
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.h
Labels: COMP/GUI/OMEdit

#13063 Don't allow non-top-level within when loading top-level classes
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/SimulationRuntime/OMSICpp/omcWrapper/omcCAPI/src/OMC.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  testsuite/openmodelica/interactive-API/interactive_api_loadsave.mos
Labels: COMP/GUI/OMEdit, COMP/OMC/Interactive Environment

#13066 newer clang in OMDev update needs specific import
  OMCompiler/SimulationRuntime/ParModelica/auto/pm_cluster_system.hpp
Labels: CI/Build MSYS2-UCRT64

#13069 Move getNthComponentModification/Condition to the typed API
  OMCompiler/Compiler/FrontEnd/Absyn.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
Labels: COMP/OMC/Interactive Environment

#13072 Enable the time slider for array plot and array parametric plot
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  doc/UsersGuide/source/omedit.rst
Labels: COMP/GUI/OMEdit

#13073 Fix the zip process arguments
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#13079 Enable/disable the option to save contents in one file
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#13084 Fix warnings in OMEdit
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/OMEditApplication.cpp
  OMEdit/OMEditLIB/OMEditApplication.h
Labels: COMP/GUI/OMEdit

#13086 addressing: #13053
  Makefile.omdev.mingw
  OMCompiler/Makefile.omdev.mingw
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: CI/Build MSYS2-UCRT64

#13088 Install OMEdit translation files with CMake
  OMEdit/OMEditLIB/CMakeLists.txt
Labels: COMP/GUI/OMEdit

#13090 Move getNthInheritedClass to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13087 Fix display of connections when in element mode
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#13095 Allow calling oms_replaceSubModel only on components/submodels
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#13101 use hashed string of modelName when building FMU
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenFMU.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/SimulationRuntime/fmi/export/buildproject/CMakeLists.txt.in
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
Labels: COMP/GUI/OMEdit

#13102 Implement simple reload using unload and load functionality
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit
