Repository OpenModelica/OpenModelica, pull requests merged in 2024-05, with the labels that each got.

#12362 Instantiate record constructors as functions
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordConstructor4.mo
Labels: COMP/OMC/Frontend

#12369 Improve check for encrypted variables
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend

#12370 Handle prefixing of time units
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMPlot/OMPlot/OMPlotGUI/OMPlot.h
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindowContainer.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit, COMP/GUI/OMPlot

#12371 Fix type checking of cref binding equations
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute24.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute25.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute26.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12373 Fix flattening of if-equations
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/IfEquation9.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12378 Properly handle the parameters for parametric plot
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/TLM/TLMCoSimulationDialog.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: COMP/GUI/OMEdit, COMP/GUI/OMPlot

#12392 Fix some Linux builds compilation
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
Labels: COMP/GUI/OMEdit

#12391 Avoid extra end message tag when logging LOG_INIT
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
Labels: COMP/OMC/Runtime

#12389 [NB] further work on tearing minimal
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
Labels: COMP/OMC/New Backend

#12416 [NB] small update minimal tearing
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
Labels: COMP/OMC/New Backend

#12419 [NB] Collect enumeration variables separately
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#12426 [NB] update if equation handling
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
Labels: COMP/OMC/New Backend

#12427 [NB] update event detection
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#12429 Add positiveMax definition to Base Modelica
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/openmodelica/basemodelica/InStreamNominalThreshold.mo
  testsuite/openmodelica/basemodelica/Makefile
Labels: COMP/Base Modelica

#12428 create short directory name in OMEdit temp directory
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#12433 [janitor]
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/New Backend

#12435 [NB] update for equation handling
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDump.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/for_list.mos
Labels: COMP/OMC/New Backend

#12436 [NB] Parse complete attributes of all variables
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#12438 [NB] Print equation attributes for any equation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#12443 Reduce evaluation of external functions in instance API
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Script/NFApi.mo
Labels: COMP/GUI/InstBased Interface

#12439 [NB] Correctly detect solvability in when-equation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#12447 Improve handling of if-expressions
  OMCompiler/Compiler/NFFrontEnd/NFEvalConstants.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/IfExpression16.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#12452 Better error message for unsupported JSON value
  OMEdit/OMEditLIB/FlatModelica/Expression.cpp
Labels: COMP/GUI/OMEdit

#12455 Fix Expression.toFlatString for record expressions
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/openmodelica/basemodelica/Record1.mo
  testsuite/openmodelica/basemodelica/Record2.mo
Labels: COMP/Base Modelica

#12460 Improve Base Modelica export
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModelicaUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/scodeinst/CombineSubscripts3.mo
  testsuite/openmodelica/basemodelica/ArrayBinding1.mo
  testsuite/openmodelica/basemodelica/Comments.mo
  testsuite/openmodelica/basemodelica/Expression1.mo
  testsuite/openmodelica/basemodelica/InStreamNominalThreshold.mo
  testsuite/openmodelica/basemodelica/Record1.mo
  testsuite/openmodelica/basemodelica/Record2.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/basemodelica/SimpleCoolingCycle.mo
  testsuite/openmodelica/basemodelica/Tables.mos
Labels: COMP/Base Modelica

#12474 Fix connecting potentially present variables
  OMEdit/OMEditLIB/Modeling/Model.cpp
Labels: COMP/GUI/OMEdit

#12472 [NB] support shared literals
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/SimCode/SimCodeFunctionUtil.mo
Labels: COMP/OMC/Codegen, COMP/OMC/New Backend

#12473 [NB] do not create function alias for size 0 crefs
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
Labels: COMP/OMC/New Backend

#12487 [NB] fix ComponentRef.size()
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/New Backend
