Repository OpenModelica/OpenModelica, pull requests merged in 2024-11, with the labels that each got.

#13106 Show a warning if OMEdit fails to load the translation file
  Makefile.omdev.mingw
  OMEdit/OMEditLIB/OMEditApplication.cpp
Labels: COMP/GUI/OMEdit

#13111 Introduce new flag `--maxSizeLinearization`
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  OMCompiler/SimulationRuntime/c/linearization/linearize.cpp
  testsuite/openmodelica/linearization/Makefile
  testsuite/openmodelica/linearization/linmodel.mos
  testsuite/openmodelica/linearization/simLotkaVolterra.mos
  testsuite/openmodelica/linearization/simNonlinear.mos
  testsuite/openmodelica/linearization/simTwoTank.mos
  testsuite/openmodelica/linearization/simVanDerPol.mos
  testsuite/openmodelica/linearization/simextfunction.mos
  testsuite/openmodelica/linearization/smallValues.mos
  testsuite/openmodelica/linearization/testArrayAlg.mos
  testsuite/openmodelica/linearization/testDrumBoiler.mos
  testsuite/openmodelica/linearization/testMathFuncs.mos
  testsuite/openmodelica/linearization/testRecordDiff.mos
  testsuite/openmodelica/linearization/testSortFunction.mos
  testsuite/openmodelica/linearization/testSteamPipe.mos
  testsuite/openmodelica/linearization/test_01.mos
  testsuite/openmodelica/linearization/test_02.mos
  testsuite/openmodelica/linearization/test_03.mos
  testsuite/openmodelica/linearization/test_04.mos
  testsuite/openmodelica/linearization/test_05.mos
  testsuite/openmodelica/linearization/test_06.mos
  testsuite/openmodelica/linearization/test_07.mos
  testsuite/openmodelica/linearization/test_dump_languages.mos
  testsuite/openmodelica/linearization/testknownvar.mos
  testsuite/openmodelica/linearization/ticket3701.mos
Labels: COMP/OMC/Codegen

#13117 Allow merging in root class extends
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MergeComponents9.mo
Labels: COMP/OMC/Frontend

#13122 Cleanup the code
  OMEdit/OMEditGUI/main.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.cpp
  OMEdit/OMEditLIB/Animation/ViewerWidget.h
  OMEdit/OMEditLIB/Animation/Visualization.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Annotations/StringAnnotation.cpp
  OMEdit/OMEditLIB/CrashReport/CrashReportDialog.cpp
  OMEdit/OMEditLIB/CrashReport/GDBBacktrace.cpp
  OMEdit/OMEditLIB/Debugger/Attach/AttachToProcessDialog.cpp
  OMEdit/OMEditLIB/Debugger/GDB/GDBAdapter.cpp
  OMEdit/OMEditLIB/Editors/BaseEditor.cpp
  OMEdit/OMEditLIB/Editors/CEditor.cpp
  OMEdit/OMEditLIB/Editors/CompositeModelEditor.cpp
  OMEdit/OMEditLIB/Editors/HTMLEditor.cpp
  OMEdit/OMEditLIB/Editors/MetaModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Editors/OMSimulatorEditor.cpp
  OMEdit/OMEditLIB/Editors/TextEditor.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
  OMEdit/OMEditLIB/Git/CommitChangesDialog.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/OMS/BusDialog.h
  OMEdit/OMEditLIB/OMS/OMSSimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Search/SearchWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/diff_match_patch.cpp
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#13125 Better check for save type of LibraryTreeItem
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#13127 Optimize ComponentRef.hash
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
Labels: COMP/OMC/Frontend

#13134 Propagate settings to Inst.instComponentExpressions
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection5.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection6.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13133 [NF] fix fill() to array constructor
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/BindingArray10.mo
  testsuite/flattening/modelica/scodeinst/BuiltinAttribute23.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings3.mo
  testsuite/simulation/modelica/NBackend/alias/ArrayAlias2.mos
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13135 [NB] remove dummy equations after cleanup
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBEvaluation.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/Util/Array.mo
Labels: COMP/OMC/New Backend

#13140 [NB] Refactor slow code in Tearing
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
Labels: COMP/OMC/New Backend

#13145 Move getNthConnectionAnnotation to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13142 use Makefile to build FMU's for Cpp runtime in OMEdit
  OMCompiler/Compiler/Template/CodegenFMUCpp.tpl
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.cpp
  OMEdit/OMEditLIB/FMI/FMUExportOutputWidget.h
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#13151 Add setExtendsModifier API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/setExtendsModifier.mos
Labels: COMP/OMC/Interactive Environment

#13143 Display array notation with component name and tooltip
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#13158 [NB] Use getVarPartner interface more
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
Labels: COMP/OMC/New Backend

#13159 [NB] Refactor checkVar interface
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
Labels: COMP/OMC/New Backend

#13166 [OB] Don't generate Jacobian if disabled
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
Labels: COMP/OMC/Backend

#13175 Base Modelica improvements
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/StateSelect1.mo
  testsuite/openmodelica/basemodelica/String1.mo
Labels: COMP/Base Modelica

#13177 Fix the icon display if the component does not have annotation
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13179 Improve StringHandler::makeClassNameRelative
  OMEdit/OMEditLIB/Util/StringHandler.cpp
Labels: COMP/GUI/OMEdit

#13163 [testsuite] test gbode models
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_step.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_tableau.c
  testsuite/Makefile
  testsuite/simulation/modelica/solver/gbode/Burger_01.mos
  testsuite/simulation/modelica/solver/gbode/HeatingSystem.mos
  testsuite/simulation/modelica/solver/gbode/IRKGaussian_01.mos
  testsuite/simulation/modelica/solver/gbode/IRK_01.mos
  testsuite/simulation/modelica/solver/gbode/Makefile
  testsuite/simulation/modelica/solver/gbode/RK_01.mos
  testsuite/simulation/modelica/solver/gbode/SlowFastDynamics.mo
  testsuite/simulation/modelica/solver/gbode/multiRate_01.mos
  testsuite/simulation/modelica/solver/gbode/multiRate_02.mos
  testsuite/simulation/modelica/solver/gbode/setStepControl.mos
Labels: COMP/SimRT/C

#13181 [NF] remove trivial scalar product
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/testVectorizedPowerSystem.mos
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13183 Check if adding a component fails
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13190 Improve addComponent
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/addComponent1.mos
Labels: COMP/OMC/Interactive Environment

#13199 Select the interval in simulation setup
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOptions.h
Labels: COMP/GUI/OMEdit

#13202 Move getNthConnector/getConnectorCount to the typed API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getConnectorCount.mos
  testsuite/openmodelica/interactive-API/getNthComponentAnnotation.mos
  testsuite/openmodelica/interactive-API/getNthConnector.mos
Labels: COMP/OMC/Interactive Environment

#13215 Draw a default grey box if the model doesn't have an icon
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#13216 Draw a default grey box if the model doesn't have an icon
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#13218 Cherry-pick instance API fixes
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceConnection5.mos
  testsuite/openmodelica/instance-API/GetModelInstanceConnection6.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13231 [NB] update failtrace dump
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#13227 [NB] fix record and tuple sizes
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/New Backend

#13232 Update C++ frontend
  OMCompiler/Compiler/FrontEndCpp/Absyn/AbsynFwd.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/CMakeLists.txt
  OMCompiler/Compiler/FrontEndCpp/Absyn/Class.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Class.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/ClassDef.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/ClassDef.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/Component.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Component.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/DefineUnit.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/DefineUnit.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/Element.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Element.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/ElementVisitor.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/ElementVisitor.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/Extends.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Extends.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/Import.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Import.h
  OMCompiler/Compiler/FrontEndCpp/Absyn/Modifier.cpp
  OMCompiler/Compiler/FrontEndCpp/Absyn/Modifier.h
  OMCompiler/Compiler/FrontEndCpp/CMakeLists.txt
  OMCompiler/Compiler/FrontEndCpp/Class.cpp
  OMCompiler/Compiler/FrontEndCpp/Class.h
  OMCompiler/Compiler/FrontEndCpp/ClassNode.cpp
  OMCompiler/Compiler/FrontEndCpp/ClassNode.h
  OMCompiler/Compiler/FrontEndCpp/ClassTree.cpp
  OMCompiler/Compiler/FrontEndCpp/ClassTree.h
  OMCompiler/Compiler/FrontEndCpp/Inst.cpp
  OMCompiler/Compiler/FrontEndCpp/Inst.h
  OMCompiler/Compiler/FrontEndCpp/InstNode.h
  OMCompiler/Compiler/FrontEndCpp/InstNodeType.cpp
  OMCompiler/Compiler/FrontEndCpp/InstNodeType.h
  OMCompiler/Compiler/FrontEndCpp/Makefile.common
  OMCompiler/Compiler/FrontEndCpp/Prefixes.h
  OMCompiler/Compiler/FrontEndCpp/Type.cpp
  OMCompiler/Compiler/FrontEndCpp/Type.h
  OMCompiler/Compiler/FrontEndCpp/Util.h
  OMCompiler/Compiler/FrontEndCpp/Util/IndirectForwardIterator.h
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#13229 Scalarize partially connected arrays
  OMCompiler/Compiler/NFFrontEnd/NFConnections.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#13230 [NB] correctly lower attributes of array records
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/records/ComplexTest.mos
Labels: COMP/OMC/New Backend

#13156 [NB] Fix collection of parts with dynamic Jacobian
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
Labels: COMP/OMC/New Backend

#13234 [NF] adding applyToScope for Expression.applySubscript
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13245 [NB] Fix typo in minimal tearing
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
Labels: COMP/OMC/New Backend

#13258 Improved check for icon or diagram view
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#13259 Remove ComponentRef.STRING
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnit.mo
  OMCompiler/Compiler/NFFrontEnd/NFUnitCheck.mo
Labels: COMP/OMC/Frontend

#13263 Preserve the prefixes when copying and pasting
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13262 Quote Base Modelica enumeration literals
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/openmodelica/basemodelica/Enum1.mo
  testsuite/openmodelica/basemodelica/Makefile
  testsuite/openmodelica/basemodelica/String1.mo
Labels: COMP/Base Modelica

#13264 Add the comment to the choices dropdown of replaceable component
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13265 Improved check for value type
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
Labels: COMP/GUI/OMEdit

#13275 Move the remaining annotation API:s to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  testsuite/openmodelica/interactive-API/refactorGraphAnn1.mos
  testsuite/openmodelica/interactive-API/refactorGraphAnn2.mos
Labels: COMP/OMC/Interactive Environment

#13274 Use toTimeZone instead of toTimeSpec for Qt >= 6.5
  OMEdit/OMEditLIB/Git/CommitChangesDialog.cpp
Labels: COMP/GUI/OMEdit

#13288 Fix elaboration of VariableNames with nested der
  OMCompiler/Compiler/FrontEnd/Static.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/readSimulationResult1.mos
Labels: COMP/OMC/Interactive Environment

#13296 [NB] inline simple record equalities in for-loops
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#13306 Fix getElements API
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getElements1.mos
Labels: COMP/OMC/Interactive Environment

#13307 Implement options for getAllSubtypeOf
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/GetAllSubtypeOf3.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment

#13308 Fix CevalScriptBackend.moveElementArgInfo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  testsuite/openmodelica/interactive-API/CopyClass6.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment

#13309 Move getShortDefinitionBaseClassInformation to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/interactive_api_calls.mos
Labels: COMP/OMC/Interactive Environment

#13313 Improve Expression.applySubscripts for arrays
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  testsuite/flattening/modelica/scodeinst/CevalRecordArray11.mo
  testsuite/flattening/modelica/scodeinst/IfEquation10.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#13284 Remove old graphical API code
  OMEdit/OMEditGUI/main.cpp
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapePropertiesDialog.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/CMakeLists.txt
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Element/Transformation.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.cpp
  OMEdit/OMEditLIB/Modeling/CoOrdinateSystem.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.h
  OMEdit/OMEditLIB/Modeling/FunctionArgumentDialog.cpp
  OMEdit/OMEditLIB/Modeling/FunctionArgumentDialog.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  OMEdit/OMEditLIB/OMEditApplication.cpp
  OMEdit/OMEditLIB/OMEditLIB.pro
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
  OMEdit/OMEditLIB/OMS/ModelDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDefaults.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#13314 Unify the way choices and choicesAllMatching options are shown
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit
