Repository OpenModelica/OpenModelica, pull requests merged in 2025-10, with the labels that each got.

#14423 Use enclosing path in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived4.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#14426 Do not show file extensions filter when saving a file
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
Labels: COMP/GUI/OMEdit

#14430 Fix InstNode.enclosingScope
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation8.mos
  testsuite/openmodelica/instance-API/GetModelInstanceDerived5.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#14438 [BE] fix zero crossing collection iterators
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
Labels: COMP/OMC/Backend

#14434 Fix OMEdit qt6 build
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit, CI/Build MSYS2-UCRT64

#14439 Check if component is replaceable
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#14450 Free memory in `EQUATION_INFO` and `FUNCTION_INFO`
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c
Labels: COMP/SimRT/C

#14455 Parameter array index mapping
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#14441 [NB/NF] add proper merging of cref subscripts
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings2.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings6.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/MultiDimensionalArrays.mo
  testsuite/simulation/modelica/NBackend/array_handling/MultiDimensionalArrays1.mos
  testsuite/simulation/modelica/NBackend/array_handling/MultiDimensionalArrays2.mos
  testsuite/simulation/modelica/NBackend/array_handling/MultiDimensionalArrays3.mos
  testsuite/simulation/modelica/NBackend/array_handling/MultiDimensionalArrays4.mos
  testsuite/simulation/modelica/NBackend/array_handling/ReferenceFiles/MultiDimensionalArrays.Test1_res.mat
  testsuite/simulation/modelica/NBackend/array_handling/ReferenceFiles/MultiDimensionalArrays.Test2_res.mat
  testsuite/simulation/modelica/NBackend/array_handling/ReferenceFiles/MultiDimensionalArrays.Test3_res.mat
  testsuite/simulation/modelica/NBackend/array_handling/ReferenceFiles/MultiDimensionalArrays.Test4_res.mat
Labels: COMP/OMC/New Backend
