Repository OpenModelica/OpenModelica, pull requests merged in 2025-07, with the labels that each got.

#14061 Optimize ClassTree.instantiate
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
Labels: COMP/OMC/Frontend

#14065 [GBODE] Remove right K availablity if not available
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_tableau.c
Labels: COMP/SimRT/C

#14064 [C] Add flag `newtonJacUpdates` for GBODE
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_step.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
Labels: COMP/SimRT/C

#14075 Handle dialog annotation showStartAttribute=false for variable
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#14071 [NB] add ASSC
  OMCompiler/Compiler/.cmake/meta_modelica_source_list.cmake
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Util/NBASSC.mo
  OMCompiler/Compiler/boot/LoadCompilerSources.mos
  OMCompiler/Compiler/runtime/ASSCEXT.cpp
  OMCompiler/Compiler/runtime/ASSCEXT_omc.cpp
  OMCompiler/Compiler/runtime/CMakeLists.txt
  OMCompiler/Compiler/runtime/Makefile.common
  OMCompiler/Compiler/runtime/Makefile.vc
Labels: COMP/OMC/New Backend

#14085 [NB] update differentiation of division
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#14132 [NB] update dae mode jacobian
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
Labels: COMP/OMC/New Backend

#14131 Replace sequence of equations by for-loop
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenUtil.tpl
  OMCompiler/SimulationRuntime/c/simulation/jacobian_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
Labels: COMP/OMC/Codegen

#14137 [NB] update DAE mode jacobians
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBDAEMode.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/SimCode/SerializeModelInfo.mo
Labels: COMP/OMC/New Backend

#14144 [NB] fix pre() in algorithm handling
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#14152 [NB] update adjacency and jacobian sparsity
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#14155 [NB] improve error reporting when failing to get variable from cref
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NSimCode/NSimJacobian.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/NSimCode/NSimVar.mo
Labels: COMP/OMC/New Backend

#14156 [NB] update function alias
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#14160 [NB] fix strong component issues
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NFFrontEnd/NFBinding.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/New Backend

#14161 [NSimCode] extract literals from generic loops
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
Labels: COMP/OMC/New Backend
