Repository OpenModelica/OpenModelica, pull requests merged in 2025-03, with the labels that each got.

#13665 [NB] add FOR and IF nesting simplification
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  testsuite/simulation/modelica/NBackend/array_handling/Makefile
  testsuite/simulation/modelica/NBackend/array_handling/for_if.mos
Labels: COMP/OMC/New Backend

#13667 Port --evaluateStructuralParameters
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/flattening/modelica/scodeinst/ActualStreamMinMax2.mo
  testsuite/flattening/modelica/scodeinst/IfEquationEval5.mo
  testsuite/flattening/modelica/scodeinst/IfExpression12.mo
  testsuite/flattening/modelica/scodeinst/IfExpression14.mo
  testsuite/flattening/modelica/scodeinst/IfExpression4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding13.mo
  testsuite/openmodelica/basemodelica/ArrayBinding1.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/dataReconciliation/TSP_Splitter7.mos
Labels: COMP/OMC/Frontend

#13666 [NB] refine FOR and IF nested simplification
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  testsuite/simulation/modelica/NBackend/array_handling/for_if.mos
Labels: COMP/OMC/New Backend

#13674 [NB] update record binding handling
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  testsuite/simulation/modelica/NBackend/records/record_arrays.mos
Labels: COMP/OMC/New Backend

#13677 [NB] do not collect events from subscripts
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#13678 [OB] Use type when making new var from cref
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
  OMCompiler/Compiler/BackEnd/BackendEquation.mo
  OMCompiler/Compiler/BackEnd/BackendVariable.mo
  OMCompiler/Compiler/BackEnd/DAEMode.mo
  OMCompiler/Compiler/BackEnd/DataReconciliation.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/BackEnd/SynchronousFeatures.mo
  OMCompiler/Compiler/BackEnd/Uncertainties.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
Labels: COMP/OMC/Backend

#13683 Fix deprecated boost::asio usage in C++ runtime (#13441)
  OMCompiler/SimulationRuntime/cpp/SimCoreFactory/OMCFactory/OMCFactory.cpp
Labels: COMP/SimRT/C++

#13615 [NB] index reduction: compute state order
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
Labels: COMP/OMC/New Backend

#13687 [NB] add basic index reduction
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/index_reduction/Makefile
  testsuite/simulation/modelica/NBackend/index_reduction/basic_IR.mos
Labels: COMP/OMC/New Backend

#13691 [NB] refine index reduction
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  testsuite/simulation/modelica/NBackend/basics/Makefile
  testsuite/simulation/modelica/NBackend/basics/StaticIR.mos
  testsuite/simulation/modelica/NBackend/index_reduction/Makefile
  testsuite/simulation/modelica/NBackend/index_reduction/static_IR.mos
Labels: COMP/OMC/New Backend

#13694 [NB] add differentiation of array reduction
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinFuncs.mo
Labels: COMP/OMC/New Backend

#13695 [NB] get record elements of generic expressions while inlining
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13697 Update documentation for PDEModelica
  doc/UsersGuide/source/pdemodelica.rst
Labels: COMP/Documentation

#13704 [NB] add array-record adjacency support
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13705 [NB] use record children replacements for alias module
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
Labels: COMP/OMC/New Backend

#13706 [NB] no skips for size 1 arrays
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13707 Optimize List.intersection1OnTrue
  OMCompiler/Compiler/Util/List.mo
Labels: COMP/OMC/Backend

#13711 Optimize List.deleteMemberOnTrue
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/HpcOmEqSystems.mo
  OMCompiler/Compiler/BackEnd/HpcOmScheduler.mo
  OMCompiler/Compiler/BackEnd/HpcOmTaskGraph.mo
  OMCompiler/Compiler/BackEnd/Matching.mo
  OMCompiler/Compiler/BackEnd/ResolveLoops.mo
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
  OMCompiler/Compiler/BackEnd/SynchronousFeatures.mo
  OMCompiler/Compiler/BackEnd/Tearing.mo
  OMCompiler/Compiler/Script/Refactor.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Util/List.mo
  testsuite/openmodelica/bootstrapping/UtilTest.mos
Labels: COMP/OMC/Backend

#13712 [NB] fix record handling regular dependency
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13709 [C] Unify Jacobian evaluation (wip)
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/dataReconciliation/dataReconciliation.cpp
  OMCompiler/SimulationRuntime/c/linearization/linearize.cpp
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/optimization/DataManagement/MoveData.c
  OMCompiler/SimulationRuntime/c/simulation/jacobian_util.c
  OMCompiler/SimulationRuntime/c/simulation/jacobian_util.h
  OMCompiler/SimulationRuntime/c/simulation/solver/cvode_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_sparse.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.h
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.h
  OMCompiler/SimulationRuntime/c/simulation/solver/jacobianSymbolical.c
  OMCompiler/SimulationRuntime/c/simulation/solver/jacobianSymbolical.h
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverKlu.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLapack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLis.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverTotalPivot.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverUmfpack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverNewton.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.h
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_qss_simulation.c.inc
  OMCompiler/SimulationRuntime/c/simulation/solver/stateset.c
  OMCompiler/SimulationRuntime/c/simulation/solver/sundials_util.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  OMCompiler/SimulationRuntime/c/util/omc_file.c
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.c.inc
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu2_model_interface.h
  testsuite/simulation/modelica/linear_system/analyticJacProblem3.mos
  testsuite/simulation/modelica/linear_system/linearTestPackage.mo
  testsuite/simulation/modelica/linear_system/problem1.mos
  testsuite/simulation/modelica/linear_system/problem3.mos
  testsuite/simulation/modelica/solver/gbode/IRK_01.mos
Labels: COMP/SimRT/C

#13716 [NB] update adjacency matrix
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13718 [NB] handle external object functions
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
Labels: COMP/OMC/New Backend

#13720 Use difference instead of intersection
  OMCompiler/Compiler/BackEnd/EvaluateFunctions.mo
  OMCompiler/Compiler/BackEnd/Matching.mo
  OMCompiler/Compiler/Util/UnorderedSet.mo
Labels: COMP/OMC/Backend

#13723 [NB] refine index reduction
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Tables.CombiTable1Ds.Test1.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Tables.CombiTable1Ds.Test4.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Tables.CombiTable1Ds.Test1_res.mat
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Tables.CombiTable1Ds.Test4_res.mat
  testsuite/simulation/modelica/NBackend/alias/Alias_test4.mos
Labels: COMP/OMC/New Backend

#13726 [NB] simcode: update collection of literals
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Math.TestMatrices.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Math.TestMatrices_res.mat
Labels: COMP/OMC/New Backend

#13728 [NB] do not collect literal records (runtime can't handle it)
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13730 [NB] allow size 0 if equations for lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Media.TestAllProperties.ConstantPropertyLiquidWater.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Media.TestAllProperties.ConstantPropertyLiquidWater_res.mat
Labels: COMP/OMC/New Backend

#13731 [NB] update inlining of array constructors
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#13732 [NB] add differentiation of array constructors
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#13734 Optimize dumping of when equations in model info
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/SimCode/SerializeModelInfo.mo
Labels: COMP/OMC/SimCode

#13736 [NB] update function differentiation
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#13735 first sort then filter duplicates for better performance
  OMCompiler/Compiler/BackEnd/SymbolicJacobian.mo
Labels: COMP/OMC/Backend

#13738 [NB] fix differentiation of max(X), min(X)
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#13743 Updated documentation chapter heading
  doc/UsersGuide/source/ompython.rst
Labels: documentation

#13744 [C] Emit right limit of event (#13701)
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
  testsuite/openmodelica/cruntime/simoptions/testOutputIntervalRK.mos
  testsuite/simulation/modelica/events/Makefile
  testsuite/simulation/modelica/events/ReferenceFiles/noEventEmit_res.mat
  testsuite/simulation/modelica/events/noEventEmit.mos
Labels: COMP/SimRT/C

#13753 [NB] fix handling of StateSelect.ALWAYS
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Blocks.IntegratorForceState.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Blocks.IntegratorForceState_res.mat
  testsuite/simulation/modelica/NBackend/basics/detectStates.mos
  testsuite/simulation/modelica/NBackend/index_reduction/static_IR.mos
Labels: COMP/OMC/New Backend

#13759 [NB] use state order when differentiation for index reduction
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBJacobian.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#13760 Don't strip parentheses in getModelInstance
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceBinding11.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13761 Rewrite BackendVarTransform to use UnorderedMap/Set
  OMCompiler/Compiler/BackEnd/BackendVarTransform.mo
  OMCompiler/Compiler/BackEnd/EvaluateFunctions.mo
  OMCompiler/Compiler/Util/UnorderedMap.mo
  testsuite/simulation/modelica/start_value_selection/asmaFlow.mos
Labels: COMP/OMC/Backend

#13762 [NB] small fix
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
Labels: COMP/OMC/New Backend

#13764 Fix size() of untyped variable
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/Size7.mo
Labels: COMP/OMC/Frontend
