Repository OpenModelica/OpenModelica, pull requests merged in 2025-06, with the labels that each got.

#13990 Load the exact version of the library that user requested
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
Labels: COMP/GUI/OMEdit

#13994 Use the containing GraphicsView for evaluation (#13993)
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Transformation.cpp
Labels: COMP/GUI/OMEdit

#14000 [NB] do not allow to fix algebraics and discretes
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
Labels: COMP/OMC/New Backend

#14003 Evaluate the expression recursively
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
Labels: COMP/GUI/OMEdit

#14004 Dump generated inner components with getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceAttributes2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter2.mos
  testsuite/openmodelica/instance-API/GetModelInstanceInnerOuter3.mos
Labels: COMP/GUI/InstBased Interface

#13968 Improve flexible array handling
  .CI/compliance.failures
  OMCompiler/Compiler/NFFrontEnd/NFEvalFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
Labels: COMP/OMC/Frontend

#14005 Convert the literal parts of array when we switch back to SI-unit
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  OMEdit/Testsuite/Utilities/UtilitiesTest.cpp
  OMEdit/Testsuite/Utilities/UtilitiesTest.h
Labels: COMP/GUI/OMEdit

#14017 [C] add derivative test for KINSOL Jacobians
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/omc_error.h
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  testsuite/openmodelica/cruntime/debugDumps/Makefile
  testsuite/openmodelica/cruntime/debugDumps/testDumpDerivativeTest.mos
Labels: COMP/SimRT/C

#14026 [C] Add space between vector elements
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
Labels: COMP/SimRT/C

#14037 Update %par text string used in the DynamicSelect
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
Labels: COMP/GUI/OMEdit

#14041 Use identity for index map
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#14048 Improve CommonSubExpression.shortenPaths
  OMCompiler/Compiler/BackEnd/CommonSubExpression.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBPartitioning.mo
  OMCompiler/Compiler/Util/ExpandableArray.mo
Labels: COMP/OMC/Backend

#14049 [C] Add new flag `newtonMaxSteps` for GBODE
  OMCompiler/SimulationRuntime/c/simulation/simulation_runtime.cpp
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_step.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.h
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
Labels: COMP/SimRT/C
