Repository OpenModelica/OpenModelica, pull requests merged in 2025-05, with the labels that each got.

#13881 Relax error checking when checking partial model
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/flattening/modelica/arrays/Makefile
  testsuite/flattening/modelica/arrays/OutOfBoundsPartial1.mos
  testsuite/flattening/modelica/equations/Makefile
  testsuite/flattening/modelica/equations/WhenPartial1.mos
Labels: COMP/OMC/Frontend

#13883 Relax error checking when checking partial model
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFVerifyModel.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/flattening/modelica/arrays/Makefile
  testsuite/flattening/modelica/arrays/OutOfBoundsPartial1.mos
  testsuite/flattening/modelica/equations/Makefile
  testsuite/flattening/modelica/equations/WhenPartial1.mos
Labels: COMP/OMC/Frontend

#13839 [NB,Template] implement resizable for-loop code gen
  OMCompiler/Compiler/BackEnd/BackendDAE.mo
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/BackendDump.mo
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NSimCode/NSimCode.mo
  OMCompiler/Compiler/NSimCode/NSimGenericCall.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  OMCompiler/Compiler/SimCode/SerializeModelInfo.mo
  OMCompiler/Compiler/SimCode/SimCode.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenUtilSimulation.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/tickets/13788.mos
  testsuite/simulation/modelica/NBackend/tickets/ReferenceFiles/MWE_3_13788_res.mat
Labels: COMP/OMC/New Backend

#13889 Improve getAllSubtypeOf API
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Stubs/NFApi.mo
  testsuite/openmodelica/interactive-API/GetAllSubtypeOf4.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment

#13895 Fix CMake build for MacOS
  OMCompiler/SimulationRuntime/ParModelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/auto/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/cmake_3.14.cmake
Labels: COMP/Build System

#13899 [OB] fix algorithm adjacency matrix
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/FrontEnd/CheckModel.mo
Labels: COMP/OMC/Backend

#13901 Add the custom element modifiers to the model
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13900 [NB/Template] fix generic call auxilliary function calls
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/Codegen, COMP/OMC/New Backend

#13915 Only clear the shapes when in element mode
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13922 Evaluate if-expressions with der in one branch
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/IfExpression17.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#13925 GUI fixes
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/Commands.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
Labels: COMP/GUI/OMEdit

#13928 Improve overconstrained connection handling (#13920)
  OMCompiler/Compiler/NFFrontEnd/NFOCConnectionGraph.mo
  testsuite/flattening/modelica/scodeinst/EqualityConstraint3.mo
Labels: COMP/OMC/Frontend

#13935 [OB] Fix simplification of if-equation
  OMCompiler/Compiler/BackEnd/BackendDAEOptimize.mo
Labels: COMP/OMC/Backend

#13936 Make Qt WebEngine usable
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.h
Labels: COMP/GUI/OMEdit

#13952 Fix #13951
  OMCompiler/Compiler/FrontEndCpp/Class.cpp
  OMCompiler/Compiler/FrontEndCpp/ClassNode.cpp
  OMCompiler/Compiler/FrontEndCpp/Component.cpp
Labels: COMP/OMC/Frontend

#13957 Change InstNode::emptyMMNode to a method
  OMCompiler/Compiler/FrontEndCpp/ClassNode.cpp
  OMCompiler/Compiler/FrontEndCpp/ComponentNode.cpp
  OMCompiler/Compiler/FrontEndCpp/InstNode.cpp
  OMCompiler/Compiler/FrontEndCpp/InstNode.h
  OMCompiler/Compiler/FrontEndCpp/InstNodeType.cpp
Labels: COMP/OMC/Frontend
