Repository OpenModelica/OpenModelica, pull requests merged in 2025-09, with the labels that each got.

#14285 Improve evaluation of box/unbox expressions
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
Labels: COMP/OMC/Frontend

#14286 Removing irksco solver
  OMCompiler/SimulationRuntime/c/Makefile.objs
  OMCompiler/SimulationRuntime/c/simulation/solver/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/irksco.c
  OMCompiler/SimulationRuntime/c/simulation/solver/irksco.h
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  doc/UsersGuide/source/solving.rst
  testsuite/simulation/modelica/solver/Makefile
  testsuite/simulation/modelica/solver/problem1-irksco.mos
  testsuite/simulation/modelica/solver/problem2-irksco.mos
  testsuite/simulation/modelica/solver/problem6-irksco.mos
Labels: COMP/SimRT/C, COMP/OMC/Runtime

#14287 Removing heun solver
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  doc/UsersGuide/source/omedit.rst
  doc/UsersGuide/source/solving.rst
Labels: COMP/SimRT/C, COMP/OMC/Runtime

#14290 Re-adding tests for irksco with GBODE
  testsuite/simulation/modelica/solver/Makefile
  testsuite/simulation/modelica/solver/problem1-irksco.mos
  testsuite/simulation/modelica/solver/problem2-irksco.mos
  testsuite/simulation/modelica/solver/problem6-irksco.mos
Labels: COMP/SimRT/C, COMP/OMC/Runtime

#14304 [NB/NF] add function pointer argument differentiation
  OMCompiler/Compiler/FrontEnd/SCodeUtil.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBBackendUtil.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunctionDerivative.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#14313 Skip expression evaluation when `getModelInstanceAnnotation` is called
  OMEdit/OMEditLIB/Annotations/DynamicAnnotation.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#14315 [NF] improve algorithm simpification
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFAlgorithm.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#14316 [NB] update size classification differentiation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#14317 Rename codegen function
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/CodegenCpp.tpl
Labels: COMP/OMC/Codegen

#14322 [NF] add support for resizable modifications
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#14323 [NF] further update of resizable support
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#14333 Removing empty file sample.c
  OMCompiler/SimulationRuntime/c/simulation/solver/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/simulation/solver/sample.c
Labels: COMP/SimRT/C

#14338 [NB] Differentiate `identity` and `linspace`
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
Labels: COMP/OMC/New Backend

#14299 Compile on Windows using CMake + MinGW Makefiles
  OMCompiler/Compiler/CMakeLists.txt
  OMEdit/OMEditGUI/CMakeLists.txt
Labels: COMP/Build System

#14359 [NB/Template/C] keep array variables for code gen
  OMCompiler/Compiler/FrontEnd/Expression.mo
  OMCompiler/Compiler/SimCode/SerializeInitXML.mo
  OMCompiler/Compiler/Template/CodegenCppInit.tpl
  OMCompiler/Compiler/Template/CodegenUtil.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
  OMCompiler/SimulationRuntime/c/simulation/simulation_input_xml.c
Labels: COMP/OMC/New Backend

#14384 Snap to grid when pasting items
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#14397 Add flag `causalizeDaeMode`
  OMCompiler/Compiler/BackEnd/DAEMode.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/Backend

#14407 Read the profiling value when loading transformational debugger
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/MainWindow.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.cpp
  OMEdit/OMEditLIB/TransformationalDebugger/TransformationsWidget.h
Labels: COMP/GUI/OMEdit

#14418 Improve NFFlatten.evaluateBindingConnOp
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/InStreamArray2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend
