Repository OpenModelica/OpenModelica, pull requests merged in 2025-08, with the labels that each got.

#14172 Fix more operator= in C++ runtime
  OMCompiler/SimulationRuntime/cpp/Core/Utils/extension/adaptable_factory.hpp
  OMCompiler/SimulationRuntime/cpp/Core/Utils/extension/factory.hpp
  OMCompiler/SimulationRuntime/cpp/Core/Utils/extension/impl/adaptable_factory.hpp
Labels: COMP/SimRT/C++

#14173 Don't override background color in OMShell
  OMShell/OMShell/OMShellGUI/oms.cpp
Labels: COMP/GUI/OMShell

#14175 Fix URL for OMSimulator documentation in OMEdit
  OMEdit/OMEditLIB/MainWindow.cpp
Labels: COMP/GUI/OMEdit

#14177 [NB] update dae mode variable lowering
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBDAEMode.mo
  OMCompiler/Compiler/NBackEnd/Modules/NBModule.mo
Labels: COMP/OMC/New Backend

#14179 Don't update bindings of redeclared parameters
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/UnboundParameter7.mo
Labels: COMP/OMC/Frontend

#14197 Use unique names when generating iterators
  OMCompiler/Compiler/Global/Global.mo
  OMCompiler/Compiler/NFFrontEnd/NFArrayConnections.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstNode.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect1.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect2.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect3.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect4.mo
  testsuite/flattening/modelica/scodeinst/ArrayConnect5.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/MergeComponents7.mo
  testsuite/flattening/modelica/scodeinst/MergeComponents8.mo
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect1.mo
  testsuite/flattening/modelica/scodeinst/NoScalarizeConnect2.mo
  testsuite/flattening/modelica/scodeinst/SlicedCref1.mo
  testsuite/flattening/modelica/scodeinst/SlicedCref2.mo
  testsuite/flattening/modelica/scodeinst/SlicedCref3.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings2.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings5.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings6.mo
  testsuite/openmodelica/basemodelica/NonScalarizedWithRecords1.mo
  testsuite/openmodelica/basemodelica/NonScalarizedWithoutRecords1.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/cppruntime/testVectorizedBlocks.mos
  testsuite/openmodelica/cppruntime/testVectorizedPowerSystem.mos
  testsuite/openmodelica/cppruntime/testVectorizedSolarSystem.mos
Labels: COMP/OMC/Frontend

#14199 Support polygon points with DynamicSelect
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
Labels: COMP/GUI/OMEdit

#14213 Revert "Improve handling of __OpenModelica_commandLineOptions (#14207)"
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  testsuite/flattening/modelica/others/Homotopy.mo
Labels: COMP/OMC/Interactive Environment

#14224 Use false for isElementModification when apply element modifiers
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#14225 Set visualization to false and clear selection
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
Labels: COMP/GUI/OMEdit

#14226 Set visualization to false and clear selection (#14225)
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
Labels: COMP/GUI/OMEdit

#14236 [OMPlot] add qt version check for compatibility with older versions
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: COMP/GUI/OMPlot

#14237 Improve typing of functions with record outputs
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  testsuite/flattening/modelica/scodeinst/FunctionRecordArg6.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#14259 Don't try to inline external/builtin functions
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding18.mo
Labels: COMP/OMC/Frontend

#14261 Fix #14222 and add test case
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/interactive-API/CopyClass7.mos
  testsuite/openmodelica/interactive-API/Makefile
Labels: COMP/OMC/Interactive Environment

#14262 [NF] do not convert the RSUB index
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Template/CodegenCFunctions.tpl
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Media.TestOnly.WaterIF97_dewEnthalpy.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Media.TestOnly.WaterIF97_dewEnthalpy_res.mat
Labels: COMP/OMC/New Backend

#14264 Don't try to inline external/builtin functions (#14259)
  OMCompiler/Compiler/NFFrontEnd/NFInline.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding18.mo
Labels: COMP/OMC/Frontend

#14280 [NB] fix function differentiation
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend
