Repository OpenModelica/OpenModelica, pull requests merged in 2025-04, with the labels that each got.

#13767 Fix size() of untyped variable (#13764)
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/Size7.mo
Labels: COMP/OMC/Frontend

#13774 Remove support for deprecated tearing select syntax
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  testsuite/simulation/modelica/tearing/tearingSelect-celMC3.mos
  testsuite/simulation/modelica/tearing/tearingSelect-minimal.mos
  testsuite/simulation/modelica/tearing/tearingSelect-omc.mos
  testsuite/simulation/modelica/tearing/tearingSelect.mo
Labels: COMP/OMC/Backend

#13780 Optimize Print.printBuf
  OMCompiler/Compiler/Util/Print.mo
  OMCompiler/Compiler/runtime/Print_omc.c
  OMCompiler/Compiler/runtime/printimpl.c
  OMCompiler/Compiler/runtime/printimpl.h
Labels: COMP/OMC/Runtime

#13779 Optimize getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFClockKind.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation14.mos
Labels: COMP/GUI/InstBased Interface

#13785 Optimize script evaluation
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13789 Show same prefix units in parameters, variables browser and plot
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Modeling/ItemDelegate.h
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Resources/nls/OMEdit_de.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_es.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_fr.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_it.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ja.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ro.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_ru.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_sv.ts
  OMEdit/OMEditLIB/Resources/nls/OMEdit_zh_CN.ts
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  OMPlot/OMPlot/OMPlotGUI/OMPlot.h
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
Labels: COMP/GUI/OMEdit

#13792 Updated include headers in OMPlot
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Plotting/PlotWindowContainer.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
  OMEdit/OMEditLIB/Simulation/OpcUaClient.h
  OMNotebook/OMNotebook/OMNotebookGUI/graphcell.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/printervisitor.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/serializingvisitor.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/xmlparser.cpp
  OMPlot/OMPlot/OMPlotGUI/Legend.cpp
  OMPlot/OMPlot/OMPlotGUI/Legend.h
  OMPlot/OMPlot/OMPlotGUI/OMPlot.h
  OMPlot/OMPlot/OMPlotGUI/Plot.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotCurve.h
  OMPlot/OMPlot/OMPlotGUI/PlotGrid.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotGrid.h
  OMPlot/OMPlot/OMPlotGUI/PlotPanner.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotPanner.h
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotPicker.h
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.h
  OMPlot/OMPlot/OMPlotGUI/PlotZoomer.cpp
  OMPlot/OMPlot/OMPlotGUI/PlotZoomer.h
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.cpp
  OMPlot/OMPlot/OMPlotGUI/ScaleDraw.h
Labels: COMP/GUI/OMEdit

#13794 Show the error message when translateModel fails
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
Labels: COMP/GUI/OMEdit

#13793 Fix array dimension type matching
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/simulation/modelica/equations/ArrayEquation1.mo
  testsuite/simulation/modelica/equations/ArrayEquation1.mos
  testsuite/simulation/modelica/equations/Makefile
Labels: COMP/OMC/Frontend

#13796 Fix array dimension type matching (#13793)
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/simulation/modelica/equations/ArrayEquation1.mo
  testsuite/simulation/modelica/equations/ArrayEquation1.mos
  testsuite/simulation/modelica/equations/Makefile
Labels: COMP/OMC/Frontend

#13798 Avoid reading past end of array in cmpData
  OMCompiler/Compiler/runtime/SimulationResultsCmp.c
Labels: COMP/OMC/Runtime

#13799 Fix externalInputData when initializing models
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
Labels: COMP/SimRT/C

#13805 fix incorrect removal of memory include in #13792
  OMPlot/OMPlot/OMPlotGUI/PlotWindow.cpp
Labels: bug

#13804 Port simulation runtime fixes
  OMCompiler/Compiler/runtime/SimulationResultsCmp.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
Labels: COMP/SimRT/C

#13818 Use `setExtendsModifierValue` for connectorSizing of inherited elements
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13807 [NB] fix array binding creation
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/simulation/modelica/NBackend/array_handling/for_exp.mos
  testsuite/simulation/modelica/NBackend/array_handling/testVectorizedPowerSystem.mos
  testsuite/simulation/modelica/NBackend/simplification/multary_simplification.mos
  testsuite/simulation/modelica/NBackend/tickets/13788.mos
  testsuite/simulation/modelica/NBackend/tickets/Makefile
  testsuite/simulation/modelica/NBackend/tickets/ReferenceFiles/MWE_13788_res.mat
Labels: COMP/OMC/New Backend

#13819 [C] Small fixes on gbode code
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_conf.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_ctrl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_tableau.h
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_util.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
Labels: COMP/SimRT/C

#13821 [NB] add backend support for non range array constructor bindings
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBBindings.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
Labels: COMP/OMC/New Backend

#13833 Small fixes
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_step.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
Labels: COMP/SimRT/C

#13828 Add flag to disable automatic loading of missing libraries
  OMCompiler/Compiler/NFFrontEnd/NFLookup.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
  testsuite/flattening/modelica/scodeinst/LookupLibrary2.mo
  testsuite/flattening/modelica/scodeinst/Makefile
Labels: COMP/OMC/Frontend

#13835 [NF] exclude special builtin calls from retyping
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13836 [testsuite] add new test
  testsuite/simulation/modelica/NBackend/ModelicaTest/Makefile
  testsuite/simulation/modelica/NBackend/ModelicaTest/ModelicaTest.Blocks.StrictLimiters.mos
  testsuite/simulation/modelica/NBackend/ModelicaTest/ReferenceFiles/ModelicaTest.Blocks.StrictLimiters_res.mat
Labels: COMP/OMC/New Backend

#13837 [NF] allow non elementwise div for arrays
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13842 [NF] add missing cases for tuple and record elements
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13844 Remove unnecessary expansion of top scope
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
Labels: COMP/OMC/Frontend

#13845 Exit show element mode when dependencies are reloaded
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMC/OMCProxy.h
Labels: COMP/GUI/OMEdit

#13852 [NF] do not fail on unknown expression. rather just return type
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/New Backend

#13856 [C] Remove unused variables in solver info
  OMCompiler/SimulationRuntime/c/Makefile.common
  OMCompiler/SimulationRuntime/c/simulation/solver/dassl.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/ida_solver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/irksco.c
  OMCompiler/SimulationRuntime/c/simulation/solver/perform_simulation.c.inc
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/solver_main.h
  OMCompiler/SimulationRuntime/c/simulation/solver/sym_solver_ssc.c
  OMCompiler/SimulationRuntime/c/simulation/solver/sym_solver_ssc.h
  OMCompiler/SimulationRuntime/fmi/export/openmodelica/fmu_read_flags.c.inc
Labels: COMP/SimRT/C

#13859 Fix Qt compilation warnings
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMNotebook/OMNotebook/OMNotebookGUI/cellapplication.cpp
Labels: COMP/GUI/OMEdit, COMP/GUI/OMNotebook

#13864 Update deprecated Autoconf macros
  OMCompiler/SimulationRuntime/OMSICpp/configure.ac
  OMCompiler/SimulationRuntime/cpp/configure.ac
  OMCompiler/configure.ac
  OMCompiler/m4/lapack.m4
  OMEdit/configure.ac
  OMNotebook/configure.ac
  OMPlot/configure.ac
  OMShell/configure.ac
  common/m4/omhome.m4
  configure.ac
Labels: COMP/Build System

#13866 Normalize paths to silence CMake warnings
  CMakeLists.txt
  OMCompiler/SimulationRuntime/c/cmake/source_code_fmu_config.cmake
Labels: COMP/Build System

#13851 copy dgesv sources to fmu
  OMCompiler/Compiler/SimCode/SimCodeMain.mo
  OMCompiler/SimulationRuntime/c/Makefile.objs
  OMCompiler/SimulationRuntime/c/RuntimeSources.mo.cmake
  OMCompiler/SimulationRuntime/c/RuntimeSources.mo.tpl
  testsuite/openmodelica/fmi/ModelExchange/2.0/Makefile
  testsuite/openmodelica/fmi/ModelExchange/2.0/fmi_attributes_15.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug2764.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testBug3049.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDgesvSources.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDisableDep.mos
  testsuite/openmodelica/fmi/ModelExchange/2.0/testDiscreteStructe.mos
Labels: COMP/OMC/3rdParty

#13874 Bump max policy for CMake 4.0 compatibility
  OMCompiler/Parser/.cmake/omc_antlr_target_macros.cmake
  OMCompiler/SimulationRuntime/ParModelica/CMakeLists.txt
  OMCompiler/SimulationRuntime/ParModelica/auto/CMakeLists.txt
  OMCompiler/SimulationRuntime/c/CMakeLists.txt
  OMCompiler/SimulationRuntime/cpp/cmake_3.14.cmake
  OMEdit/OMEditLIB/Debugger/Parser/CMakeLists.txt
  OMParser/3rdParty/antlr4/runtime/Cpp/CMakeLists.txt
  OMParser/CMakeLists.txt
Labels: COMP/Build System
