Repository OpenModelica/OpenModelica, pull requests merged in 2025-02, with the labels that each got.

#13555 [NB/NF] update nested record typing
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/records/Makefile
  testsuite/simulation/modelica/NBackend/records/ReferenceFiles/record_arrays_1_res.mat
  testsuite/simulation/modelica/NBackend/records/record_arrays.mos
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13556 [NB] Fix clocked resizable components
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  testsuite/simulation/modelica/NBackend/clocked/Makefile
  testsuite/simulation/modelica/NBackend/clocked/arraySample.mos
Labels: COMP/OMC/New Backend

#13559 [TPL, C] update index mapping in C
  OMCompiler/Compiler/FrontEnd/DAE.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/SimCode, COMP/OMC/Codegen

#13560 [NB] update iterator collection
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#13563 Add offset to loadClassContentString
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/OMC/OMCProxy.h
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/loadClassContentString2.mos
Labels: COMP/GUI/OMEdit, COMP/OMC/Interactive Environment

#13561 [NB] update input record handling
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13567 [NB] update variable slicing in solve
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBCausalize.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  testsuite/simulation/modelica/NBackend/records/Makefile
  testsuite/simulation/modelica/NBackend/records/RecordCausality
  testsuite/simulation/modelica/NBackend/records/RecordCausality.mos
Labels: COMP/OMC/New Backend

#13568 [NB] handle non-continuous variables in der() call
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
Labels: COMP/OMC/New Backend

#13572 Allow adding break to the modification
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#13573 Draw corner items of connection when doing copy/paste
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13575 [NB] update adjacency if
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#13579 Partially implement evaluateStructuralParameter flag
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/Frontend

#13571 [NB] update function alias
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
Labels: COMP/OMC/New Backend

#13581 [NB] update function alias
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
Labels: COMP/OMC/New Backend

#13583 Move setComponentProperties to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/interactive_api_attributes.mos
Labels: COMP/OMC/Interactive Environment

#13584 Move getElementsInfo to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13590 Fix SSP connections
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13592 [Cleanup] Removed some unused/unnecessary code
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13585 Remove unused APIs
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13589 [NB] add correct reduction handling for adjacency
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/New Backend

#13594 Clean up Interactive
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13595 [NB] add retyping for function inlining
  OMCompiler/Compiler/NBackEnd/Util/NBReplacements.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/simulation/modelica/NBackend/functions/Makefile
  testsuite/simulation/modelica/NBackend/functions/function_inline_retype.mos
Labels: COMP/OMC/New Backend

#13597 [NF] fix retyping for builtin
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13596 Improve the cut copy paste
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#13599 Do not save the model before doing a reload
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#13600 Merge annotations better in loadClassContentString
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/loadClassContentString2.mos
Labels: COMP/OMC/Interactive Environment

#13603 Accept wheel event on comboboxes and spinboxes only when they have focus
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.h
  OMEdit/OMEditLIB/Simulation/SimulationDialog.cpp
  OMEdit/OMEditLIB/Simulation/SimulationDialog.h
  OMEdit/OMEditLIB/Util/StringHandler.cpp
  OMEdit/OMEditLIB/Util/StringHandler.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
Labels: COMP/GUI/OMEdit

#13598 [NB] update debugging output
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
Labels: COMP/OMC/New Backend

#13606 [NB] lower iterators after creating them for algorithm events
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13607 [NB] update failtrace to properly report non-lowered crefs
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#13609 [NB] failtrace: fix non lowered cref report
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#13611 [NB] remove special handling for reduction typed calls
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#13612 Fix flattening of crefs with no scalarization
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/VectorizeBindings5.mo
Labels: COMP/OMC/Frontend

#13613 Show the description of scripting API in plain text
  doc/UsersGuide/interface.mos
Labels: COMP/Documentation

#13614 Fix the paste functionality of graphical primitives
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#13620 Keep element-wiseness of division
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/OperationDivEW2.mo
Labels: COMP/OMC/Frontend

#13622 Strip comments for `list(..., interfaceOnly = true)`
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
Labels: COMP/OMC/Interactive Environment, COMP/Documentation

#13623 Improve the duplicate functionality
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/BitmapAnnotation.h
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/EllipseAnnotation.h
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/LineAnnotation.h
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/PolygonAnnotation.h
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/RectangleAnnotation.h
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/ShapeAnnotation.h
  OMEdit/OMEditLIB/Annotations/TextAnnotation.cpp
  OMEdit/OMEditLIB/Annotations/TextAnnotation.h
  OMEdit/OMEditLIB/Element/Element.cpp
  OMEdit/OMEditLIB/Element/Element.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
Labels: COMP/GUI/OMEdit

#13621 [NSim] update functions for zero crossing
  OMCompiler/Compiler/NFFrontEnd/NFStatement.mo
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
  testsuite/simulation/modelica/NBackend/event_handling/Makefile
  testsuite/simulation/modelica/NBackend/event_handling/algorithmWhen.mos
  testsuite/simulation/modelica/NBackend/event_handling/hybridSys.mos
Labels: COMP/OMC/New Backend

#13625 Fix cardinality with NB
  OMCompiler/Compiler/NFFrontEnd/NFCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
Labels: COMP/OMC/Frontend

#13626 [NB] make correct div operators when differentiating
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
Labels: COMP/OMC/New Backend

#13576 Cleanup jacobian index code
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_main.c
  OMCompiler/SimulationRuntime/c/simulation/solver/gbode_nls.c
  OMCompiler/SimulationRuntime/c/simulation/solver/kinsolSolver.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverKlu.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLapack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverLis.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverTotalPivot.c
  OMCompiler/SimulationRuntime/c/simulation/solver/linearSolverUmfpack.c
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHomotopy.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSolverHybrd.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation/solver/stateset.c
Labels: COMP/SimRT/C

#13634 Reset DynamicSelect when the result file is removed
  OMEdit/OMEditLIB/Plotting/DiagramWindow.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
  OMEdit/OMEditLIB/Plotting/VariablesWidget.h
Labels: COMP/GUI/OMEdit

#13631 Revert #13620
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFOperator.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/OperationDivEW2.mo
Labels: COMP/OMC/Frontend

#13632 Improve --evaluateStructuralParameters
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFStructural.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/flattening/modelica/scodeinst/ActualStreamMinMax2.mo
  testsuite/flattening/modelica/scodeinst/IfEquationEval5.mo
  testsuite/flattening/modelica/scodeinst/IfExpression12.mo
  testsuite/flattening/modelica/scodeinst/IfExpression14.mo
  testsuite/flattening/modelica/scodeinst/IfExpression4.mo
  testsuite/flattening/modelica/scodeinst/Makefile
  testsuite/flattening/modelica/scodeinst/RecordBinding13.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings5.mo
  testsuite/openmodelica/basemodelica/ArrayBinding1.mo
  testsuite/openmodelica/basemodelica/SD.mo
  testsuite/openmodelica/basemodelica/StateSelect1.mo
  testsuite/openmodelica/dataReconciliation/TSP_Splitter7.mos
Labels: COMP/OMC/Frontend

#13637 Fix definition of setParameterValue API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
Labels: COMP/OMC/Interactive Environment

#13643 Automatically try to set `each` based on the value for array element
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Element/ElementProperties.h
  OMEdit/OMEditLIB/Util/Utilities.cpp
  OMEdit/OMEditLIB/Util/Utilities.h
  OMEdit/Testsuite/Utilities/UtilitiesTest.cpp
  OMEdit/Testsuite/Utilities/UtilitiesTest.h
Labels: COMP/GUI/OMEdit

#13646 Handle connectorSizing before removing the connection
  OMEdit/OMEditLIB/Annotations/LineAnnotation.cpp
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
Labels: COMP/GUI/OMEdit

#13644 Port some parts of #13640
  OMCompiler/Compiler/FFrontEnd/FBuiltin.mo
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13647 Call handleCollidingConnections when adding simple command to stack
  OMEdit/OMEditLIB/Modeling/Commands.cpp
Labels: COMP/GUI/OMEdit

#13648 Remove some unused API functions
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Util/Settings.mo
  OMCompiler/Compiler/runtime/Settings_omc.cpp
  OMCompiler/Compiler/runtime/settingsimpl.c
Labels: COMP/OMC/Interactive Environment

#13650 Update the connectorSizing parameter on add/delete connection
  OMEdit/OMEditLIB/Modeling/Commands.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.h
  OMEdit/OMEditLIB/OMS/BusDialog.cpp
Labels: COMP/GUI/OMEdit

#13652 Trim empty if-branches
  OMCompiler/Compiler/NFFrontEnd/NFEquation.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyModel.mo
Labels: COMP/OMC/Frontend

#13654 Remove readFileNoNumeric API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Util/System.mo
  OMCompiler/Compiler/runtime/systemimpl.c
Labels: COMP/OMC/Interactive Environment

#13656 Fix getDefaultOpenCLDevice
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
Labels: COMP/OMC/Interactive Environment

#13657 Fix getNthImport
  OMCompiler/Compiler/Script/CevalScript.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getNthImport.mos
Labels: COMP/OMC/Interactive Environment

#13658 Improve the documentation
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Examples/GenerateDoc.mos
  testsuite/openmodelica/interactive-API/getClassComment.mos
Labels: COMP/Documentation

#13660 Fix evaluation of if-conditions for the NB
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  testsuite/flattening/modelica/scodeinst/VectorizeBindings5.mo
Labels: COMP/OMC/Frontend

#13661 [NB] update lowering of if equation error reporting
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend
