Repository OpenModelica/OpenModelica, pull requests merged in 2025-01, with the labels that each got.

#13437 [NB] add proper resizable detection
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
Labels: COMP/OMC/New Backend

#13441 Fix deprecated boost::asio usage in C++ runtime
  OMCompiler/SimulationRuntime/cpp/SimCoreFactory/OMCFactory/OMCFactory.cpp
Labels: COMP/SimRT/C++

#13442 [NB] properly slice size 1 loops before solving
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBSolve.mo
Labels: COMP/OMC/New Backend

#13439 [NB] detect previous() from all equations
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
Labels: COMP/OMC/New Backend

#13443 [NB] fix failtrace
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
Labels: COMP/OMC/New Backend

#13444 [NF] add resizable to dae
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13455 Convert multiple spaces to no break space
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
Labels: COMP/GUI/OMEdit

#13456 Use the diff algorithm to save the model after conversion
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.cpp
  OMEdit/OMEditLIB/Modeling/ModelicaClassDialog.h
Labels: COMP/GUI/OMEdit

#13460 [NF] Evaluate pre function
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13464 Use the same indentation as shown in command line for log file
  OMEdit/OMEditLIB/Modeling/ItemDelegate.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputHandler.h
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.cpp
  OMEdit/OMEditLIB/Simulation/SimulationOutputWidget.h
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#13461 [NSIM] Fix when indices
  OMCompiler/Compiler/NSimCode/NSimStrongComponent.mo
Labels: COMP/OMC/SimCode, COMP/OMC/New Backend

#13465 Add imports to getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFClassTree.mo
  OMCompiler/Compiler/NFFrontEnd/NFImport.mo
  OMCompiler/Compiler/Script/NFApi.mo
  doc/instanceAPI/getModelInstance.schema.json
  testsuite/openmodelica/instance-API/GetModelInstanceImport1.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13467 [NB] v1 resizable module
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBMatching.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFDimension.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFType.mo
  OMCompiler/Compiler/NFFrontEnd/NFVariable.mo
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/testVectorizedPowerSystem.mos
  testsuite/simulation/modelica/NBackend/array_handling/testVectorizedSolarSystem.mos
Labels: COMP/OMC/New Backend

#13469 Apply the extends modifiers when copying an inherited element
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13471 [C] Activate newton diagnostics with log flag
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/util/omc_error.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.c
  OMCompiler/SimulationRuntime/c/util/simulation_options.h
  testsuite/simulation/modelica/newtonDiagnostics/newtonDiagnostics-01.mos
Labels: COMP/SimRT/C

#13473 Handle the imports when opening the class under the cursor
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13475 Include imports from enclosing scopes in getModelInstance
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceImport2.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13476 Update the instance JSON after deleting the component
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
  OMEdit/OMEditLIB/Modeling/ModelWidgetContainer.cpp
Labels: COMP/GUI/OMEdit

#13477 [C] Run newton diagnostics only on initial systems
  OMCompiler/SimulationRuntime/c/simulation/simulation_info_json.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/simulation_data.h
  testsuite/simulation/modelica/newtonDiagnostics/newtonDiagnostics-01.mos
Labels: COMP/SimRT/C

#13472 [NF] add --resizableArrays flag
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFBackendExtension.mo
  OMCompiler/Compiler/NFFrontEnd/NFFunction.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFRecord.mo
  OMCompiler/Compiler/Script/NFApi.mo
  OMCompiler/Compiler/Util/Flags.mo
  OMCompiler/Compiler/Util/FlagsUtil.mo
Labels: COMP/OMC/Frontend, COMP/OMC/New Backend

#13481 Handle the parameters that have empty dialog annotation
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13482 Update the documentation history when the class is unloaded
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.cpp
  OMEdit/OMEditLIB/Modeling/DocumentationWidget.h
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#13483 [NB] Fix residual if equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#13486 [C] Check if Jacobian is available
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
Labels: COMP/SimRT/C

#13489 [NB] remove printing test
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
Labels: COMP/OMC/New Backend

#13490 [NB] update msss collection
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
Labels: COMP/OMC/New Backend

#13491 Fix annotation instantiation in getModelInstance
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFInstContext.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation13.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/OMC/Frontend, COMP/GUI/InstBased Interface

#13496 [C] Assert when out of memory
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
Labels: COMP/SimRT/C

#13492 Revert "Handle the parameters that have empty dialog annotation (#13481)
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
Labels: COMP/GUI/OMEdit

#13498 Do not load OpenModelica at startup
  OMEdit/OMEditLIB/Editors/ModelicaEditor.cpp
  OMEdit/OMEditLIB/MainWindow.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  OMEdit/OMEditLIB/Options/OptionsDialog.cpp
  OMEdit/OMEditLIB/Util/Helper.cpp
  OMEdit/OMEditLIB/Util/Helper.h
Labels: COMP/GUI/OMEdit

#13499 [Cleanup] Removed the unused/unnecessary code
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.h
Labels: COMP/GUI/OMEdit

#13497 [NB] update array constructor inlining
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBInitialization.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBInline.mo
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13501 [NB] add sum() differentiation
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBFunctionAlias.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  testsuite/simulation/modelica/NBackend/array_handling/irregular_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/simple_nested_for.mos
  testsuite/simulation/modelica/NBackend/array_handling/testVectorizedPowerSystem.mos
  testsuite/simulation/modelica/NBackend/basics/partitioning.mos
  testsuite/simulation/modelica/NBackend/functions/function_annotation_der.mos
  testsuite/simulation/modelica/NBackend/functions/function_diff.mos
Labels: COMP/OMC/New Backend

#13503 [NB] do not remove equations from data
  OMCompiler/Compiler/NBackEnd/Modules/1_Main/NBResolveSingularities.mo
Labels: COMP/OMC/New Backend

#13504 [NB] update StrongComponent.collectCrefs
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13500 Keep empty annotations in getModelInstance
  OMCompiler/Compiler/FrontEnd/AbsynToSCode.mo
  OMCompiler/Compiler/Parsers/JSON.mo
  OMCompiler/Compiler/Script/NFApi.mo
  testsuite/openmodelica/instance-API/GetModelInstanceAnnotation14.mos
  testsuite/openmodelica/instance-API/Makefile
Labels: COMP/GUI/InstBased Interface

#13509 [NB] Alias: fix non literal nominal report
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBAlias.mo
Labels: COMP/OMC/New Backend

#13510 [NB] use fake map to ensure that function is used
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13513 Add dimensions to the element tooltip in Element Browser
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.cpp
  OMEdit/OMEditLIB/Modeling/ElementTreeWidget.h
Labels: COMP/GUI/OMEdit

#13514 Allow adding a custom separator to dimension join functions
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#13517 [NB] remove error reporting for expected fail case
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
Labels: COMP/OMC/New Backend

#13518 [NB] update resizable
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
Labels: COMP/OMC/New Backend

#13520 [NB] partially fix fill() and similar functions for resizable input
  OMCompiler/Compiler/NBackEnd/Classes/NBackendDAE.mo
  OMCompiler/Compiler/NFFrontEnd/NFBuiltinCall.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
Labels: COMP/OMC/New Backend

#13521 [NB] resizable update for array equations
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBStrongComponent.mo
  OMCompiler/Compiler/NBackEnd/Classes/NBVariable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBAdjacency.mo
  OMCompiler/Compiler/NBackEnd/Util/NBResizable.mo
  OMCompiler/Compiler/NBackEnd/Util/NBSlice.mo
  OMCompiler/Compiler/NFFrontEnd/NFComponentRef.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnector.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpandExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFFlatten.mo
  OMCompiler/Compiler/NFFrontEnd/NFRangeIterator.mo
  OMCompiler/Compiler/NFFrontEnd/NFScalarize.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFSubscript.mo
Labels: COMP/OMC/New Backend

#13519 Move renameClass/Component to the typed API
  OMCompiler/Compiler/FrontEnd/AbsynUtil.mo
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScript.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  testsuite/openmodelica/interactive-API/Rename.mos
Labels: COMP/OMC/Interactive Environment

#13527 Move getCrefInfo to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/FrontEnd/ValuesUtil.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
  testsuite/openmodelica/interactive-API/Makefile
  testsuite/openmodelica/interactive-API/getNthConnectorIconAnnotation.mos
  testsuite/openmodelica/interactive-API/loadFileInteractiveQualified.mos
Labels: COMP/OMC/Interactive Environment

#13528 Take care of redeclare when copying extends modification
  OMEdit/OMEditLIB/Modeling/Model.cpp
  OMEdit/OMEditLIB/Modeling/Model.h
Labels: COMP/GUI/OMEdit

#13529 [NB] update event handling with reductions
  OMCompiler/Compiler/FrontEnd/ComponentReference.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
Labels: COMP/OMC/New Backend

#13530 [OB] update reduction events
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/FrontEnd/DAEUtil.mo
Labels: COMP/OMC/Backend

#13532 Remove unused case for getErrorString in Interactive
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13533 Move getExtendsModifierValue to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
Labels: COMP/OMC/Interactive Environment

#13534 Move isExtendsModifierFinal to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMCompiler/Compiler/Script/InteractiveUtil.mo
Labels: COMP/OMC/Interactive Environment

#13535 [template,NB] update relation index
  OMCompiler/Compiler/Template/CodegenC.tpl
Labels: COMP/OMC/Codegen, COMP/OMC/New Backend

#13540 [C] avoid threadData for asserts in newton diagnostics
  OMCompiler/SimulationRuntime/c/simulation/solver/newton_diagnostics.c
  OMCompiler/SimulationRuntime/c/simulation/solver/nonlinearSystem.c
  OMCompiler/SimulationRuntime/c/util/omc_error.c
Labels: COMP/SimRT/C

#13538 Move getDefaultComponentName/Prefixes to the typed API
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMCompiler/Compiler/Script/CevalScriptBackend.mo
  OMCompiler/Compiler/Script/Interactive.mo
  OMEdit/OMEditLIB/OMC/OMCProxy.cpp
  testsuite/openmodelica/interactive-API/DefaultComponentName.mos
Labels: COMP/GUI/OMEdit, COMP/OMC/Interactive Environment

#13541 [NSim] add top level inputs to algebraics
  OMCompiler/Compiler/NSimCode/NSimVar.mo
  testsuite/Makefile
  testsuite/simulation/modelica/NBackend/tickets/13328.mos
  testsuite/simulation/modelica/NBackend/tickets/Makefile
  testsuite/simulation/modelica/NBackend/tickets/ReferenceFiles/Iterator_res.mat
Labels: COMP/OMC/New Backend

#13495 [NF] Added relation index in NFExpression.RELATION needed in event codegen
  OMCompiler/Compiler/NBackEnd/Classes/NBEquation.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBDetectStates.mo
  OMCompiler/Compiler/NBackEnd/Modules/2_Pre/NBEvents.mo
  OMCompiler/Compiler/NBackEnd/Util/NBDifferentiate.mo
  OMCompiler/Compiler/NFFrontEnd/NFCeval.mo
  OMCompiler/Compiler/NFFrontEnd/NFConnectEquations.mo
  OMCompiler/Compiler/NFFrontEnd/NFExpression.mo
  OMCompiler/Compiler/NFFrontEnd/NFInst.mo
  OMCompiler/Compiler/NFFrontEnd/NFSimplifyExp.mo
  OMCompiler/Compiler/NFFrontEnd/NFTypeCheck.mo
  OMCompiler/Compiler/NFFrontEnd/NFTyping.mo
Labels: COMP/OMC/New Backend

#13543 Added comment to OpenModelica annotations for auto complete tooltip
  OMCompiler/Compiler/FrontEnd/ModelicaBuiltin.mo
  OMCompiler/Compiler/NFFrontEnd/NFModelicaBuiltin.mo
  OMEdit/OMEditLIB/Element/Element.cpp
Labels: COMP/GUI/OMEdit

#13544 [OB] fix sim iterator for zero crossings
  OMCompiler/Compiler/BackEnd/BackendDAEUtil.mo
  OMCompiler/Compiler/BackEnd/FindZeroCrossings.mo
  OMCompiler/Compiler/BackEnd/ZeroCrossings.mo
  OMCompiler/Compiler/SimCode/SimCodeUtil.mo
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/Compiler/Template/SimCodeTV.mo
Labels: COMP/OMC/Backend, COMP/OMC/Codegen

#12969 [C] Compute index map for variables (wip)
  OMCompiler/Compiler/Template/CodegenC.tpl
  OMCompiler/SimulationRuntime/c/openmodelica_func.h
  OMCompiler/SimulationRuntime/c/simulation/solver/model_help.c
Labels: COMP/SimRT/C, COMP/OMC/Codegen

#13550 Allow deleting OpenModelica with key press
  OMEdit/OMEditLIB/Element/ElementProperties.cpp
  OMEdit/OMEditLIB/Modeling/LibraryTreeWidget.cpp
Labels: COMP/GUI/OMEdit

#13554 [NB] Make algebraic loop from resizable component
  OMCompiler/Compiler/NBackEnd/Modules/3_Post/NBTearing.mo
  testsuite/simulation/modelica/NBackend/tearing/Makefile
  testsuite/simulation/modelica/NBackend/tearing/loopSizeOne.mos
Labels: COMP/OMC/New Backend

#13549 [C] Fix import of variable start attributes
  OMCompiler/SimulationRuntime/c/simulation/solver/initialization/initialization.c
  testsuite/simulation/modelica/initialization/bug_2673b.mos
Labels: COMP/SimRT/C

#13557 Update the curve using unit and then plot it
  OMEdit/OMEditLIB/Plotting/VariablesWidget.cpp
Labels: COMP/GUI/OMEdit
